<template>
  <div class="card s__item_card" style="cursor: pointer" @click="onClick">
    <div class="card__preview">
      <div class="imgLazyLoading" v-if="loading"></div>

      <img @load="onImgLoad" :src="image" :alt="name" />
    </div>
    <a class="card__link" :href="'/explore/' + _id">
      <div class="card__body">
        <div class="card__line">
          <div class="card__title">
            <div class="asset__title">{{ name }} #{{ token_id }}</div>
          </div>
        </div>
        <div class="card__line">
          <div class="card__users">
            <!-- {{description}} -->
            <!-- <div class="card__avatar">
              <img src="/img/content/avatar-1.jpg" alt="Avatar" />
            </div>
            <div class="card__avatar">
              <img src="/img/content/avatar-3.jpg" alt="Avatar" />
            </div>
            <div class="card__avatar">
              <img src="/img/content/avatar-4.jpg" alt="Avatar" />
            </div> -->
          </div>
          <div class="card__counter">
            popular <span role="/img" aria-label="fire">🔥</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import DelayMixin from "~/mixins/delayMixin";

export default {
  name: "SItem",

  mixins: [DelayMixin],

  props: {
    _id: "",
    name: "",
    description: "",
    image: "",
    token_id: "",
  },

  data() {
    return {
      loading: true,
    };
  },

  computed: {
    imageUrl() {
      return this.image;
    },
  },

  methods: {
    onClick() {
      this.$router.push("/explore/" + this._id);
    },
    async onImgLoad() {
      await this.sleep(1000);
      this.loading = false;
    },
  },
};
</script>
