<template>
  <!-- footer-->
  <footer class="footer">
    <div class="footer__center center">
      <div class="footer__row">
        <div class="footer__col">
          <a class="footer__logo" href="/">
            <img
              class="some-icon"
              src="/img/logo-dark.svg"
              alt="OpenMerch NFT"
            />
            <img
              class="some-icon-dark"
              src="/img/logo-light.svg"
              alt="OpenMerch NFT"
            />
          </a>

          <div class="footer__info">Landing NFTs on the physical world</div>
          <div class="footer__theme">
            <div class="footer__details">Dark theme</div>
            <label class="theme js-theme theme_big">
              <input class="theme__input" type="checkbox" /><span
                class="theme__inner"
                ><span class="theme__box"></span
              ></span>
            </label>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__group">
            <div class="footer__head">
              Marketplace
              <svg class="icon icon-arrow-bottom">
                <use xlink:href="#icon-arrow-bottom"></use>
              </svg>
            </div>
            <div class="footer__body">
              <div class="footer__menu">
                <a class="footer__link" href="/explore">Explore</a>
                <a class="footer__link" href="#"
                  >Collections <span class="soon"> SOON </span></a
                >
                <a class="footer__link" href="#"
                  >How It Works <span class="soon"> SOON </span></a
                >
              </div>
            </div>
          </div>
          <div class="footer__group">
            <div class="footer__head">
              Blog
              <svg class="icon icon-arrow-bottom">
                <use xlink:href="#icon-arrow-bottom"></use>
              </svg>
            </div>
            <div class="footer__body">
              <div class="footer__menu">
                <a class="footer__link" href="#"
                  >Blog <span class="soon"> SOON </span></a
                >
                <a class="footer__link" href="#"
                  >About <span class="soon"> SOON </span></a
                >
                <a class="footer__link" href="#"
                  >Contact Us <span class="soon"> SOON </span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__category">Join Newsletter</div>
          <div class="footer__text">
            Subscribe our newsletter to be the first to know when we launch!
          </div>
          <form
            class="subscription"
            id="subscribe-form"
            @submit="onSubmitSubscribe"
            method="POST"
            action="https://9f7d2410.sibforms.com/serve/MUIEALOoZcLstpl_biMrwpC6BSmA1kddzjM8SU5VFACN25wkI6rn16xKlJOPN-4kjmY7X5IHbfu_cheRmVJs0ScJj7rhsk6FNJ1KbaNqfWRRvgTVtadLDUvjpI5joj_87drygoxmB0B6NbEUe4UX6oBt00xY2mswevI6oCmIKst79ivR_XXEaHMu8CjmCZgH_a5lpei9ljTzhA68"
            data-type="subscription"
          >
            <input
              class="subscription__input"
              placeholder="Enter your email"
              id="EMAIL"
              name="EMAIL"
              v-model="email"
              autocomplete="off"
              data-required="true"
              required
            />
            <button class="subscription__btn sib-form-block" type="submit">
              <svg
                width="14"
                height="9"
                viewBox="0 0 14 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.09094 0.265207C9.49676 -0.109399 10.1294 -0.0840962 10.504 0.321722L13.7348 3.82168C14.0884 4.20474 14.0884 4.79518 13.7348 5.17824L10.504 8.67828C10.1294 9.08411 9.49677 9.10941 9.09095 8.73481C8.68513 8.36021 8.65982 7.72755 9.03442 7.32173L10.716 5.49997L0.999999 5.49997C0.447714 5.49997 -7.64154e-07 5.05225 -7.86799e-07 4.49997C-8.09444e-07 3.94768 0.447714 3.49997 0.999999 3.49997L10.716 3.49997L9.03443 1.67829C8.65982 1.27247 8.68513 0.639813 9.09094 0.265207Z"
                  fill="#FCFCFD"
                />
              </svg>
            </button>

            <label
              class="entry__error entry__error--primary"
              style="
                font-size: 16px;
                text-align: left;
                font-family: 'Helvetica', sans-serif;
                color: #661d1d;
                background-color: #ffeded;
                border-radius: 3px;
                border-color: #ff4949;
              "
            >
            </label>
            <label
              class="entry__specification"
              style="
                font-size: 12px;
                text-align: left;
                font-family: 'Helvetica', sans-serif;
                color: #8390a4;
              "
            >
              Provide your email address to subscribe.
            </label>

            <!--            <input-->
            <!--              type="text"-->
            <!--              name="email_address_check"-->
            <!--              value=""-->
            <!--              class="input&#45;&#45;hidden"-->
            <!--            />-->
            <input type="hidden" name="locale" value="en" />
          </form>
        </div>
      </div>
      <div class="footer__foot">
        <div class="footer__copyright">
          Copyright © 2022 OpenMerch. All rights reserved
        </div>
        <div class="footer__note">
          We use cookies for better service. <a href="/#">Accept</a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";
export default {
  name: "GFooter",
  data() {
    return {
      email: "",
    };
  },

  created() {},
  async mounted() {
    try {
      await this.$recaptcha.init();
    } catch (e) {
      console.error(e);
    }
  },
  beforeDestroy() {
    this.$recaptcha.destroy();
  },
  methods: {
    async onSubmitSubscribe(event) {
      try {
        event.preventDefault();
        const token = await this.$recaptcha.execute("login");
        await this.$axios
          .post(`${apiRoutes.UPDATE_PROFILE}/subscribe`, { email: this.email })
          .then((response) => {
            this.email = "";
            return this.$toast.success(
              "Your subscription has been successful."
            );
          })
          .catch((error) => {
            this.$toast.error(error);
          });
      } catch (error) {
        console.log("Login error:", error);
      }
      return;
      const data = new URLSearchParams();
      for (const pair of new FormData(
        document.getElementById("subscribe-form")
      )) {
        data.append(pair[0], pair[1]);
      }

      await fetch(
        "https://9f7d2410.sibforms.com/serve/MUIEALOoZcLstpl_biMrwpC6BSmA1kddzjM8SU5VFACN25wkI6rn16xKlJOPN-4kjmY7X5IHbfu_cheRmVJs0ScJj7rhsk6FNJ1KbaNqfWRRvgTVtadLDUvjpI5joj_87drygoxmB0B6NbEUe4UX6oBt00xY2mswevI6oCmIKst79ivR_XXEaHMu8CjmCZgH_a5lpei9ljTzhA68",
        {
          method: "post",
          body: data,
        }
      )
        .then((data) => {
          this.$toast.success("Your subscription has been successful.");
        })
        .catch((err) => {
          this.$toast.success("Your subscription has been successful.");
          // this.$toast.error('Your subscription could not be saved. Please try again.')
        });
    },
  },
};
</script>

<style scoped></style>
