<template>
  <div>
    <upgrading v-if="isUpgrading" />
    <header class="header js-header" data-id="#header">
      <div class="header__center center">
        <nuxt-link class="header__logo" to="/"
          ><img class="some-icon" src="/img/logo-dark.svg" alt="OpenMerch" />
          <img
            class="some-icon-dark"
            src="/img/logo-light.svg"
            alt="OpenMerch NFT"
        /></nuxt-link>
        <div id="header_wrapper" class="header__wrapper js-header-wrapper">
          <nav class="header__nav" @click="hideNavBar">
            <nuxt-link class="header__link" to="/explore">Explore</nuxt-link>
            <nuxt-link class="header__link" to="#"
              >Collections <span class="soon"> SOON </span></nuxt-link
            >

            <nuxt-link class="header__link" to="#"
              >How it works <span class="soon"> SOON </span></nuxt-link
            >
          </nav>
          <form class="header__search" @submit="onSearchSubmit">
            <input
              class="header__input"
              type="text"
              v-model="search"
              v-debounce="onSearchKeyPress"
              name="search"
              placeholder="Search"
              required
            />
            <button class="header__result">
              <svg class="icon icon-search">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>
          </form>
          <button
            v-if="!isConnected"
            class="button-stroke button-small header__button header__connect"
            @click="onConnectClick"
          >
            Connect Wallet
          </button>
        </div>
        <div class="header__item header__item_notification js-header-item">
          <button class="header__head js-header-head active">
            <svg class="icon icon-notification">
              <use xlink:href="#icon-notification"></use>
            </svg>
          </button>
          <div class="header__body js-header-body">
            <div class="header__title h4">Notification</div>
            <div class="header__list">
              <a class="header__notification" href="activity.html">
                <div class="header__preview">
                  <img
                    src="/img/content/notification-pic-1.jpg"
                    alt="Notification"
                  />
                </div>
                <div class="header__details">
                  <div class="header__subtitle">ETH received</div>
                  <div class="header__price">0.08 ETH recived</div>
                  <div class="header__date">2 days ago</div>
                </div>
                <div class="header__status"></div> </a
              ><a class="header__notification" href="activity.html">
                <div class="header__preview">
                  <img
                    src="/img/content/notification-pic-2.jpg"
                    alt="Notification"
                  />
                </div>
                <div class="header__details">
                  <div class="header__subtitle">C O I N Z</div>
                  <div class="header__price">New bid 0.2 ETH</div>
                  <div class="header__date">3 days ago</div>
                </div>
                <div class="header__status"></div> </a
              ><a class="header__notification" href="activity.html">
                <div class="header__preview">
                  <img
                    src="/img/content/notification-pic-3.jpg"
                    alt="Notification"
                  />
                </div>
                <div class="header__details">
                  <div class="header__subtitle">ETH received</div>
                  <div class="header__price">0.08 ETH recived</div>
                  <div class="header__date">4 days ago</div>
                </div>
                <div class="header__status"></div> </a
              ><a class="header__notification" href="activity.html">
                <div class="header__preview">
                  <img
                    src="/img/content/notification-pic-4.jpg"
                    alt="Notification"
                  />
                </div>
                <div class="header__details">
                  <div class="header__subtitle">ETH received</div>
                  <div class="header__price">0.08 ETH recived</div>
                  <div class="header__date">5 days ago</div>
                </div>
                <div class="header__status"></div> </a
              ><a class="button-small header__button" href="activity.html"
                >See all</a
              >
            </div>
          </div>
        </div>

        <div
          class="header__item header__item_user js-header-item js-demo-user"
          :style="{ display: isConnected ? 'block' : 'none' }"
        >
          <button class="header__head js-header-head">
            <div class="header__avatar">
              <img :src="collection_avatar" alt="Avatar" />
            </div>
            <div class="header__wallet">
              {{ walletAddressBriefed }}
            </div>
          </button>
          <div class="header__body js-header-body">
            <div class="header__name_">
              <div v-if="walletStatus.length <= 0 && isConnected">
                <div v-if="collection_assets && collection_assets.length > 0">
                  TLR Holder 🎉
                </div>
                <div v-else>
                  <a href="https://opensea.io/collection/thelastraptor"
                    >BUY TLR 🦖</a
                  >
                </div>
              </div>
              <div v-else>
                <!--               <small> checking...</small>-->
              </div>
            </div>
            <div class="header__code">
              <div class="header__number">
                {{ walletAddressBriefed }}
              </div>
              <button class="header__copy">
                <svg class="icon icon-copy">
                  <use xlink:href="#icon-copy"></use>
                </svg>
              </button>
            </div>
            <div class="header__menu" v-if="userName">
              <nuxt-link class="header__link" :to="'/' + userName">
                <div class="header__icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M3 16V8H1V16C1 18.2091 2.79086 20 5 20H15C17.2091 20 19 18.2091 19 16V8H17V16C17 17.1046 16.1046 18 15 18H13V15C13 13.3431 11.6569 12 10 12C8.34315 12 7 13.3431 7 15V18H5C3.89543 18 3 17.1046 3 16ZM9 18H11V15C11 14.4477 10.5523 14 10 14C9.44771 14 9 14.4477 9 15V18Z"
                      fill="#777E91"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M5.60555 0C3.95232 0 2.323 0.823864 1.42716 2.35022C1.14021 2.83914 0.815812 3.42359 0.556993 3.98204C0.427826 4.26075 0.300452 4.56394 0.20196 4.86585C0.113595 5.13672 0 5.54847 0 6C0 6.79714 0.195407 7.80859 0.901057 8.65537C1.66018 9.56631 2.76904 10 4 10C5.1686 10 6.07421 9.45506 6.65541 8.96857C6.8536 8.80268 7.1464 8.80268 7.34459 8.96857C7.92579 9.45506 8.8314 10 10 10C11.1686 10 12.0742 9.45507 12.6554 8.96857C12.8536 8.80268 13.1464 8.80268 13.3446 8.96857C13.9258 9.45507 14.8314 10 16 10C17.231 10 18.3398 9.56631 19.0989 8.65537C19.8046 7.80859 20 6.79714 20 6C20 5.54847 19.8864 5.13672 19.798 4.86585C19.6995 4.56394 19.5722 4.26075 19.443 3.98204C19.1842 3.42359 18.8598 2.83914 18.5728 2.35022C17.677 0.823863 16.0477 0 14.3944 0H5.60555ZM5.60555 2C4.60249 2 3.65975 2.49749 3.15203 3.36256C2.60688 4.29142 2 5.44915 2 6C2 7 2.5 8 4 8C5.05172 8 5.85764 7.01679 6.24541 6.42911C6.41417 6.17334 6.69357 6 7 6C7.30643 6 7.58583 6.17334 7.75459 6.42911C8.14236 7.01679 8.94828 8 10 8C11.0517 8 11.8576 7.01679 12.2454 6.42911C12.4142 6.17334 12.6936 6 13 6C13.3064 6 13.5858 6.17334 13.7546 6.42911C14.1424 7.01679 14.9483 8 16 8C17.5 8 18 7 18 6C18 5.44915 17.3931 4.29142 16.848 3.36256C16.3403 2.49749 15.3975 2 14.3944 2H5.60555Z"
                      fill="#777E91"
                    />
                  </svg>
                </div>
                <div class="header__text">My store</div>
              </nuxt-link>
              <nuxt-link class="header__link" to="/orders">
                <div class="header__icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.7424 6H4.25797C3.10433 6 2.1899 6.97336 2.26187 8.12476L2.76187 16.1248C2.82775 17.1788 3.70185 18 4.75797 18H15.2424C16.2985 18 17.1726 17.1788 17.2385 16.1248L17.7385 8.12476C17.8104 6.97336 16.896 6 15.7424 6ZM4.25797 4C1.95069 4 0.121837 5.94672 0.265762 8.24951L0.765762 16.2495C0.89752 18.3577 2.64572 20 4.75797 20H15.2424C17.3546 20 19.1028 18.3577 19.2346 16.2495L19.7346 8.24951C19.8785 5.94672 18.0496 4 15.7424 4H4.25797Z"
                      fill="#777E91"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M5 5C5 2.23858 7.23858 0 10 0C12.7614 0 15 2.23858 15 5V7C15 7.55228 14.5523 8 14 8C13.4477 8 13 7.55228 13 7V5C13 3.34315 11.6569 2 10 2C8.34315 2 7 3.34315 7 5V7C7 7.55228 6.55228 8 6 8C5.44772 8 5 7.55228 5 7V5Z"
                      fill="#777E91"
                    />
                  </svg>
                </div>
                <div class="header__text">My orders</div>
              </nuxt-link>
              <nuxt-link class="header__link" to="/account">
                <div class="header__icon">
                  <img src="/icons/myprofile.svg" />
                </div>
                <div class="header__text">My Profile</div>
              </nuxt-link>
              <div class="header__link">
                <div class="header__icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 14 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M9.49967 11.0721L10.1239 10.5717C11.2704 9.65265 11.9997 8.24588 11.9997 6.66764C11.9997 3.90622 9.7611 1.66764 6.99967 1.66764C4.23825 1.66764 1.99967 3.90622 1.99967 6.66764C1.99967 8.24588 2.72898 9.65265 3.87546 10.5717L4.49967 11.0721V13.3343C4.49967 13.7945 4.87277 14.1676 5.33301 14.1676H8.66634C9.12658 14.1676 9.49967 13.7945 9.49967 13.3343V11.0721ZM11.1663 11.8721V13.3343C11.1663 14.715 10.0471 15.8343 8.66634 15.8343H5.33301C3.9523 15.8343 2.83301 14.715 2.83301 13.3343V11.8721C1.3089 10.6504 0.333008 8.77296 0.333008 6.66764C0.333008 2.98575 3.31778 0.000976562 6.99967 0.000976562C10.6816 0.000976562 13.6663 2.98575 13.6663 6.66764C13.6663 8.77296 12.6904 10.6504 11.1663 11.8721Z"
                      fill="#777E91"
                    />
                    <path
                      d="M5.92259 6.91205C5.59715 6.58661 5.06951 6.58661 4.74408 6.91205C4.41864 7.23748 4.41864 7.76512 4.74408 8.09056L6.16667 9.51315V14.168H7.83333V9.51315L9.25592 8.09056C9.58136 7.76512 9.58136 7.23748 9.25592 6.91205C8.93049 6.58661 8.40285 6.58661 8.07741 6.91205L7 7.98946L5.92259 6.91205Z"
                      fill="#777E91"
                    />
                  </svg>
                </div>
                <div class="header__text">Dark theme</div>
                <label class="theme js-theme">
                  <input class="theme__input" type="checkbox" />
                  <span class="theme__inner">
                    <span class="theme__box"></span>
                  </span>
                </label>
              </div>
              <button class="header__link" @click="onLogoutClick">
                <span class="header__icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8.19058 11.5012C8.65049 11.4839 9.03739 11.8426 9.05476 12.3025C9.0939 13.3394 9.14887 14.0961 9.20292 14.6387C9.25615 15.173 9.57872 15.4945 10.0284 15.5495C10.5586 15.6143 11.3065 15.6673 12.3329 15.6673C13.3593 15.6673 14.1073 15.6143 14.6375 15.5495C15.0869 15.4945 15.4096 15.1729 15.4629 14.6384C15.5632 13.6313 15.6662 11.8913 15.6662 9.00065C15.6662 6.10997 15.5632 4.36999 15.4629 3.36288C15.4096 2.82842 15.0869 2.50679 14.6375 2.45185C14.1073 2.38703 13.3593 2.33398 12.3329 2.33398C11.3065 2.33398 10.5586 2.38703 10.0284 2.45184C9.57872 2.50681 9.25615 2.8283 9.20292 3.36263C9.14887 3.90519 9.0939 4.66193 9.05476 5.69875C9.03739 6.15866 8.65049 6.51742 8.19058 6.50006C7.73067 6.4827 7.37191 6.09579 7.38928 5.63588C7.42945 4.57169 7.48641 3.78017 7.54447 3.19741C7.66651 1.97227 8.52068 0.957069 9.82614 0.797489C10.4338 0.723205 11.2503 0.667316 12.3329 0.667316C13.4156 0.667316 14.232 0.723209 14.8397 0.797496C16.1453 0.957098 16.9993 1.97278 17.1213 3.19767C17.2288 4.27622 17.3329 6.07438 17.3329 9.00065C17.3329 11.9269 17.2288 13.7251 17.1213 14.8036C16.9993 16.0285 16.1453 17.0442 14.8397 17.2038C14.232 17.2781 13.4156 17.334 12.3329 17.334C11.2503 17.334 10.4338 17.2781 9.82615 17.2038C8.52069 17.0442 7.66651 16.029 7.54447 14.8039C7.48641 14.2211 7.42945 13.4296 7.38928 12.3654C7.37191 11.9055 7.73067 11.5186 8.19058 11.5012Z"
                      fill="#777E91"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M5.00625 11.3284C5.33169 11.6538 5.33169 12.1815 5.00625 12.5069C4.68081 12.8323 4.15317 12.8323 3.82774 12.5069L0.91107 9.59023C0.585633 9.2648 0.585633 8.73716 0.91107 8.41172L3.82774 5.49505C4.15317 5.16962 4.68081 5.16962 5.00625 5.49505C5.33169 5.82049 5.33169 6.34813 5.00625 6.67357L3.51217 8.16764H11.5003C11.9606 8.16764 12.3337 8.54074 12.3337 9.00098C12.3337 9.46121 11.9606 9.83431 11.5003 9.83431L3.51217 9.83431L5.00625 11.3284Z"
                      fill="#777E91"
                    />
                  </svg>
                </span>
                <span class="header__text">Disconnect</span>
              </button>
            </div>
          </div>
        </div>
        <button
          v-if="!isConnected"
          class="button-stroke button-small header__button header__connect"
          @click="onConnectClick"
        >
          Connect Wallet
        </button>
        <button id="nav" class="header__burger js-header-burger"></button>
      </div>
    </header>
  </div>
</template>

<script>
import { INITIATION_ETHEREUM, WALLET_LOGOUT } from "~/store/wallet";
import apiRoutes from "~/config/apiRoutes";
import Upgrading from "~/components/Upgrading";
import helperMixin from "~/mixins/helperMixin";
import connectMixin from "~/mixins/connect.mixin";
import { CollectionService } from "~/services/collectionService";
import { UPDATE_ASSETS, UPDATE_BASE_COLLECTION } from "~/store/collections";

export default {
  name: "GHeader",
  components: { Upgrading },

  mixins: [connectMixin, helperMixin],

  data() {
    return {
      search: "",
      visible: false,
    };
  },

  computed: {
    // isConnected() {
    //   return !this.$store.getters["wallet/isConnected"];
    // },
    collection_assets() {
      return this.$store.getters["collections/assets"];
    },
    collection_avatar() {
      try {
        if (this.collection_assets.length > 0)
          return (
            this.$auth.user.photo_uri?.replace('https://nftul-storge.nyc3.digitaloceanspaces.com', process.env.CDN_URL) ||
            this.$store.getters["collections/avatar"]
          );
        return "/img/content/def.jpg";
      } catch (e) {
        return this.$store.getters["collections/avatar"];
      }
    },
    userName() {
      if (this.$auth.user) return this.$auth.user.name;
    },
    walletStatus() {
      return this.$store.getters["wallet/status"];
    },
  },

  methods: {
    async onConnectClick() {
      await this.$store
        .dispatch("wallet/" + INITIATION_ETHEREUM)
        .then((wallet) => {
          //
          this.$auth
            .loginWith("local", {
              data: { wallet_address: wallet },
            })
            .then(async () => {
              this.$cookies.set("wallet-connected", true, {
                path: "/",
                maxAge: 60 * 60 * 24 * 7,
              });
              await this.$axios.$get("/setting/collections").then((data) => {
                this.$store.dispatch(
                  "collections/" + UPDATE_BASE_COLLECTION,
                  data
                );
              });
              let contracts = this.$store.getters["collections/base"].map(
                (item) => {
                  return item.address;
                }
              );
              const walletAssets = await CollectionService.getWalletAssets(
                this.$store.getters["wallet/getWalletAddress"],
                contracts
              );
              await this.$store.dispatch(
                "collections/" + UPDATE_ASSETS,
                walletAssets
              );
            })
            .catch(async (e) => {
              console.log('%cGHeader.vue line:365 e', 'color: #007acc;', e);
              await this.$store.dispatch("wallet/" + WALLET_LOGOUT);
              await this.$auth.logout();
              await this.$cookies.remove("wallet-connected");
              // await this.$router.push("/connect");
            });
        })
        .catch((err) => {
          this.$cookies.remove("wallet-connected");
          alert("Metamask not installed");
        });
    },

    async onLogoutClick() {
      await this.$store.dispatch("wallet/" + WALLET_LOGOUT);
      await this.$auth.logout();
      await this.$cookies.remove("wallet-connected");
      // await this.$router.push("/");
    },

    async onSearchSubmit(event) {
      event.preventDefault();
      await this.onSearchKeyPress();
    },

    async onSearchKeyPress() {
      let uri = apiRoutes.FIND_ASSET_BY_TOKEN.replace(":token", this.search);
      document.body.style.cursor = "wait";
      await this.$axios
        .$get(uri)
        .then((data) => {
          document.body.style.cursor = "default";
          this.$router.push("/explore/" + data._id);
          document.body.style.cursor = "default";
          this.search = "";
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async hideNavBar() {
      const nav = document.getElementById("nav");
      nav.classList.remove("active");
      const headerWrapper = document.getElementById("header_wrapper");
      headerWrapper.classList.remove("visible");
    },
  },
};
</script>

<style scoped></style>
