<template>
  <div class="section discover">
    <div class="discover__center center">
      <h3 class="discover__title h3">Discover</h3>
      <div class="discover__top">
        <select class="select" @change="fetchAssets">
          <option value='{"sort":"_id","ASC":1}'>Recently added</option>
          <option value='{"sort":"sales","ASC":-1}'>Top sales</option>
        </select>
        <!-- <div class="discover__nav"><a class="discover__link active" href="#">All items</a><a class="discover__link"
                                                                                             href="#">Art</a><a
          class="discover__link" href="#">Game</a><a class="discover__link" href="#">Photography</a><a
          class="discover__link" href="#">Music</a><a class="discover__link" href="#">Video</a></div> -->
        <!-- <div class="tablet-show">
          <select class="select">
            <option>All items</option>
            <option>Art</option>
            <option>Game</option>
            <option>Photography</option>
            <option>Music</option>
            <option>Video</option>
          </select>
        </div> -->
        <!-- <button class="discover__filter">
          <div class="discover__text">Filter</div>
          <div class="discover__icon">
            <svg class="icon icon-filter">
              <use xlink:href="#icon-filter"></use>
            </svg>
            <svg class="icon icon-close">
              <use xlink:href="#icon-close"></use>
            </svg>
          </div>
        </button> -->
      </div>
      <!-- <div class="discover__filters">
        <div class="discover__sorting">
          <div class="discover__cell">
            <div class="field">
              <div class="field__label">Price</div>
              <div class="field__wrap">
                <select class="select">
                  <option>Highest price</option>
                  <option>The lowest price</option>
                </select>
              </div>
            </div>
          </div>
          <div class="discover__cell">
            <div class="field">
              <div class="field__label">likes</div>
              <div class="field__wrap">
                <select class="select">
                  <option>Most liked</option>
                  <option>Least liked</option>
                </select>
              </div>
            </div>
          </div>
          <div class="discover__cell">
            <div class="field">
              <div class="field__label">creator</div>
              <div class="field__wrap">
                <select class="select">
                  <option>Verified only</option>
                  <option>All</option>
                  <option>Most liked</option>
                </select>
              </div>
            </div>
          </div>
          <div class="discover__cell">
            <div class="range">
              <div class="range__label">Price range</div>
              <div
                class="range__slider js-slider"
                data-min="0.01"
                data-max="10"
                data-start="5"
                data-step="0.1"
                data-tooltips="true"
                data-postfix=" ETH"
              ></div>
              <div class="range__indicators">
                <div class="range__text">0.01 ETH</div>
                <div class="range__text">10 ETH</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="discover__list">
        <div class="discover__slider js-slider-discover js-slider-resize">
          <div class="card" v-for="asset in assets" v-bind:key="asset._id">
            <div class="card__preview">
              <img
                :srcSet="asset.image"
                :src="asset.image"
                alt="Card preview"
              />
              <div class="card__control">
                <div class="status-green card__category">purchasing !</div>
                <button class="card__favorite">
                  <svg class="icon icon-heart">
                    <use xlink:href="#icon-heart"></use>
                  </svg>
                </button>
              </div>
            </div>
            <a class="card__link" :href="asset._id">
              <div class="card__body">
                <div class="card__line">
                  <div class="card__title">{{ asset.name }}</div>
                  <!-- <div class="card__price">2.45 ETH</div> -->
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="discover__btns" v-show="page < 1">
        <button class="button-stroke button-small" @click="loadMore">
          Load more
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";
import axios from "~/plugins/axios";
export default {
  name: "HDiscover",

  data() {
    return {
      sort: "",
      ASC: -1,
      page: 0,
      limit: 8,
      assets: [],
    };
  },
  methods: {
    async fetchAssets(event) {
      const { sort, ASC } = JSON.parse(event.target.value);
      this.sort = sort;
      this.ASC = ASC;
      this.page = 0;
      this.limit = 8;
      await this.$axios
        .get(
          `${apiRoutes.ASSETS}?sort=${sort}&ASC=${ASC}&page=${this.page}&limit=${this.limit}`
        )
        .then((response) => {
          this.assets = response.data;
        });
    },
    async loadMore() {
      this.page += 1;
      if (this.page > 2) return;
      await this.$axios
        .get(
          `${apiRoutes.ASSETS}?sort=${this.sort}&ASC=${this.ASC}&page=${this.page}&limit=${this.limit}`
        )
        .then((response) => {
          this.assets.push(...response.data);
        });
    },
  },

  async created() {
    await this.fetchAssets({ target: { value: '{"sort":"_id","ASC":1}' } });
  },
};
</script>

<style scoped>
</style>
