<template>

  <div class="section description">
    <div class="description__center center">
      <div class="description__wrap">
        <div class="description__stage">Save your time with Stacks</div>
        <h1 class="description__title h1">Your favorite</h1>
        <div class="description__text">
          NFT on products</div>
        <div class="description__btns text-center">
          <a class="button-stroke description__button" href="#">Discover more</a>
        </div>
      </div>
      <div class="description__gallery">
        <div class="description__preview"><img class="some-icon" srcSet="/img/content/cubes@2x.png 2x"
                                               src="/img/content/cubes.png" alt="Cubes"><img class="some-icon-dark"
                                                                                            srcSet="/img/content/cubes-dark.png"
                                                                                            src="/img/content/cubes-dark.png"
                                                                                            alt="Cubes"></div>
        <div class="description__preview"><img class="some-icon" srcSet="/img/content/cube@2x.png 2x"
                                               src="/img/content/cube.png" alt="Cube"><img class="some-icon-dark"
                                                                                          srcSet="/img/content/cube-dark@2x.png 2x"
                                                                                          src="/img/content/cube-dark.png"
                                                                                          alt="Cube"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HHero"
}
</script>

<style scoped>

</style>
