<template>

  <div class="section subhero">
    <div class="subhero__center center">
      <div class="subhero__wrapper">
        <div class="subhero__inner">
          <div class="subhero__slide">
            <div class="card">
              <div class="card__preview">
                <img srcSet="/img/content/card-pic-1@2x.jpg 2x"
                                              src="/img/content/card-pic-1.jpg" alt="Card preview"/>

              </div>
            </div>
          </div>
          <div class="subhero__slide">
            <div class="card">
              <div class="card__preview">
                <img srcSet="/img/content/card-pic-2@2x.jpg 2x"
                                              src="/img/content/card-pic-2.jpg" alt="Card preview"/>
              </div>
            </div>
          </div>
          <div class="subhero__slide">
            <div class="card">
              <div class="card__preview">
                <img srcSet="/img/content/card-pic-3@2x.jpg 2x"
                     src="/img/content/card-pic-3.jpg" alt="Card preview"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HSubHero"
}
</script>

<style scoped>

</style>
