<template>
  <div
    class="profile__head js-profile-head"
    :style="{
      'background-image': 'url(' + coverUri + ')',
    }"
    :class="{
      active: isCoverPhotoActive,
      profileCoverLazyLoading: uploading,
    }"
  >
    <div class="profile__center center">
      <div class="profile__file">
        <input type="file" @change="onChangeFile" />
        <div class="profile__wrap">
          <svg class="icon icon-upload-file">
            <use xlink:href="#icon-upload-file"></use>
          </svg>
          <div class="profile__info">Drag and drop your photo here</div>
          <div class="profile__text">or click to browse</div>
        </div>
        <button
          @click="onSaveCoverClick"
          :disabled="uploading"
          class="button-small profile__button"
        >
          {{ SaveCoverPhotoBtnCaption }}
        </button>
      </div>
      <div class="profile__btns">
        <button
          @click="isCoverPhotoActive = true"
          class="button-stroke button-small profile__button"
        >
          <span>Edit cover photo</span>
          <svg class="icon icon-edit">
            <use xlink:href="#icon-edit"></use>
          </svg>
        </button>
        <button
          class="button-stroke button-small profile__button"
          @click="tab = 2"
        >
          <span>Edit profile</span>
          <svg class="icon icon-image">
            <use xlink:href="#icon-image"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import apiRoutes from '~/config/apiRoutes';
import userMixin from "~/mixins/user.mixin";
export default {
  data() {
    return {
      tab: 1,
      uploading: false,
      imagePreview: null,
      isCoverPhotoActive: false,
      uploadFile: null,
      requested: false,
      errorMessage: "error",
      errorTitle: "",
    };
  },
  mixins: [userMixin],

  computed: {

    SaveCoverPhotoBtnCaption() {
      return this.uploading ? "Uploading..." : "Save photo";
    },
  },

  methods: {
    async onSaveCoverClick() {
      if (this.uploadFile) {
        this.uploading = true;
        let fd = new FormData();
        fd.append("file", this.uploadFile);
        fd.append("usage", "Cover");
        await this.$axios
          .$post(apiRoutes.UPDATE_PROFILE_COVER, fd, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((response) => {
            this.$auth.fetchUser();
            setTimeout(() => {
              this.isCoverPhotoActive = false;
              this.imagePreview = null;
            }, 2000);
          })
          .catch((err) => {
            if (err.status === 413) {
              this.$toast.error("The file is too large (Max: 6M)");
            } else {
              this.$toast.error(err.response.data.message);
            }
          })
          .finally(() => {
            setTimeout(() => {
              this.uploading = false;
            }, 2000);
          });
      }
    },

    async onChangeFile(event) {
      const file = event.target.files[0];
      if (!file) return;
      this.uploadFile = file;

      let reader = new FileReader();
      reader.onloadend = () => {
        this.imagePreview = reader.result;
      };
      if (file) {
        reader.readAsDataURL(file);
      }
    },
  },
};
</script>

<style>
</style>
