<template>
  <div>
    <!-- connect your wallet
    {{ this.$route.path }} -->
    <button v-if="isConnected" @click="onConnectClick">Connect Wallet</button>
  </div>
</template>

<script>
import { INITIATION_ETHEREUM, WALLET_LOGOUT } from "~/store/wallet";
import { UPDATE_ASSETS, UPDATE_BASE_COLLECTION } from "~/store/collections";
import { CollectionService } from "~/services/collectionService";

export default {
  name: "ConnectWalletButton",
  computed: {
    isConnected() {
      return !this.$store.getters["wallet/isConnected"];
    },
  },
  methods: {
    async onLogin(wallet) {
      await this.$auth
        .loginWith("local", {
          data: { wallet_address: wallet },
        })
        .then(async (data) => {
          this.$cookies.set("wallet-connected", true, {
            path: "/",
            maxAge: 60 * 60 * 24 * 7,
          });
        })
        .catch(() => {
          this.onLogout();
        });
    },

    async onLogout() {
      await this.$store.dispatch("wallet/" + WALLET_LOGOUT);
      await this.$auth.logout();
      await this.$cookies.remove("wallet-connected");
    },

    async onConnectClick() {
      await this.$store
        .dispatch("wallet/" + INITIATION_ETHEREUM)
        .then(async (wallet) => {
          this.onLogin(wallet);
          await this.$axios.$get("/setting/collections").then((data) => {
            this.$store.dispatch("collections/" + UPDATE_BASE_COLLECTION, data);
          });
          let contracts = this.$store.getters["collections/base"].map(
            (item) => {
              return item.address;
            }
          );
          const walletAssets = await CollectionService.getWalletAssets(
            this.$store.getters["wallet/getWalletAddress"],
            contracts
          );
          await this.$store.dispatch(
            "collections/" + UPDATE_ASSETS,
            walletAssets
          );
        })
        .catch((err) => {
          this.onLogout();
          alert("Metamask not installed");
        });
    },
  },
};
</script>
