<template>
  <transition name="fade" mode="out-in">
    <div v-if="loading" class="loading-page">
<!--      <b-spinner-->
<!--        variant="primary" type="grow"-->
<!--      ></b-spinner>-->
    </div>
  </transition>
</template>

<script>
export default {
  data: () => ({
    loading: false
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    }
  }
}
</script>

<style scoped>

.loading-page {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
}

body.dark .loading-page {
  background: rgba(0, 0, 0, 0.8);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
