<template>
  <div class="upgrading-wrapper cHVvVc">

    <div>
      <p class="Blockreact__Block-sc-1xf18x6-0 Textreact__Text-sc-1w94ul3-0 cdDkgO gyYAqj">
        {{ UpgradingText }}
      </p>
    </div>
  </div>
</template>

<script>
import helperMixin from "~/mixins/helperMixin";

export default {
  name: "Upgrading",

  mixins: [helperMixin]


}
</script>

<style scoped>
.cHVvVc {
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  top: 0px;
  width: 100%;
  color: rgb(251, 253, 255);
  transition: top 0.5s ease 0s;
  background: linear-gradient(-45deg, rgb(238, 119, 82), rgb(231, 60, 126), rgb(35, 166, 213), rgb(35, 213, 171)) 0% 0% / 400% 400%;
  animation: 15s ease 0s infinite normal none running gradient;
}

.upgrading-wrapper {
  font-family: Poppins, sans-serif;
  padding: 15px 5%;
  font-weight: bold;
  text-align: center;
  box-shadow: inset #3F3F3F;
}
</style>
