<template>
  <div class="pb-3">
    <div class="profile__list" v-if="assets && assets.length > 0">
      <p-item
        v-for="(item, index) in assets"
        :asset="item"
        :name="item.name"
        :key="'nft-item-' + index"
      />
    </div>

    <div
      class="no-data"
      v-if="assets.length == 0 && NftsUpdateStatus == 'updated'"
    >
      Nothing to show
    </div>
    <div class="no-data" v-if="NftsUpdateStatus == 'updating'">
      <div class="row">
        <div class="col-12 col-md-4">
          <i-loading />
        </div>
        <div class="col-12 col-md-4">
          <i-loading />
        </div>
        <div class="col-12 col-md-4">
          <i-loading />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PItem from "~/components/sections/Profile/PItem.vue";
import ILoading from "~/components/sections/Item/ILoading";
import apiRoutes from "~/config/apiRoutes";
import { CollectionService } from "~/services/collectionService";
import { UPDATE_ASSETS } from "~/store/collections";
import { UPDATE_BALANCE } from "~/store/wallet";

export default {
  components: { PItem, ILoading },
  name: "MyNfts",

  data() {
    return {
      loading: true,

      NftsUpdateStatus: "updating",
    };
  },
  computed: {
    assets() {
      return this.$store.getters["collections/assets"];
    },
  },
  methods: {
    async onImgLoad() {
      await this.sleep(1000);
      // this.loading = false;
    },
    async fetchAssets() {
      const username = this.$auth.user.name;
      await this.$axios
        .get(`auth/profile?page=0&limit=10000`)
        .then(async (response) => {
          await this.$store.dispatch(
            "collections/" + UPDATE_ASSETS,
            response.data.assets
          );
          this.NftsUpdateStatus = response.data.user.assetsUpdateStatus;
          if (this.NftsUpdateStatus == "updating") {
            setTimeout(() => this.fetchAssets(), 20000);
          }
          await this.$axios
            .$put(apiRoutes.GET_BALANCE, {
              tokens: response.data.assets
                ?.filter((asset) => asset.NftCollection.isHidden !== true)
                ?.map((item) => {
                  return item.token_id;
                }),
            })
            .then((data) => {
              this.$store.dispatch("wallet/" + UPDATE_BALANCE, data);
            });
        });
    },
  },

  async created() {
    await this.fetchAssets();
  },
  // async created() {
  //   let contracts = this.$store.getters["collections/base"].map((item) => {
  //     return item.address;
  //   });
  //   const walletAssets = await CollectionService.getWalletAssets(
  //     this.$store.getters["wallet/getWalletAddress"],
  //     contracts
  //   );

  //   await this.$store.dispatch("collections/" + UPDATE_ASSETS, walletAssets);
  //   this.assets.push(...this.$store.getters["collections/assets"]);
  //   console.log(this.assets);
  // },
};
</script>

<style scoped></style>
