<template>
  <div>
    <h1>Payouts</h1>
    <div class="table-responsive">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-card">
            <thead>
              <tr class="table-r-6">
                <th>Amount</th>
                <th>Payout wallet</th>
                <th>Date</th>
              </tr>
            </thead>

            <tbody>
              <tr
                class="table-r-6"
                v-for="(payout, index) in payouts"
                v-bind:key="index"
              >
                <td>{{ payout.amount }}</td>
                <td>{{ payout.target_wallet }}</td>
                <td>
                  <a :href="payout.verificationLink" target="_blank"
                    ><span>{{ payout.createdAt }}</span
                    ><span style="margin-left: 5px"
                      ><img
                        src="~/assets/images/open-in-new-window.png"
                        width="10"
                    /></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="discover__btns" v-show="this.payouts.length < this.total">
        <button class="button-stroke button-small" @click="loadMore">
          Load more
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";
import PayoutCard from "~/components/elements/PayoutCard";
import { UPDATE_PAYOUT } from "~/store/wallet";
export default {
  name: "MyPayout",
  components: { PayoutCard },
  data() {
    return {
      payouts: [],
      limit: 5,
      page: 0,
      total: 0,
    };
  },
  watch: {
    payouts() {
      for (const payout of this.payouts)
        payout.createdAt = new Date(payout.createdAt).toDateString();
    },
  },

  methods: {
    async fetchMyPayouts() {
      await this.$axios
        .get(
          `${apiRoutes.PAYOUT_STORE}/users?limit=${this.limit}&page=${this.page}`
        )
        .then((response) => {
          this.payouts.push(...response.data.payouts);
          this.total = response.data.total;
          this.totalPayment = response.data.totalPayouts;
          this.$store.dispatch(`wallet/${UPDATE_PAYOUT}`, {
            payout: response.data.totalPayouts,
          });
        })
        .catch((err) => {});
    },
    async loadMore() {
      this.page += 1;
      if (this.payouts.length < this.total) this.fetchMyPayouts();
    },
  },
  beforeMount() {
    this.fetchMyPayouts();
  },
  activated() {
    this.fetchMyPayouts();
  },
};
</script>

<style scoped></style>
