<template>
  <div>
    <h1>Settings</h1>
    <br />

    <strong> General information </strong>
    <div>You get notified when an item is sold.</div>
    <br />
    <hr />

    <div class="profile_row">
      <div class="profile_col">
        <div :class="{ 'form-group--error': $v.username.$error }">
          <input
            class="catalog__input"
            type="text"
            name="search"
            placeholder="Storename"
            v-model="username"
            required=""
          />

          <div class="form-group--error_text">
            <div v-if="$v.username.$error">
              Store name is required (4-16 characters)
            </div>
          </div>
        </div>
      </div>
      <div class="profile_col">
        <div :class="{ 'form-group--error': $v.email_address.$error }">
          <input
            class="catalog__input"
            type="text"
            name="search"
            placeholder="Email"
            v-model="email_address"
            required=""
          />
          <div class="form-group--error_text">
            <div v-if="$v.email_address.$error">
              <div v-if="email_address === null">Email is required</div>
              <div v-else>Entered value does not match email format</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="profile_row">
      <div class="profile_col">
        <div :class="{ 'form-group--error': $v.first_name.$error }">
          <input
            class="catalog__input"
            type="text"
            name="first_name"
            placeholder="first name"
            v-model="first_name"
            required=""
          />

          <div class="form-group--error_text">
            <div v-if="$v.first_name.$error">
              first name is required (4-16 characters)
            </div>
          </div>
        </div>
      </div>
      <div class="profile_col">
        <div :class="{ 'form-group--error': $v.last_name.$error }">
          <input
            class="catalog__input"
            type="text"
            name="last_name"
            placeholder="last name"
            v-model="last_name"
            required=""
          />

          <div class="form-group--error_text">
            <div v-if="$v.last_name.$error">
              last name is required (4-16 characters)
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <strong> Your payout wallet address </strong>
    <div>We only support USDT (TRC-20) for now!</div>
    <br />
    <hr />

    <form class="setting_form" @submit="onSaveChanges">
      <div :class="{ 'form-group--error': $v.payoutWallet.$error }">
        <input
          class="catalog__input"
          type="text"
          name="search"
          :disabled="loading"
          placeholder="Wallet address"
          v-model="payoutWallet"
          required=""
          maxlength="34"
        />
        <div class="form-group--error_text">
          <div v-if="$v.payoutWallet.$error">
            <div
              v-if="
                payoutWallet === null ||
                (payoutWallet !== null && payoutWallet.length <= 0)
              "
            >
              Wallet Address is required
            </div>
            <div v-else>Entered value does not match USDT (TRC-20) format</div>
          </div>
        </div>
      </div>
    </form>

    <br />
    <br />

    <strong> Select your profile picture </strong>
    <div>
      <div v-if="collection_assets.length > 0">TLR Holder 🎉</div>
      <div v-if="$v.photo_uri.$error" class="form-group--error_text">
        Profile image is required
      </div>
    </div>
    <br />
    <hr />
    <div class="profile_image_row" v-if="collection_assets.length > 0">
      <div
        class="profile_image_col"
        v-for="asset in collection_assets"
        v-bind:key="asset._id"
        :class="{ active: photo_uri === asset.image }"
        @click="photo_uri = asset.image"
      >
        <img :src="asset.image" alt="" />
      </div>
    </div>
    <div v-else>0 TLRs found!</div>
    <br />
    <br />
    <form class="setting_form">
      <button
        @click="onSaveChanges"
        v-if="collection_assets.length > 0"
        :disabled="loading"
        class="button-stroke button-small user__button button-full active"
      >
        <div v-if="loading">Saving...</div>
        <div v-else>Save changes</div>
      </button>

      <div v-else>
        <a
          href="https://opensea.io/collection/thelastraptor"
          :disabled="loading"
          class="button-stroke button-small user__button button-full active"
        >
          BUY YOUR FIRST TLR
        </a>
      </div>
    </form>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";

import {
  required,
  minLength,
  maxLength,
  email,
} from "vuelidate/lib/validators";

export default {
  name: "MyProfile",

  data() {
    return {
      tab: 0,
      loading: false,
      username: "",
      first_name: "",
      last_name: "",
      email_address: "",
      payoutWallet: "",
      photo_uri: "",
    };
  },

  validations: {
    email_address: { required, email },
    first_name: { required, maxLength: maxLength(16), minLength: minLength(4) },
    last_name: { required, maxLength: maxLength(16), minLength: minLength(4) },
    username: { required, maxLength: maxLength(16), minLength: minLength(4) },
    payoutWallet: {
      required,
      maxLength: maxLength(34),
      minLength: minLength(34),
    },
    photo_uri: { required },
  },

  computed: {
    categories() {
      return this.$store.getters["categories/all"];
    },
    collection_assets() {
      return this.$store.getters["collections/assets"].filter(
        (asset) => asset.NftCollection.isHidden == false
      );
    },
    wallet_address() {
      return this.$store.getters["wallet/getWalletAddress"];
    },
    collection_avatar() {
      try {
        console.log(
          "%cMyProfile.vue line:229 this.collection_assets.length",
          "color: #007acc;",
          this.collection_assets.length,
          this.$auth.user.photo_uri,
          this.$store.getters["collections/avatar"]
        );
        if (this.collection_assets.length > 0)
          return (
            this.$auth.user.photo_uri ||
            this.$store.getters["collections/avatar"]
          );
        return "/img/content/def.jpg";
      } catch (e) {
        return this.$store.getters["collections/avatar"];
      }
    },
  },
  watch: {
    collection_assets() {
      if (this.collection_assets.length > 0) {
        this.photo_uri =
          this.$auth.user.photo_uri ||
          this.$store.getters["collections/avatar"];
      }
    },
  },

  methods: {
    async onSaveChanges(event) {
      event.preventDefault();
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        await this.$axios
          .$put(apiRoutes.UPDATE_PROFILE, {
            email_address: this.email_address ? this.email_address : "",
            first_name: this.first_name ? this.first_name : "",
            last_name: this.last_name ? this.last_name : "",
            name: this.username ? this.username : "",
            wallet_payout: this.payoutWallet ? this.payoutWallet : "",
            photo_uri: this.photo_uri,
            last_name: this.last_name ? this.last_name : "",
          })
          .then((data) => {
            this.$toast.success(data.message);
            this.$auth.fetchUser();
          })
          .catch((err) => {
            if (err.response.status === 400) {
              err.response.data.message.forEach((item) => {
                this.$toast.error(item);
              });
            }
          })
          .finally(() => {
            this.loading = false;
          });
      } else {
        this.$toast.error("Please complete all inputs.");
      }
    },
  },

  mounted() {
    this.email_address = this.$auth.user.email_address ?? "";
    this.username = this.$auth.user.name ?? "";
    this.payoutWallet = this.$auth.user.wallet_payout ?? "";
    this.photo_uri = this.collection_avatar ?? "";
    this.first_name = this.$auth.user.first_name ?? "";
    this.last_name = this.$auth.user.last_name ?? "";
  },
};
</script>

<style scoped></style>
