<template>
  <div>
    <h1>Settings</h1>
    <br />
    <strong> Items for sale </strong>
    <div>Please select your items for sale</div>
    <br />
    <hr />
    <div class="item__tabs js-tabs">
      <div class="item__nav">
        <button
          class="item__link js-tabs-link"
          v-for="(item, index) in categories"
          v-bind:key="index"
          @click="tab = index"
          :class="{ active: tab === index }"
        >
          {{ item.name }}
        </button>
      </div>
      <div class="item__container">
        <div
          class="item__box js-tabs-item"
          v-for="(item, index) in categories"
          v-bind:key="index"
          :class="{ 'js-tabs-item__active': tab === index }"
        >
          <div class="item_assets_categories">
            <div
              class="item_assets_categories__options"
              v-for="(option, optionIndex) in item.options"
              v-bind:key="optionIndex"
            >
              <div
                class="item__assets_category"
                v-for="(asset, assetIndex) in collection_assets"
                v-bind:key="assetIndex"
              >
                <div class="item__avatar">
                  <img :src="asset.image" alt="Avatar" />
                </div>
                <div class="item__description">
                  <div class="item__position">{{ option }}</div>
                  <div class="item__name">{{ asset.name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />

    <strong> Your payout wallet address </strong>
    <div>Please select your items for sale</div>
    <br />
    <hr />

    <form class="setting_form" @submit="onSaveChanges">
      <br />
      <input
        class="catalog__input"
        type="text"
        name="search"
        readonly
        placeholder="Wallet address"
        :value="wallet_address"
        required=""
      />
      <br />
      <br />
      <button
        class="button-stroke button-small user__button button-full active"
        @click="onSaveChanges"
      >
        Save changes
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "MySetting",

  data() {
    return {
      tab: 0,
      loading: false,
    };
  },

  computed: {
    categories() {
      return this.$store.getters["categories/all"];
    },
    collection_assets() {
      return this.$store.getters["collections/assets"];
    },
    wallet_address() {
      return this.$store.getters["wallet/getWalletAddress"];
    },
  },

  methods: {
    onSaveChanges(event) {
      event.preventDefault();
      this.$toast.success("Saved.");
    },

    async onSaveSellCollectionClick(item) {},
  },
};
</script>

<style scoped></style>
