<template>
  <div class="card">
    <div class="card__preview pointer" @click="onItemClick">
      <img :v-if="!loading" :src="asset.image" alt="Card preview" />
      <div class="card__control">
        <div class="status-green card__category">{{ asset.collection }}</div>
      </div>
    </div>
    <div class="card__body pointer" @click="onItemClick">
      <div class="card__line">
        <div class="card__title mt-2">
          <img src="/icons/show.svg" width="20" v-if="!asset.isPrivateHidden" />
          <img src="/icons/hide.svg" width="20" v-if="asset.isPrivateHidden" />
          {{ name }}
        </div>
        <div class="card__price"></div>
      </div>
    </div>
    <div class="card__foot mt-0 pt-0 bt-0">
      <!--        <div class="card__counter">Sales: 0</div>-->
      <div class="card__bid pointer" @click="onItemClick">
        Popular <span role="/img" aria-label="fire">🔥</span>
      </div>

      <div>
        <i-sub-menu style="z-index: 2; margin: 0px auto">
          <template #menu>
            <div
              class="header__link cursor__pointer"
              @click="setIsHidden(asset)"
            >
              <img
                src="/icons/show.svg"
                width="20"
                v-if="asset.isPrivateHidden"
              />
              <div class="header__text" v-if="asset.isPrivateHidden">
                Show on my store
              </div>
              <img
                src="/icons/hide.svg"
                width="20"
                v-if="!asset.isPrivateHidden"
              />
              <div
                class="header__text cursor__pointer"
                v-if="!asset.isPrivateHidden"
              >
                Hide from my store
              </div>
            </div>
          </template>
        </i-sub-menu>
      </div>
    </div>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";
import ISubMenu from "~/components/sections/Item/ISubMenu";
import { UPDATE_ASSETS } from "~/store/collections";

export default {
  name: "PItem",
  components: { ISubMenu },
  data() {
    return {
      selectedAsset: "",
    };
  },
  props: {
    asset: { name: "", _id: "", token_id: "" },
    name: "",
    loading: false,
  },

  computed: {
    isOwner() {
      if (this.$auth.user) {
        return this.$auth.user.wallet_address;
      }

      return false;
    },
  },
  methods: {
    async setIsHidden(asset) {
      console.log("%cPItem.vue line:75 _id", "color: #007acc;", asset._id);

      this.$axios
        .put(`/assets/${asset._id}/isHidden`, {
          isHidden: !asset.isPrivateHidden,
        })
        .then(async (response) => {
          await this.fetchAssets();
        });
    },
    async fetchAssets() {
      const username = this.$auth.user.name;
      await this.$axios
        .get(`auth/profile?page=0&limit=10000`)
        .then(async (response) => {
          console.log(
            "%cPItem.vue line:100 response.data.assets[0].isPrivateHidden",
            "color: #007acc;",
            response.data.assets[0].isPrivateHidden
          );
          await this.$store.dispatch(
            "collections/" + UPDATE_ASSETS,
            response.data.assets
          );
        });
    },
    async onItemClick() {
      let uri = apiRoutes.FIND_ASSET_BY_TOKEN.replace(
        ":token",
        this.asset.token_id
      );
      document.body.style.cursor = "wait";
      await this.$axios.$get(uri).then((data) => {
        this.$router.push("/explore/" + data._id);
        document.body.style.cursor = "default";
      });
    },
  },
};
</script>

<style scoped>
.card {
  border: 0 !important;
}
</style>
