<template>
  <div class="card pointer" @click="onItemClick">
    <div class="card__preview">
      <img :src="asset.image" style="width: 200px" alt="Card preview" />
      <div class="card__control">
        <div class="status-green card__category">{{ asset.collection }}</div>
      </div>
    </div>
    <a class="card__link">
      <div class="card__body">
        <div class="card__line">
          <div class="card__title">{{ name }}</div>
          <div class="card__price"></div>
        </div>
      </div>
      <div class="card__foot mt-0 pt-0 bt-0">
        <!--        <div class="card__counter">Sales: 0</div>-->
        <div class="card__bid">
          Popular <span role="/img" aria-label="fire">🔥</span>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";

export default {
  name: "ProfileItem",

  props: {
    asset: { name: "", _id: "", token_id: "" },
    name: "",
  },

  methods: {
    async onItemClick() {
      let uri = apiRoutes.FIND_ASSET_BY_TOKEN.replace(
        ":token",
        this.name.replace("The Last Raptor #", "")
      );
      document.body.style.cursor = "wait";
      await this.$axios.$get(uri).then((data) => {
        this.$router.push("/explore/" + data._id);
        document.body.style.cursor = "default";
      });
    },
  },
};
</script>

<style scoped>
.card {
  border: 0 !important;
}
</style>
