<template>
  <div class="img-preview">
    <div class="imgLazyLoading" v-if="loading">
    </div>

    <img :src="src" class="img-fluid " :class="imageClass" :alt="alt"
         @load="onImgLoad"/>
  </div>
</template>

<script>
import delayMixin from "~/mixins/delayMixin";

export default {
  name: "ImagePreview",

  data(){
    return {
      loading: true
    }
  },

  mixins: [delayMixin],

  props: {
    src: {default: ''},
    alt: {default: ''},
    imageClass: {default: ''}
  },

  methods: {
    async onImgLoad() {
      await this.sleep(1000)
      this.loading = false
    },
  }
}
</script>

<style scoped>
.img-preview img{
  min-height: 150px;
}
</style>
