<template>
  <div>
    <img id="image" width="640" height="640" :src="mockupSource" />
  </div>
</template>
<script type="text/javascript">
export default {
  name: "MockupCard",

  data() {
    return {
      loading: true,
      imagesLoaded: 0,
      mockupSource: "",
      img1: {},
      img2: {},
    };
  },
  props: {
    src: "",
    mockup: { default: "default" },
  },
  watch: {
    async mockup() {
      await this.loadImage(this.draw);
    },
  },
  methods: {
    async combine() {},
    async draw(img1, img2) {
      var canvas = document.createElement("canvas");
      canvas.width = 640;
      canvas.height = 640;
      var ctx = canvas.getContext("2d");
      document.createElement("canvas");
      document.body.appendChild(canvas);
      await ctx.drawImage(img1, 0, 0, 640, 640);
      await ctx.setTransform(1, -0.02, 0, 1, 0, 70);
      await ctx.drawImage(img2, 255, 135, 180, 180);

      this.mockupSource = canvas.toDataURL();

      document.body.removeChild(canvas);

      this.$emit("load");
    },

    async loadImage(callback) {
      var Image1 = new Image();
      var Image2 = new Image();
      await fetch(this.mockup, {}).then(async (response) => {
        await response.blob().then(async (blob) => {
          const fileReader = new FileReader();
          const file = await new Blob([response.data], { type: "image/jpeg" });
          const result = await new Promise((resolve, reject) => {
            fileReader.onerror = () => {
              fileReader.abort();
              reject(new Error("Problem parsing file"));
            };
            fileReader.onload = () => {
              resolve(fileReader.result);
            };
            fileReader.readAsDataURL(blob);
          });
          Image1.src = result;
        });
      });
      await fetch(this.src, {}).then(async (response) => {
        await response.blob().then(async (blob) => {
          const fileReader = new FileReader();
          const file = await new Blob([response.data], { type: "image/jpeg" });
          const result = await new Promise((resolve, reject) => {
            fileReader.onerror = () => {
              fileReader.abort();
              reject(new Error("Problem parsing file"));
            };
            fileReader.onload = () => {
              resolve(fileReader.result);
            };
            fileReader.readAsDataURL(blob);
          });
          Image2.src = result;
          callback(Image1, Image2);
        });
      });
    },
  },
  created() {
    this.loadImage(this.draw);
  },
};
</script>
