<template>
  <div class="row" style="border-radius: 10px; border: solid">
    <div class="col-12">Amount: {{ amount }}</div>
    <div class="col-12">Wallet Address: {{ wallet_address }}</div>
    <div class="col-12">
      <a :href="verificationLink" target="_blank">{{ verificationLink }}</a>
    </div>
    <div class="col-12">Date: {{ createdAt }}</div>
  </div>
</template>

<script>
import delayMixin from "~/mixins/delayMixin";

export default {
  name: "PayoutCard",

  data() {
    return {
      loading: true,
    };
  },

  props: {
    amount: { default: 0 },
    wallet_address: { default: "" },
    verificationLink: { default: "" },
    createdAt: { default: "" },
  },

  methods: {},
};
</script>

<style scoped>
.img-preview img {
  min-height: 150px;
}
</style>
