.button-full {
  max-width: 100%;
  min-width: 100%;
}

.item__variants {
  margin-top: 5px !important;
  font-size: 0.9rem;
}

.item__card_variants {
  flex: 0 0 calc(50% - 20px);
  width: calc(50% - 20px);
  margin: 10px 10px;
}
.item__card_variants_fullwidth {
  flex: 0 0 calc(50% - 20px);
  width: calc(50% - 20px);
  margin: 10px 10px;
}

.item__card_variants__row {
  display: flex;
}

.js-tabs-item {
  display: none;
}

.js-tabs-item.js-tabs-item__active {
  display: block;
}

/*
- custom modal
*/

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
  z-index: 99 !important;
}

.modal {
  text-align: center;
  /* background-color: white; */
  width: 500px;
  max-width: 80%;
  padding: 0;
  border-radius: 20px;
  position: fixed;
  z-index: 99999 !important;
  height: auto;
  margin: 0px auto;
}
@media only screen and (max-width: 500px) {
  .modal {
    max-width: 90%;
  }
  .item__card_variants_fullwidth {
    flex: 0 0 calc(50% - 20px);
    min-width: 160px;
    margin: 10px 10px;
  }
  .details__col {
    margin-bottom: 0px 12px;
    padding-bottom: 0px 12px;
    /* border-bottom: 1px solid #e6e8ec; */
  }
  .popup__title {
    font-size: 18px;
  }
}
.modal-overlay .close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}

.modal-overlay .close-img {
  width: 25px;
}

.modal-overlay .check {
  width: 150px;
}

.user__note {
  padding-top: 18px;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.bt-0 {
  border-top: 0 !important;
}

.setting_form {
  max-width: 60%;
}

hr {
  border: 1px solid #e6e8ec;
  margin: 0 0 15px;
}

body.dark hr {
  border: 1px solid #272731 !important;
  margin: 0 0 15px;
}

.table-responsive {
  overflow-x: auto;
}
.table-responsive td {
  word-wrap: break-word;
}

.table {
  width: 100%;
}

.table tbody tr {
  background: rgba(242, 246, 251, 0.69);
  display: flex;
  flex-wrap: nowrap;
}

.dark .table tbody tr {
  background: #23262f;
}

.table thead tr {
  display: flex;
  flex-wrap: nowrap;
}

.table tr {
  display: block;
  width: 100%;
  padding: 3px 15px;
  text-align: left;
  border: 1px solid #e6e8ec;
  border-bottom: 0;
}
.table tr td {
  /* width: 300px; */
  text-align: left;
}

.table thead tr {
  border: 1px solid #e6e8ec;
}

.table tbody tr:first-child {
  border-top: 0;
}

.table tbody tr:last-child {
  border-bottom: 1px solid #e6e8ec;
}

.table tr td,
.table tr th {
  padding: 5px 8px;
  text-align: center;
}

.table tr td:first-child,
.table tr th:first-child {
  padding: 5px 20px;
}

.table thead tr:first-child {
  border-top-left-radius: 20px !important;
}

.table thead tr:first-child {
  border-top-right-radius: 20px !important;
}

.table tbody tr:last-child {
  border-bottom-left-radius: 20px !important;
}

.table tbody tr:last-child {
  border-bottom-right-radius: 20px !important;
}

.table-r-5 td,
.table-r-5 th {
  flex: 0 0 calc(20% - 20px);
  width: calc(20% - 20px);
}

.table-r-6 td,
.table-r-6 th {
  flex: 1 0 calc(16% - 20px);
  width: calc(16% - 20px);
}
.dark .table-r-6 td,
.dark .table-r-6 th {
  /* background-color: red; */
  color: #fcfcfd !important;
}

.table-r-full td,
.table-r-full th {
  flex: 1 0 calc(98% - 20px);
  width: calc(98% - 20px);
}

.table-r-5 td:first-child,
.table-r-5 th:first-child {
  flex: 0 0 calc(30% - 20px);
  width: calc(30% - 20px);
}

.table-r-6 td:first-child,
.table-r-6 th:first-child {
  flex: 0 0 calc(30% - 20px);
  width: calc(30% - 20px);
}

.table.table-card thead tr {
  border: 0;
}

.table.table-card tbody tr {
  border: 0;
}

.table.table-card tbody tr {
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
}

.dark .table.table-card tbody tr {
  border-top: 10px solid #141416;
  border-bottom: 10px solid #141416;
}

.table.table-card tbody tr {
  border-radius: 35px !important;
}

.orders__center {
  display: block !important;
}

.orders__info {
  color: #777e90;
}

.order__avatar {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.order__avatar img {
  border-radius: 25px !important;
  max-width: 40%;
}

.order__td {
  padding: 0px 0;
  color: #777e90;
}

.order__td a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 6px;
  /* or 60% */

  text-align: center;
  text-decoration-line: underline;
  color: #777e91;
}

.order__td .status {
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: normal;
}

.order__td .status.success {
  background: rgba(69, 179, 107, 0.08);
  color: #45b26b;
}

.order__td .status.warning {
  background: rgba(238, 217, 143, 0.11);
  color: #eed98f;
}

.subhero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.no-data {
  padding: 5px 0;
  text-align: center;
  color: #32343d;
}

.how_to_buy_card {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr !important;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}

.how_to_buy_card img {
  max-width: 100%;
}

.item_assets_categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.item_assets_categories .item__assets_category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 10px;
}

.item_assets_categories
  .item__assets_category
  .item_assets_categories__options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 10px;
}

.item_assets_categories .item__assets_category:hover {
  background-color: #b0b0b0;
}

body.dark .item_assets_categories .item__assets_category:hover {
  background-color: #3f3f3f;
}

.how_to_buy_card .card {
  display: block !important;
  max-width: calc(100% - 32px);
  margin: 32px 16px 0;
  padding: 50px 60px;
  box-shadow: 0 32px 32px rgb(31 47 70 / 12%);
  border-radius: 20px;
  height: min-content !important;
}

.how_to_buy_card .card .card__body {
  display: block;
}

.how_to_buy_card .card .card__body p {
  color: #777e91;
  padding-top: 15px;
}

body.dark .how_to_buy_card .card {
  background: #23262f;
}

.for_sellers__description {
  display: grid;
  grid-template-columns: 0.55fr 0.45fr;
  justify-content: center;
  align-items: center;
}

.for_sellers__description img {
  max-width: 100%;
}

.for_sellers__description {
  color: #777e91 !important;
}

.for_sellers__description .description__title {
  color: #000 !important;
}

.for_sellers__description .for_sellers__description__content {
  padding: 15px 25px;
}

.for_sellers__description .for_sellers__description__content p {
  margin-bottom: 15px;
}

.for_sellers__description__title {
  display: block;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .for_sellers__description {
    grid-template-columns: 1fr !important;
  }

  .how_to_buy_card {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto !important;
    grid-gap: 0;
    grid-auto-flow: dense !important; /* NEW */
  }

  .how_to_buy_card div:first-child {
    grid-row: 2;
  }

  .how_to_buy_card div:last-child {
    grid-row: 1;
  }
}

.l-hero .description__preview img {
  width: 80% !important;
}
.l-hero .description__wrap {
  max-width: 557px;
}

.l-hero .description__gallery {
  right: calc(50% - 732px) !important;
}

.text-left {
  text-align: left;
}

.price__span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav .header__link:nth-child(n + 3) {
  display: inline-block;
}
.header__nav .header__link:nth-child(n + 4) {
  display: none;
}
.header__link img {
  margin-right: 5px;
}

.footer__info {
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 28px 0 24px !important;
  }
}

.footer {
  margin-top: 50px;
}

.item__details {
  width: 400px;
}

.item__bg {
  margin-right: 80px;
}

.balance-table {
  width: 90%;
  margin: 10px;
}
.balance-table td {
  border: 1px solid;
  padding: 5px;
}
.cursor__pointer {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.error-404 {
  margin-top: 10vh;
  height: 80vh;
}
.header__item_user {
  max-width: 100px !important;
}

.store {
  padding: 0px 10px;
}
.header__image_store {
  text-align: right;
}
.header__image_store img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  margin-top: 5vh;
}
.vertical-center {
  margin-top: 50px;
}

.vertical-center h1 {
  margin-bottom: 30px;
}
