@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body.dark ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #777e90 !important;
  opacity: 1; /* Firefox */
}

body.dark:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777e90 !important;
}

body.dark::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777e90 !important;
}

.profile_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile_col {
  flex: 0 0 calc(49.99% - 10px);
  width: calc(49.99% - 10px);
}

.profile_image_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.profile_image_col {
  flex: 0 0 calc(12.99% - 10px);
  width: calc(12.99% - 10px);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 767px) {
  .profile_image_col {
    flex: 0 0 calc(22.99% - 10px);
    width: calc(22.99% - 10px);
  }
}

.profile_image_col img {
  max-width: 100%;
  border-radius: 50%;
}

.profile_image_col.active {
  background-color: #e8e8e8;
}

.profile_image_col:hover {
  background-color: #e8e8e8;
}

.form-group--error input {
  border-color: #e86464;
}

.form-group--error_text {
  border-color: #e86464;
  font-size: 0.8rem;
  padding: 3px 5px;
  color: #e86464;
  text-align: left !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-stroke:disabled {
  background: #84a8ff;
  border-color: #84a8ff;
  box-shadow: inset 0 0 0 2px #84a8ff;
}

.v-select-style .vs__dropdown-toggle {
  float: none;
  width: 100%;
  height: 48px;
  padding: 0 8px 0 10px;
  box-shadow: inset 0 0 0 2px #e6e8ec;
  background: #fcfcfd;
  border-radius: 12px;
  border: none;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  /*min-width: 250px;*/
}

body.dark .v-select-style .vs__dropdown-toggle {
  box-shadow: inset 0 0 0 2px #23262f;
  background: #23262f;
  color: #fff !important;
}

body.dark .v-select-style .vs__dropdown-menu {
  box-shadow: inset 0 0 0 2px #23262f;
  background: #23262f;
  color: #fff !important;
}

body.dark .v-select-style .vs__dropdown-menu .vs__dropdown-option {
  box-shadow: inset 0 0 0 2px #23262f;
  background: #23262f;
  color: #fff !important;
}

body.dark .v-select-style .vs__selected {
  color: #fff !important;
}

body.dark .v-select-style .vs__open-indicator {
  fill: #fff !important;
}

body.dark .v-select-style .vs__clear {
  fill: #fff !important;
}

.v-select-style .vs__actions {
  margin-top: -5px;
  position: relative;
}

.v-select-style .vs__open-indicator {
  position: relative;
  text-align: center;
  box-shadow: inset 0 0 0 2px #e6e8ec;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  padding-top: 11px;
  padding-left: 7px;
}

.v-select-style .vs__clear {
  margin-left: -20px;
  top: 5px;
  position: absolute;
  z-index: 1;
}

.soon {
  background-color: #353945;
  color: #fcfcfd;
  padding: 3px;
  border-radius: 4px;
  font-size: 6px;
  position: relative;
  bottom: 5px;
  font-weight: bold;
}

body.dark .soon {
  background-color: #272a33;
  color: #fff;
}

body.dark .for_sellers__description .description__title {
  color: #fff !important;
}

hr.hr-style {
  border: 0 !important;
  border-top: 1px solid #e6e8ec !important;
}

.section-pt40 {
  padding-top: 40px;
}

.section-pt20 {
  padding-top: 20px;
}

.loading-wrapper {
  text-align: center;
  padding-top: 20%;
}

.asset__title {
  font-weight: bold;
}

.loadMore_m10 {
  margin-top: 10%;
}

.lazyLoad-wrapper {
  position: relative !important;
}

.lazyLoad.isLoading:after,
.imgLazyLoading:after,
.profileCoverLazyLoading:after {
  /*content: url("~/assets/images/loading.gif");*/
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #eaeaea;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  border-radius: 16px !important;
  min-height: 200px;
}

body.dark .lazyLoad.isLoading:after,
body.dark .imgLazyLoading:after,
body.dark .profileCoverLazyLoading:after {
  animation-duration: 2.2s;
  background: #23262f;
  background: linear-gradient(to right, #23262f 8%, #272a33 18%, #23262f 33%);
}

.profileCoverLazyLoading:after {
  z-index: 0;
  opacity: 0.6;
  border-radius: 0 !important;
}

.profileCoverLazyLoading .profile__info {
  color: #0b0b0b !important;
}

.profileCoverLazyLoading .profile__text {
  color: #0b0b0b !important;
}

.item__image_preview {
  min-height: 65vh;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.imgLazyLoading ~ img {
  visibility: hidden;
}

.assets__image {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__preview {
  overflow: hidden !important;
  border-radius: 20px;
}

.py-0 {
  padding: 0 !important;
}

.my-0 {
  margin: 0 !important;
}

.w-100 {
  width: 100%;
  min-width: 100%;
}

.product__item .js-tabs-item__active {
  display: flex !important;
  flex-wrap: wrap;
}

.product__item .js-tabs-item__active .item__users {
  flex: 42%;
  max-width: 50%;
}

.pointer {
  cursor: pointer;
}

.order__checkout .item__users .item__user,
.product__item .item__users .item__user {
  padding: 8px;
}

.order__checkout .v-select-style {
  margin: 20px 0;
}

.product__item .item__users__active .item__user {
  background-color: #f1f1f1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.item__users__active .item__user {
  background-color: #f1f1f1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

body.dark .product__item .item__users__active .item__user {
  background-color: #23262f;
}

body.dark .item__users__active .item__user {
  background-color: #23262f;
}

body.dark .product__item .item__users__active .item__user {
  background-color: #23262f;
}

.item__nav {
  margin-bottom: 16px;
}

.s__item_card .card__preview {
  min-height: 200px;
}

@media only screen and (max-width: 767px) {
  .item__image_preview {
    min-height: 40vh;
  }
}

.px-2 {
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.3rem;
}

.modal {
  right: 0;
  left: 0;
  top: 0;
}

.modal .popup__btns {
  margin-top: -3px !important;
}

.modal-open .modal {
  width: 100%;
  top: 10px;
  max-height: calc(100vh - 20px);
}

.modal-content {
  border-radius: 16px;
  padding: 10px;
}

.modal-header {
  padding: 20px 26px;
}

.modal-body {
  padding: 20px 6px;
}

body.dark .modal-header {
  border-bottom-color: #23262f;
}

body.dark .modal-content {
  background-color: #1c1e23;
}

.popup__attention {
  border-radius: 16px;
}

@media only screen and (max-width: 1023px) {
  .item__details {
    width: 100%;
  }
}

body.dark .card {
  background: transparent;
  border-color: transparent;
}

.qr_code_preview {
  position: relative;
  margin: 10px auto 25px;
  overflow: hidden;
  max-width: 40%;
}

.congrats_preview {
  position: relative;
  margin: 10px auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.congrats_preview img {
  width: 70px;
}

.congrats_preview h2 {
  font-weight: bold;
}

.qr_code_preview {
  padding: 0;
}

.qr_code_preview img {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #e6e8ec;
}

body.dark .qr_code_preview img {
  border: 0;
  box-shadow: 0 0 0 2px #353945 inset;
}

.position-relative {
  position: relative;
}

.copy-btn {
  position: absolute;
  right: 20px;
  bottom: 25%;
  border-left: 1px solid #e6e8ec;
  padding-left: 10px;
}

body.dark .copy-btn {
  color: white;
}

body.dark .copy-btn:hover {
  background-color: #1c1e23 !important;
}

.order_details__container {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #e6e8ec;
  margin: 15px 0;
}

body.dark .order_details__container {
  border: 0;
  box-shadow: 0 0 0 2px #353945 inset;
}

.order__payment__container {
  margin: 15px;
  border: 2px solid #e6e8ec;
}

.order_details__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  gap: 10px;
}

.payment_details__container {
  margin-bottom: 15px;
}

.payment__details__title {
  text-align: left;
  font-size: inherit;
  margin: 5px 0px;
}

.status__label {
  color: #d78857;
}

.status__label.status_sending {
  color: #9757d7;
}

.status__label.status_warning {
  color: #d78857;
}

.status__label.status_success {
  color: #10c216;
}

.modal-header {
  border-bottom: 0 !important;
}

.table thead th,
.table td {
  border: 0 !important;
}

.order-td-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.order-td-wrapper div.order-td-image-preview {
  flex: 0 0 calc(50% - 20px);
  /* width: calc(50% - 20px); */
  width: 150px;
  margin: 10px 10px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.order-td-wrapper div.order-td-image-preview img {
  object-fit: cover;
}

.table tbody tr {
  align-items: center;
}

.table tr {
  padding: 3px 0px;
}

.fw-bolder {
  font-weight: 900;
}

.free-shipping-text {
  margin-top: 8px;
  font-weight: bolder;
  font-style: italic;
  font-size: 0.7rem;
}

.order__td .status.warning {
  background: rgba(238, 217, 143, 0.11);
  color: #a3820f;
}

.payment-currency-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.payment-currency-option .payment-currency {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.payment-currency-option .payment-currency.xrp {
  background-image: url("./assets/images/coin/xrp-coin.svg");
}
.payment-currency-option .payment-currency.usdt {
  background-image: url("./assets/images/coin/usdt-coin.png");
}

.payment-currency-option .payment-currency.busd {
  background-image: url("./assets/images/coin/busd-coin.svg");
}

.copy_button {
  margin-bottom: 10px;
}
.modal-dialog {
  max-width: 600px !important;
  word-break: break-all !important;
}
.coupon-text {
  cursor: pointer;
}
.total-price_discounted {
  text-decoration: line-through;
  padding: 5px;
  color: red;
}



.shimmer-bg {
	animation-duration: 2.2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: shimmer;
	animation-timing-function: linear;
	background: #ddd;
	background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
	background-size: 1200px 100%;
	display: flex;
	align-items: center;
}


.shimmer-bg.title-line {
	height: 16px;
	width: 100%;
  min-width: 100px;
	margin-bottom: 12px;
	border-radius: 20px;
}

.shimmer-bg.content-line {
	display: block;
	height: 8px;
	width: 100%;
	margin-top: 3px;
	border-radius: 8px;
}

.shimmer-bg.end {
	width: 40%;
}

.why-item{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.why-openmerch-section .description__preview img{
  width: auto !important;
}

.how_new_collections_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
