<template>
  <div>
    <div class="section item product__item">
      <div class="item__center center">
        <div class="item__bg">
          <i-preview
            :data-image="imageUrl"
            :data-alt="asset.name"
            :data-name="asset.name"
            :token_id="asset.token_id"
            @remove="onClearImage"
          />

          <!--          <i-options />-->
        </div>
        <i-details
          :name="asset.name"
          :description="asset.description"
          :image="asset.image"
          :categories="categories"
          :token_id="asset.token_id"
          @select="onDetailMerchSelected"
        />
      </div>
    </div>
  </div>
</template>

<script>
import IDetails from "~/components/sections/Item/IDetails.vue";
import IOptions from "~/components/sections/Item/IOptions.vue";
import IPreview from "~/components/sections/Item/IPreview.vue";
import apiRoutes from "~/config/apiRoutes";
import { UPDATE_CATEGORIES } from "~/store/categories";

export default {
  components: { IOptions, IDetails, IPreview },

  name: "product_details",

  layout: "default",

  data() {
    return {
      asset: {
        _id: "",
        createdAt: "",
        description: "",
        image: "",
        name: "",
        NftCollection: "",
      },
      imagePreview: null,
    };
  },
  props: {},
  methods: {
    async fetchCategories() {
      await this.$axios.get(apiRoutes.CATEGORIES).then((response) => {
        this.$store.dispatch(`categories/${UPDATE_CATEGORIES}`, response.data);
      });
    },
    async getAssetDetails() {
      const _id = this.$route.params.id;

      return this.$axios.get(`${apiRoutes.ASSETS}/${_id}`).then((response) => {
        return response.data;
        // const{_id,description,image,name,NftCollection}=response.data;
      });
    },
    onDetailMerchSelected(item) {
      this.imagePreview = item.image;
    },
    onClearImage() {
      this.imagePreview = null;
    },
  },
  computed: {
    categories() {
      return this.$store.getters["categories/all"];
    },
    imageUrl() {
      if (this.imagePreview === null) return this.asset.image;
      return this.imagePreview;
    },
  },
  async created() {
    const asset = await this.getAssetDetails();
    this.asset = asset;
    await this.fetchCategories();
  },
};
</script>

<style scoped></style>
