<template>
  <div>
    <div class="section-pt20 catalog">
      <div class="catalog__center center">
        <div class="catalog__sorting"></div>
        <div class="catalog__row">
          <div class="catalog__filters">
            <div class="catalog__group">
              <div class="field">
                <v-select
                  class="v-select-style"
                  :options="nftCollections"
                  v-model="selectedCollection"
                  label="name"
                >
                </v-select>
              </div>
              <hr class="hr-style"/>
              <div class="field">
                <div class="field__label">Property</div>
                <v-select
                  class="v-select-style"
                  :options="nftAttributes"
                  v-model="selectedProperty"
                  label="name"
                >
                </v-select>
              </div>
              <div class="field">
                <div class="field__label">{{ selectedProperty.name }}</div>

                <v-select
                  class="v-select-style"
                  :options="trait_values"
                  v-model="selectedAttribute"
                  label="name"
                >
                </v-select>

                <!--                <select class="select" v-model="selectedAttribute">-->
                <!--                  <option value="all" selected>all</option>-->
                <!--                  <option-->
                <!--                    v-for="(trait_value, index) in trait_values"-->
                <!--                    v-bind:key="index"-->
                <!--                    :value="trait_value.value"-->
                <!--                  >-->
                <!--                    {{ trait_value.value }}-->
                <!--                  </option>-->
                <!--                </select>-->
              </div>
              <div class="field">
                <div class="field__label">NFT ID</div>
                <input
                  class="catalog__input"
                  type="number"
                  name="number"
                  placeholder="#1005"
                  v-model="number"
                  v-debounce.1000ms="onAssetsNumberChanged"
                  required=""
                />
              </div>
            </div>
            <div>
              <button
                @click="onResetClick"
                class="catalog__reset d-block w-100"
              >
                Reset Filter
              </button>
            </div>
          </div>

          <div class="catalog__wrapper" v-if="!loading">
            <div class="catalog__list" v-if="assets.length > 0">
              <s-item
                v-for="asset in assets"
                :_id="asset._id"
                :name="asset.name"
                :description="asset.description"
                :image="asset.image"
                :token_id="asset.token_id"
                v-bind:key="asset._id"
              />
            </div>
            <div class="catalog__btns loadMore_m10" v-if="hasLoadMore">
              <button
                class="button-stroke catalog__button"
                @click="onLoadMoreClick"
                v-if="!loadMoreLoading"
              >
                Load more
              </button>
              <div v-else>
                <img src="~/assets/images/loading.gif" width="50" height="50"/>
              </div>
            </div>
          </div>
          <div class="catalog__wrapper" v-else>
            <div class="loading-wrapper">
              <img src="~/assets/images/loading.gif" width="50" height="50"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IPreview from "~/components/sections/Item/IPreview.vue";
import SItem from "~/components/sections/Search/SItem.vue";
import apiRoutes from "~/config/apiRoutes";
import {UPDATE_CATEGORIES} from "~/store/categories";
import {UPDATE_NFTS} from "~/store/nftCollections";
import {UPDATE_ATTRIBUTES} from "~/store/nftAttributes";
import {RESET_ASSETS} from "~/store/collections";
import delayMixin from "~/mixins/delayMixin";

export default {
  components: {IPreview, SItem},
  name: "index",

  mixins: [delayMixin],

  data() {
    return {
      number: "",
      attributes: [],
      trait_values: [],
      assets: [],
      loading: true,
      loadMoreLoading: false,
      hasLoadMore: true,
      selectedCollection: {
        name: "The Last Raptor",
        value: "61e84b84828f66ec3f7b5ede",
      },
      selectedProperty: {
        name: "all",
        value: "all",
      },
      selectedAttribute: {
        name: "all",
        value: "all",
      },
      limit: 9,
      page: 0,
      action: "", //fetchAssets,fetchAssetsByCollection,filterAssets
    };
  },

  watch: {
    selectedCollection: {
      immediate: true,
      async handler(value) {
        if (!value) {
          this.selectedCollection = {
            name: "The Last Raptor",
            value: "61e84b84828f66ec3f7b5ede",
          };
        } else {
          await this.collectionChanges();
          if (this.selectedCollection.value === "all") {
            await this.fetchAssets();
          } else {
            await this.fetchAssetsByCollection();
          }
        }
      },
    },
    selectedProperty: {
      immediate: true,
      async handler(value) {
        if (!value) {
          this.selectedProperty = {
            name: "all",
            value: "all",
          };
        } else {
          await this.propertyChanges();
        }
      },
    },
    selectedAttribute: {
      immediate: true,

      async handler(value) {
        this.page = 0;
        this.assets = [];
        if (!value) {
          this.selectedProperty = {
            name: "all",
            value: "all",
          };
        } else {
          await this.filterAssets();
        }
      },
    },
  },

  methods: {
    async fetchCategories() {
      await this.$axios.get(apiRoutes.CATEGORIES).then((response) => {
        this.$store.dispatch(`categories/${UPDATE_CATEGORIES}`, response.data);
      });
    },
    async fetchNFTCollections() {
      const list = await this.$axios
        .get(apiRoutes.NFT_COLLECTIONS)
        .then((response) => {
          this.$store.dispatch(`nftCollections/${UPDATE_NFTS}`, response.data);
        });
    },
    async collectionChanges() {
      await this.$axios
        .get(
          `${apiRoutes.ASSETS}/collections/${this.selectedCollection.value}/attributes`
        )
        .then(async (response) => {
          const properties = [];
          const keys = Object.keys(response.data);
          this.attributes = response.data;
          await this.$store.dispatch(
            `nftAttributes/${UPDATE_ATTRIBUTES}`,
            keys
          );
          this.selectedProperty = {
            name: "all",
            value: "all",
          };
        })
        .catch((e) => {
          console.log(e);
        });
    },
    async propertyChanges(event) {
      try {
        this.trait_values = this.attributes[this.selectedProperty.value].map(
          (item) => {
            if (item.value)
              return {
                name:
                  item.value?.charAt(0).toUpperCase() + item.value?.slice(1),
                value: item.value,
              };
          }
        );
        this.trait_values = this.trait_values.filter((t) => t !== undefined);
        if (this.selectedAttribute.value !== "all") {
          this.selectedAttribute = {
            name: "all",
            value: "all",
          };
        }
      } catch (e) {
      }
    },

    //----------------------------
    //-------- Fetch assets methods
    //----------------------------
    async fetchAssetsByCollection() {
      console.log("%cindex.vue line:266 object", "color: #007acc;");
      if (!this.loading) {
        await this.reset("fetchAssetsByCollection");
        this.action = "fetchAssetsByCollection";
        if (!this.loadMoreLoading) this.loading = true;
        await this.$axios
          .get(
            `${apiRoutes.ASSETS}/collections/${this.selectedCollection.value}?limit=${this.limit}&page=${this.page}`
          )
          .then((response) => {
            this.assets = [];
            this.loadAssets(response.data.assets);
            // this.page++;
            this.action = "fetchAssetsByCollection";
          })
          .finally(() => {
            this.loading = false;
            this.loadMoreLoading = false;
          });
      }
    },
    async fetchAssets() {
      await this.reset("fetchAssets");
      this.action = "fetchAssets";
      if (!this.loadMoreLoading) this.loading = true;
      await this.$axios
        .get(`${apiRoutes.ASSETS}?limit=${this.limit}&page=${this.page}`)
        .then((response) => {
          this.loadAssets(response.data);
          this.action = "fetchAssets";
        })
        .finally(() => {
          this.loading = false;
          this.loadMoreLoading = false;
        });
    },
    async filterAssets() {
      if (!this.loading && this.selectedCollection.value !== "all") {
        await this.reset("filterAssets");
        if (!this.loadMoreLoading) this.loading = true;
        this.action = "filterAssets";
        await this.$axios
          .get(
            `${apiRoutes.ASSETS}/collections/${this.selectedCollection.value}/filter?trait_type=${this.selectedProperty.value}&value=${this.selectedAttribute.value}&limit=${this.limit}&page=${this.page}`
          )
          .then((response) => {
            this.loadAssets(response.data.assets);
            // this.page++;
          })
          .finally(() => {
            this.loading = false;
            this.loadMoreLoading = false;
          });
      }
    },
    async filterAssetsByNumber() {
      await this.reset("filterAssetsByNumber");
      if (!this.loadMoreLoading) this.loading = true;
      this.action = "filterAssetsByNumber";
      if (!this.loadMoreLoading) {
        this.assets = [];
        this.page = 0;
      }
      await this.$axios
        .get(
          `${apiRoutes.ASSETS}/filterByNumber?number=${this.number}&page=${this.page}&limit=${this.limit}`
        )
        .then((response) => {
          this.loadAssets(response.data);
        })
        .catch((e) => {
          console.log(e.message);
        })
        .finally(() => {
          this.loading = false;
          this.loadMoreLoading = false;
        });
    },

    //----------------------------

    async loadAssets(data) {
      if (data.length <= 0) this.hasLoadMore = false;
      else
        for (const asset of data) {
          this.assets.push(asset);
          await this.sleep(100);
        }
      if (data.length > 0) this.hasLoadMore = true;
    },

    async onLoadMoreClick() {
      this.loadMoreLoading = true;
      this.page++;
      if (this.action === "fetchAssets") return this.fetchAssets();
      if (this.action === "filterAssets") return this.filterAssets();
      if (this.action === "fetchAssetsByCollection")
        return this.fetchAssetsByCollection();
      if (this.action === "filterAssetsByNumber")
        return this.filterAssetsByNumber();
    },
    async reset(action) {
      if (action !== this.action) {
        await this.$store.dispatch(`nftCollections/${RESET_ASSETS}`);
        this.page = 0;
        this.assets = [];
      }
    },
    async onResetClick() {
      this.selectedAttribute = {
        name: "all",
        value: "all",
      };
      this.selectedProperty = {
        name: "all",
        value: "all",
      };
      this.selectedCollection = {
        name: "The Last Raptor",
        value: "61e84b84828f66ec3f7b5ede",
      };
      this.page = 0;
      this.number = "";
      // await this.reset();
    },

    async onAssetsNumberChanged() {
      await this.filterAssetsByNumber();
    },
  },

  computed: {
    categories() {
      return this.$store.getters["categories/all"];
    },
    imageUrl() {
      return process.env.CDN_URL;
    },
    nftCollections() {
      try {
        const {items} = this.$store.getters["nftCollections/all"];
        if (items)
          return items.map((item) => {
            return {
              name: item.name,
              value: item._id,
            };
          });
      } catch (e) {
        return []
      }
    },
    nftAttributes() {
      return this.$store.getters["nftAttributes/all"].map((item) => {
        return {
          name: item.charAt(0).toUpperCase() + item.slice(1),
          value: item,
        };
      });
    },
  },

  async created() {
    await this.fetchCategories();
    await this.fetchNFTCollections();
    await this.fetchAssets().finally(() => {
      this.loading = false;
      this.loadMoreLoading = false;
    });
  },
};
</script>

<style scoped></style>
