<template>
  <div class="item__control">
    <div class="item__head">
      <div class="item__avatar">
        <img :src="assetImage" alt="Avatar" />
      </div>
      <div class="item__description">
        <div class="item__info">Total Price</div>
        <div class="item__currency">
          <div class="item__price">
            <span>{{ itemPrice }}</span> USDT
          </div>
          <div class="item__price">
            <span>{{ totalETHPrice }}</span> ETH
          </div>
        </div>
      </div>
    </div>
    <div class="item__btns" v-if="showOrderButton">
      <button
        class="button item__button js-popup-open button-full"
        data-effect="mfp-zoom-in"
        @click="startOrder"
      >
        Order Now
      </button>
      <br />
    </div>

    <div class="item__btns" v-else>
      <connect-wallet-button class="button item__button button-full" />
    </div>

    <div class="text-center free-shipping-text">
      Free Shipping & Tax Included
    </div>

    <div>
      <submit-order-modal
        ref="submit_order_modal"
        @submit="saveCheckoutDetails"
      />
      <checkout-order-modal ref="checkout_order_modal" @submit="saveOrder" />
      <payment-order-modal ref="payment_order_modal" @submit="saveOrder" />
    </div>
  </div>
</template>

<script>
import IPopupAccept from "~/components/sections/Item/IPopupAccept.vue";
import IPopupPrice from "~/components/sections/Item/IPopupPrice.vue";
import IPopupPurchase from "~/components/sections/Item/IPopupPurchase.vue";
import IPopupReport from "~/components/sections/Item/IPopupReport.vue";
import IPopupTransfer from "~/components/sections/Item/IPopupTransfer.vue";
import IPopupBurn from "./IPopupBurn.vue";
import IPopupSale from "./IPopupSale.vue";
import IPopupWallet from "./IPopupWallet.vue";
import CModal from "../../modals/CModal.vue";
import ConnectWalletButton from "../../ConnectWalletButton.vue";
import { UPDATE_ORDER } from "~/store/order";
import { BButton } from "bootstrap-vue";
import SubmitOrderModal from "~/components/modals/orders/SubmitOrderModal";
import CheckoutOrderModal from "~/components/modals/orders/CheckoutOrderModal";
import PaymentOrderModal from "~/components/modals/orders/PaymentOrderModal";

export default {
  components: {
    PaymentOrderModal,
    CheckoutOrderModal,
    SubmitOrderModal,
    IPopupPurchase,
    IPopupAccept,
    IPopupTransfer,
    IPopupReport,
    IPopupBurn,
    IPopupPrice,
    IPopupWallet,
    IPopupSale,
    CModal,
    BButton,
    ConnectWalletButton,
  },

  name: "ICard",

  data() {
    return {
      shippingFee: 100,
      loading: false,
    };
  },

  props: {
    image: { default: "" },
  },

  computed: {
    assetName() {
      return this.$store.getters["order/base"].name;
    },
    purchaseStep() {
      return this.$store.getters["order/base"].purchaseStep;
    },
    showPurchaseModal() {
      return this.$store.getters["order/base"].showPurchaseModal;
    },
    ethPrice() {
      return this.$store.getters["order/base"].ETH;
    },
    getSelectedMerch() {
      try {
        return this.$store.state.order.merches;
      } catch (e) {
        return {};
      }
    },
    getOrderCount() {
      try {
        return this.$store.state.order.count;
      } catch (e) {
        return 1;
      }
    },
    itemPrice() {
      try {
        let total = 0;
        for (const item of this.getSelectedMerch) {
          total = total + item.price * this.getOrderCount;
        }
        if (total) return total;
        return 0;
      } catch (e) {
        return 0;
      }
    },
    totalETHPrice() {
      try {
        // return this.itemPrice;
        return (this.itemPrice / this.ethPrice).toFixed(3);
      } catch (e) {
        return 0;
      }
    },
    totalPrice() {
      try {
        return this.itemPrice + this.shipping;
        return ((this.itemPrice + this.shipping) / this.ethPrice).toFixed(3);
      } catch (e) {}
    },
    shippingFeeETH() {
      try {
        return this.$store.state.order.shipping;
        return (this.$store.state.order.shipping / this.ethPrice).toFixed(3);
      } catch (e) {
        return 0;
      }
    },
    assetImage() {
      return `${this.image}`;
    },
    checkoutDetails() {
      return this.$store.getters["order/base"].checkoutDetails;
    },
    shipping() {
      return this.$store.state.order.shipping;
    },
    showOrderButton() {
      return true;
      return this.$store.getters["wallet/isConnected"];
    },
  },

  methods: {
    async getCoinPrice(coin) {
      await this.$axios.get(`currencies/${coin}`).then((response) => {
        this.$store.dispatch(`order/${UPDATE_ORDER}`, {
          prop: coin,
          value: response.data.price,
        });
      });
    },

    async onOrderNow() {
      await this.getCoinPrice("ETH");
      await this.getCoinPrice("XRP");
      // this.$refs["my-modal"].show();
      // const { merches, count, shipping } = await this.$store.getters[
      //   "order/base"
      // ];
      // const itemPrice = merches?.reduce((prevValue, nextValue) => {
      //   return (prevValue.price + nextValue.price) * count;
      // });
      // this.$store.dispatch(`order/${UPDATE_ORDER}`, {
      //   prop: "itemPrice",
      //   value: itemPrice + shipping,
      // });
      // this.$store.dispatch(`order/${UPDATE_ORDER}`, {
      //   prop: "showPurchaseModal",
      //   value: true,
      // });
    },
    async startOrder() {
      if (this.$store.state.order.merches.length > 0) {
        this.$refs["submit_order_modal"].show();
      } else {
        this.$toast.error("Please select an item ");
      }
    },
    async getCountries() {
      await this.$axios.get("shippings/countries").then((response) => {
        this.$store.dispatch(`order/${UPDATE_ORDER}`, {
          prop: "countries",
          value: response.data.sort(function (a, b) {
            if (a.name > b.name) {
              return 1;
            }
            if (b.name > a.name) {
              return -1;
            }
            return 0;
          }),
        });
      });
      this.selectedCountry = "";
    },
    async saveCheckoutDetails() {
      this.$refs["checkout_order_modal"].show();
    },
    async saveOrder(data) {
      this.$refs["payment_order_modal"].show(data);
    },
  },

  async mounted() {
    await this.getCoinPrice("ETH");
    await this.getCoinPrice("XRP");
    await this.getCountries();
    //this.$store.getters["wallet/isConnected"];
    const { purchaseStep } = this.$store.getters["order/base"];
    // this.purchaseStep = purchaseStep;
  },
};
</script>
