<template>
  <div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="field">
          <div class="field__label">Background</div>
          <div class="field__wrap">
            <v-select
              class="v-select-style"
              :options="variantsBackgroundOptions"
              v-model="selectedVariantsBackground"
              :clearable="false"
            >
            </v-select>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="field">
          <div class="field__label">Items</div>
          <div class="field__wrap">
            <input
              class="field__input"
              type="number"
              v-model="orderCount"
              name="size"
              placeholder="e. g. 2,3"
              required=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="item__card_variants__row" v-show="showAttributes">
      <div class="item__card_variants">
        <div class="field">
          <div class="field__label">gender</div>

          <div class="field__wrap">
            <v-select
              class="v-select-style"
              v-model="selectedGender"
              :options="genders"
            >
            </v-select>
          </div>
        </div>
      </div>
      <div class="item__card_variants">
        <div class="field">
          <div class="field__label">size</div>

          <div class="field__wrap">
            <v-select
              class="v-select-style"
              v-model="selectedSize"
              :options="sizes"
            >
            </v-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { UPDATE_ORDER } from "~/store/order";
export default {
  name: "ICardVariants",

  data() {
    return {
      variantsBackgroundOptions: ["Transparent", "Original"],
      variantSizeOptions: [],
      variantGenderOptions: [],
      orderCount: 1,
      selectedVariantsBackground: "Transparent",
      selectedGender: "",
      selectedSize: "",
    };
  },

  computed: {
    showAttributes() {
      return this.$store.state.order?.merches[0]?.attributes?.length > 0;
    },
    genders() {
      const genderOptions =
        this.$store.state.order?.merches[0]?.attributes.filter(
          (x) => x.name == "gender"
        );
      return genderOptions?.length > 0 ? genderOptions[0]?.value : [];
    },
    sizes() {
      return this.$store.state.order?.merches[0]?.attributes.filter(
        (x) => x.name == "size"
      )[0]?.value;
    },
    checkoutDetails() {
      return this.$store.getters["order/base"].checkoutDetails;
    },
  },

  watch: {
    async orderCount() {
      await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "count",
        value: event.target.value,
      });
    },
    selectedGender() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, gender: this.selectedGender },
      });
    },
    selectedSize() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, size: this.selectedSize },
      });
    },
    async selectedVariantsBackground() {
      await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "background",
        value: this.selectedVariantsBackground,
      });
    },
  },

  created() {
    this.selectedVariantsBackground = "Transparent";
    this.$store.dispatch(`order/${UPDATE_ORDER}`, {
      prop: "background",
      value: "Transparent",
    });
    this.selectedGender = "male";
    this.selectedSize = "small";
  },
};
</script>
