<template>
  <div class="card s__item_card s__item_card_new_collection" style="cursor: pointer" @click="onClick">
    <a class="card__link" :href="'/explore/' + _id">
        <div class="card__body">
          <div class="card__line">
            <div class="card__title item__head">
              <div class="item__avatar">
                <img class="" @load="onImgLoad" :src="image" :alt="name" />
              </div>
              <div class="asset__title">{{ name }}</div>
          </div>
        </div>
      </div>
    </a>

    <div class="card__preview">
      <div class="imgLazyLoading" v-if="loading"></div>

      <img @load="onImgLoad" :src="productImage" :alt="name" />
    </div>

  </div>
</template>

<script>
import DelayMixin from "~/mixins/delayMixin";

export default {
  name: "ICardHowToBuyNewCollectionItem",

  mixins: [DelayMixin],

  props: {
    _id: "",
    name: "",
    description: "",
    image: "",
    productImage: "",
    token_id: "",
  },

  data() {
    return {
      loading: true,
    };
  },

  computed: {
    imageUrl() {
      return this.image;
    },
  },

  methods: {
    onClick() {
      this.$router.push("/explore/" + this._id);
    },
    async onImgLoad() {
      await this.sleep(1000);
      this.loading = false;
    },
  },
};
</script>

<style scoped>
.s__item_card_new_collection{
  background: rgba(221, 227, 230, 0.3) !important;
  border-radius: 30px !important;
  border: 0 !important;
}

.s__item_card_new_collection .card__link
{
  padding: 10px 20px 0  !important;
  font-size: 0.8rem;
}

.s__item_card_new_collection .asset__title
{
  font-size: 0.9rem;
}

.s__item_card_new_collection .item__avatar
{
  width: 38px !important;
  height: 38px !important;
  margin-right: 5px !important
}
</style>
