<template>
  <div class="item__cost">
    <!-- <div class="status-stroke-green item__price">2.5 ETH</div>
    <div class="status-stroke-black item__price">$4,429.87</div>
    <div class="item__counter">10 in stock</div> -->
  </div>
</template>
<script>
export default {
  name: "ICost",
};
</script>