<template>
  <div class="item__details">
    <h1 class="item__title h3">{{ name }} #{{ token_id }}</h1>

    <i-cost />

    <div class="item__text">
      {{ description }}
    </div>

    <div class="item__tabs js-tabs">
      <div class="item__nav">
        <button
          v-for="(category, index) in categories"
          v-bind:key="category._id"
          class="item__link js-tabs-link"
          @click="tab = index"
          :class="{ active: tab === index }"
        >
          {{ category.name }}
        </button>
      </div>
      <div class="item__container">
        <div
          class="item__box js-tabs-item"
          v-for="(category, index) in categories"
          v-bind:key="category._id"
          :class="{ 'js-tabs-item__active': tab === index }"
        >
          <div
            class="item__users pointer col-"
            @click="onMerchClick(merch)"
            :class="{
              item__users__active: selectedMerchsId.indexOf(merch._id) >= 0,
            }"
            v-for="(merch, index) in merchs[category._id]"
            v-bind:key="index"
          >
            <div class="item__user">
              <div class="item__avatar">
                <img :src="merch.image" alt="Avatar" />
              </div>
              <div class="item__description">
                <div class="item__position">
                  <div v-html="merch.name"></div>
                </div>
                <div class="item__name">${{ merch.price }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <i-card-variants />

    <i-card :image="image" />
  </div>
</template>

<script>
import ICard from "./ICard.vue";
import ICost from "./ICost.vue";
import ICardVariants from "./ICardVariants.vue";
import apiRoutes from "~/config/apiRoutes";
import { UPDATE_ORDER } from "~/store/order";

export default {
  components: { ICost, ICard, ICardVariants },

  name: "IDetails",

  data() {
    return {
      tab: 0,
      merchs: [],
      selectedMerchsId: [],
      selectedMerchs: [],
      background: "Solid",
      showOrderButton: false,
      asset: "",
      merchImage: null,
    };
  },

  props: {
    name: "",
    image: "",
    description: "",
    categories: [],
    token_id: "",
  },

  methods: {
    async fetchMerchs() {
      await this.$axios
        .get(`${apiRoutes.MERCHS}/?page=0&limit=100`)
        .then((response) => {
          this.merchs = response.data;
        });
    },
    async changeMerch(selectedMerch) {},
    async onMerchClick(item) {
      this.selectedMerchs = [item];
      this.selectedMerchsId = [item._id];
      this.$emit("select", item);
      await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "merches",
        value: this.selectedMerchs,
      });
    },
  },
  watch: {
    async name() {
      await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "name",
        value: this.name,
      });
    },
  },
  async created() {
    this.asset = this.$route.params.id;
    await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
      prop: "asset",
      value: this.$route.params.id,
    });

    await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
      prop: "wallet_address",
      value: this.$store.getters[`wallet/getWalletAddress`],
    });

    await this.fetchMerchs();
  },
};
</script>
