<template>
  <div class="card s__item_card" style="cursor: pointer" @click="onClick">
    <div class="card__preview">
      <div class="imgLazyLoading" style="min-height: 280px" v-if="loading"></div>
    </div>
    <a class="card__link">
      <div class="card__body">
        <div class="card__line">
          <div class="card__title">
            <div class="asset__title">
            <div class="text-muted shimmer-bg title-line"></div>
          </div>
          </div>
        </div>
        <div class="card__line">
          <div class="card__users">
          </div>
          <div class="card__counter">
            popular <span role="/img" aria-label="fire">🔥</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import DelayMixin from "~/mixins/delayMixin";

export default {
  name: "ILoading",

  data() {
    return {
      loading: true,
    };
  },
};
</script>
