<template>
    
          <div class="options">
            <div class="options__list">
              <button
                class="
                  button-circle-stroke
                  options__button options__button_share
                  js-options-share
                "
              >
                <svg class="icon icon-share">
                  <use xlink:href="#icon-share"></use>
                </svg>
              </button>
              <button
                class="
                  button-circle-stroke
                  options__button options__button_favorite
                  active
                "
              >
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button>
              <div class="actions js-actions">
                <button
                  class="button-circle-stroke actions__button js-actions-button"
                >
                  <svg class="icon icon-more">
                    <use xlink:href="#icon-more"></use>
                  </svg>
                </button>
                <div class="actions__body js-actions-body">
                  <a
                    class="actions__item js-popup-open"
                    href="#popup-price"
                    data-effect="mfp-zoom-in"
                  >
                    <svg class="icon icon-coin">
                      <use xlink:href="#icon-coin"></use></svg
                    >Change price</a
                  ><a
                    class="actions__item js-popup-open"
                    href="#popup-transfer"
                    data-effect="mfp-zoom-in"
                  >
                    <svg class="icon icon-arrow-right-square">
                      <use xlink:href="#icon-arrow-right-square"></use></svg
                    >Transfer token</a
                  ><a
                    class="actions__item js-popup-open"
                    href="#popup-remove"
                    data-effect="mfp-zoom-in"
                  >
                    <svg class="icon icon-close-circle">
                      <use xlink:href="#icon-close-circle"></use></svg
                    >Remove from sale</a
                  ><a
                    class="actions__item js-popup-open"
                    href="#popup-burn"
                    data-effect="mfp-zoom-in"
                  >
                    <svg class="icon icon-close-circle">
                      <use xlink:href="#icon-close-circle"></use></svg
                    >Burn token</a
                  ><a
                    class="actions__item js-popup-open"
                    href="#popup-report"
                    data-effect="mfp-zoom-in"
                  >
                    <svg class="icon icon-info-circle">
                      <use xlink:href="#icon-info-circle"></use></svg
                    >Report</a
                  >
                </div>
              </div>
            </div>
            <div class="options__box js-options-box">
              <div class="options__stage">Share link to this page</div>
              <div class="options__share share-btn" data-url="https://ui8.net">
                <a class="options__direction btn-twitter" data-id="tw"
                  ><span>
                    <svg class="icon icon-twitter">
                      <use xlink:href="#icon-twitter"></use></svg></span></a
                ><a class="options__direction btn-facebook" data-id="fb"
                  ><span>
                    <svg class="icon icon-facebook">
                      <use xlink:href="#icon-facebook"></use></svg></span
                ></a>
              </div>
            </div>
          </div>
</template>

<script>
export default {
    name: 'IOptions'
}
</script>