<template>
  <div class="popup popup_purchase" id="popup-purchase">
    <div class="popup__item" style="display: block">
      <div class="popup__title h4">Checkout</div>
      <div class="popup__info">
        You are about to purchase <strong>C O I N Z</strong> from
        <strong>UI8</strong>
      </div>
      <div class="popup__table">
        <div class="popup__row">
          <div class="popup__col">0.007</div>
          <div class="popup__col">ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Your balance</div>
          <div class="popup__col">8.498 ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Service fee</div>
          <div class="popup__col">0 ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">You will pay</div>
          <div class="popup__col">0.007 ETH</div>
        </div>
      </div>
      <div class="popup__attention">
        <div class="popup__preview">
          <svg class="icon icon-info-circle">
            <use xlink:href="#icon-info-circle"></use>
          </svg>
        </div>
        <div class="popup__details">
          <div class="popup__category">This creator is not verified</div>
          <div class="popup__text">Purchase this item at your own risk</div>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button popup__button" @click="submitOrder">
          I understand, continue order
        </button>
        <button
          class="button-stroke popup__button js-popup-close"
          @click="close"
        >
          Cancel
        </button>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__title h4">Folow steps</div>
      <div class="steps">
        <div class="steps__item">
          <div class="steps__head">
            <div class="steps__icon">
              <div class="loader-circle"></div>
            </div>
            <div class="steps__details">
              <div class="steps__info">Purchasing</div>
              <div class="steps__text">
                Sending transaction with your wallet
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup__attention">
        <div class="popup__preview">
          <svg class="icon icon-info-circle">
            <use xlink:href="#icon-info-circle"></use>
          </svg>
        </div>
        <div class="popup__details">
          <div class="popup__category">This creator is not verified</div>
          <div class="popup__text">Purchase this item at your own risk</div>
        </div>
        <div class="popup__avatar">
          <img src="/img/content/avatar-3.jpg" alt="Avatar" />
        </div>
      </div>
      <div class="popup__btns">
        <button class="button popup__button">I understand, continue</button>
        <button class="button-stroke popup__button js-popup-close">
          Cancel
        </button>
      </div>
    </div>
    <div class="popup__item">
      <div class="success">
        <div class="success__title h2">
          Yay! <span role="/img" aria-label="firework">🎉</span>
        </div>
        <div class="success__info">
          You successfully purchased <span>C O I N Z</span> from UI8
        </div>
        <div class="success__table">
          <div class="success__row">
            <div class="success__col">Status</div>
            <div class="success__col">Transaction ID</div>
          </div>
          <div class="success__row">
            <div class="success__col">Processing</div>
            <div class="success__col">0msx836930...87r398</div>
          </div>
        </div>
        <div class="success__stage">Time to show-off</div>
        <div class="success__socials">
          <a
            class="success__social"
            href="https://www.facebook.com/ui8.net/"
            target="_blank"
          >
            <svg class="icon icon-facebook">
              <use xlink:href="#icon-facebook"></use></svg></a
          ><a
            class="success__social"
            href="https://twitter.com/ui8"
            target="_blank"
          >
            <svg class="icon icon-twitter">
              <use xlink:href="#icon-twitter"></use></svg></a
          ><a
            class="success__social"
            href="https://www.instagram.com/ui8net/"
            target="_blank"
          >
            <svg class="icon icon-instagram">
              <use xlink:href="#icon-instagram"></use></svg></a
          ><a
            class="success__social"
            href="https://www.pinterest.com/ui8m/"
            target="_blank"
          >
            <svg class="icon icon-pinterest">
              <use xlink:href="#icon-pinterest"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { UPDATE_ORDER } from "~/store/order";
export default {
  name: "IPopupPurchase",
  data() {
    return {
      price: 0,
      count: 0,
      asset: "",
      background: "Transparent",
      category: "",
      merches: [],
    };
  },
  methods: {
    async submitOrder() {
      const order = this.$store.getters["order/base"];
      const purchase = { step: 3 };
      if (
        !this.$auth.user.last_name ||
        !this.$auth.user.first_name ||
        !this.$auth.user.email_address
      )
        purchase.step = 2;
      await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "purchaseStep",
        value: purchase.step,
      });
    },
    async close() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "showPurchaseModal",
        value: false,
      });
    },
  },
};
</script>
