<template>
    
    <div class="popup popup_bid" id="popup-bid">
      <div class="popup__title h4">Place a bid</div>
      <div class="popup__info">
        You are about to purchase <strong>C O I N Z</strong> from
        <strong>UI8</strong>
      </div>
      <div class="popup__subtitle">Your bid</div>
      <div class="popup__table">
        <div class="popup__row">
          <div class="popup__col">Enter bid</div>
          <div class="popup__col">
            <div class="popup__bid">
              <input class="popup__rate" type="tel" name="bid" />
              <div class="popup__currency">ETH</div>
            </div>
          </div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Your balance</div>
          <div class="popup__col">8.498 ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Service fee</div>
          <div class="popup__col">0 ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Total bid amount</div>
          <div class="popup__col">0 ETH</div>
        </div>
      </div>
      <div class="popup__btns">
        <a
          class="button popup__button js-popup-open"
          href="#popup-wallet"
          data-effect="mfp-zoom-in"
          >Place a bid</a
        >
        <button class="button-stroke popup__button js-popup-close">
          Cancel
        </button>
      </div>
    </div>
</template>
<script>
export default {
  name: "IPopupBid",
};
</script>