<template>
    
    <div class="popup popup_remove" id="popup-remove">
      <div class="popup__title h4">Remove from sale</div>
      <div class="popup__note">
        Do you really want to remove your item from sale? You can put it on sale
        anytime
      </div>
      <div class="popup__btns">
        <button class="button popup__button js-popup-close">Remove now</button>
        <button class="button-stroke popup__button js-popup-close">
          Cancel
        </button>
      </div>
    </div>
</template>
<script>
export default {
  name: "IPopupRemove",
};
</script>