<template>
 
    <div class="popup popup_price" id="popup-price">
      <div class="popup__title h4">Change price</div>
      <div class="field">
        <div class="field__label">new price</div>
        <div class="field__wrap">
          <input
            class="field__input"
            name="price"
            type="text"
            value="1.46"
            required
          />
          <div class="field__currency">ETH</div>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button-purple popup__button js-popup-close">
          Change price
        </button>
        <button class="button-stroke popup__button js-popup-close">
          Cancel
        </button>
      </div>
    </div>
</template>
<script>
export default {
  name: "IPopupPrice",
};
</script>