<template>
  <div class="popup popup_burn" id="popup-burn">
      <div class="popup__title h4">Burn token</div>
      <div class="popup__note">
        Are you sure to burn this token? This action cannot be undone. Token
        will be transfered to zero address
      </div>
      <div class="popup__btns">
        <button class="button-purple popup__button js-popup-close">
          Continue
        </button>
        <button class="button-stroke popup__button js-popup-close">
          Cancel
        </button>
      </div>
    </div>
</template>
<script>
export default {
  name: "IPopupBurn",
};
</script>