<template>
  <div class="popup popup_transfer" id="popup-transfer">
    <div class="popup__title h4">Transfer token</div>
    <div class="popup__note">
      You can transfer tokens from your address to another
    </div>
    <div class="popup__subtitle">Receiver address</div>
    <div class="popup__field">
      <div class="popup__wrap">
        <input
          class="popup__input"
          type="text"
          name="first_name"
          placeholder="first name"
          required
        />
      </div>
      <div class="popup__wrap">
        <input
          class="popup__input"
          type="text"
          name="last_name"
          placeholder="last name"
          required
        />
      </div>
      <div class="popup__wrap">
        <input
          class="popup__input"
          type="email"
          name="email_address"
          placeholder="email"
          required
        />
      </div>
    </div>
    <div class="popup__btns">
      <button class="button popup__button js-popup-close">Continue</button>
      <button
        class="button-stroke popup__button js-popup-close"
        @click="resetPopup"
      >
        Cancel
      </button>
    </div>
  </div>
</template>
<script>
import { UPDATE_ORDER } from "~/store/order";
export default {
  name: "IPopupTransfer",
  methods: {
    resetPopup() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "showPurchaseModal",
        value: false,
      });
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "purchaseStep",
        value: 1,
      });
    },
  },
};
</script>