<template>
 
    <div class="popup popup_report" id="popup-report">
      <div class="popup__title h4">Report</div>
      <div class="popup__note">
        Describe why you think this item should be removed from marketplace
      </div>
      <div class="field">
        <div class="field__label">message</div>
        <div class="field__wrap">
          <textarea
            class="field__textarea"
            name="message"
            placeholder="Tell us the details"
            required
          ></textarea>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button-purple popup__button js-popup-close">
          Send now
        </button>
        <button class="button-stroke popup__button js-popup-close">
          Cancel
        </button>
      </div>
    </div>
</template>
<script>
export default {
  name: "IPopupReport",
};
</script>