<template>
    

    <div class="popup popup_sale" id="popup-sale">
      <div class="popup__title h4">Put on sale</div>
      <div class="popup__line">
        <div class="popup__icon">
          <svg class="icon icon-coin">
            <use xlink:href="#icon-coin"></use>
          </svg>
        </div>
        <div class="popup__box">
          <div class="popup__category">Instant sale price</div>
          <div class="popup__text">
            Enter the price for which the item will be instanly sold
          </div>
        </div>
        <label class="switch">
          <input class="switch__input" type="checkbox" checked="checked" /><span
            class="switch__inner"
            ><span class="switch__box"></span
          ></span>
        </label>
      </div>
      <div class="popup__table">
        <div class="popup__row">
          <div class="popup__col">Enter your price</div>
          <div class="popup__col">ETH</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Service fee</div>
          <div class="popup__col">1.5%</div>
        </div>
        <div class="popup__row">
          <div class="popup__col">Total bid amount</div>
          <div class="popup__col">0 ETH</div>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button popup__button">Continue</button>
        <button class="button-stroke popup__button js-popup-close">
          Cancel
        </button>
      </div>
    </div>
</template>

<script>
export default {
  name: "IPopupSale",
};
</script>
