<template>
  <div class="popup popup_accept" id="popup-accept">
    <div class="accept">
      <div class="accept__line">
        <div class="accept__icon"></div>
        <div class="accept__text">
          You are about to accept a bid for <strong>C O I N Z</strong> from
          <strong>UI8</strong>
        </div>
      </div>
      <div class="accept__subtitle">1.46 ETH for 1 edition</div>
      <div class="accept__table">
        <div class="accept__row">
          <div class="accept__col">Service fee</div>
          <div class="accept__col">0 ETH</div>
        </div>
        <div class="accept__row">
          <div class="accept__col">Total bid amount</div>
          <div class="accept__col">1.46 ETH</div>
        </div>
      </div>
    </div>
    <div class="popup__btns">
      <button class="button popup__button">Accept bid</button>
      <button class="button-stroke popup__button js-popup-close">Cancel</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "IPopupShipping",
};
</script>