<template>
  <div class="item__preview">
    <div class="item__categories">
      <div class="status-green item__category pointer" @click="onClearImage">
        {{ dataName.replace("The Last Raptor", "TLR") }}
      </div>
    </div>
    <div class="item__image_preview">
      <div class="imgLazyLoading imgLazyLoading__big" v-if="loading"></div>

      <img
        v-if="!merchClicked"
        @load="onImgLoad"
        :src="dataImage"
        :alt="dataAlt"
      />
    </div>

    <div class="px-2">
      <br />
      <p>
        The {{ dataName.replace("The Last Raptor", "TLR") }} will be applied on
        the actual product, and all the images shown are only for demonstration
        purposes.
      </p>
    </div>
  </div>
</template>

<script>
import MockupCard from "~/components/elements/MockupCard.vue";
import delayMixin from "~/mixins/delayMixin";

export default {
  name: "IPreview",
  components: { MockupCard },
  mixins: [delayMixin],

  props: {
    dataImage: { default: "/img/content/item-pic.jpg" },
    dataTransparentImage: "",
    mockupImage: "",
    dataAlt: { default: "" },
    dataName: { default: "" },
    merchClicked: { default: false },
  },

  data() {
    return {
      loading: false,
    };
  },

  methods: {
    async onImgLoad() {
      await this.sleep(100);
      this.loading = false;
    },
    async onClearImage() {
      this.$emit("remove");
    },
  },
  created() {},
};
</script>
