<template>
  <div
    class="header__item header__item_user js-header-item js-demo-user"
    v-click-outside="onClickOutside"
    :class="{ active: visible }"
    style="display: block"
  >
    <button
      class="header__head js-header-head"
      style="padding: 4px 10px"
      @click="onMenuClick"
    >
      <!--      <i class="feather-more-horizontal"></i>-->
      <i class="feather-more-horizontal"></i>
    </button>
    <div class="header__body js-header-body">
      <div class="header__menu">
        <slot name="menu"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ISubMenu",

  data() {
    return {
      visible: false,
    };
  },

  methods: {
    onClickOutside() {
      this.visible = false;
    },
    onMenuClick() {
      this.visible = !this.visible;
    },
  },
};
</script>

<style scoped></style>
