<template>
  <div class="card border-0">
    <div class="card__preview">
      <img
        srcSet="/img/content/card-pic-1@2x.jpg 2x"
        src="/img/content/card-pic-1.jpg"
        alt="Card preview"
      />
      <div class="card__control">
        <div class="status-green card__category">purchasing !</div>
        <button class="card__favorite">
          <svg class="icon icon-heart">
            <use xlink:href="#icon-heart"></use>
          </svg>
        </button>
        <a
          class="button-small card__button js-popup-open"
          href="#popup-bid"
          data-effect="mfp-zoom-in"
          ><span>Place a bid</span>
          <svg class="icon icon-scatter-up">
            <use xlink:href="#icon-scatter-up"></use>
          </svg>
        </a>
      </div>
    </div>
    <a class="card__link" href="item.html">
      <div class="card__body">
        <div class="card__line">
          <div class="card__title">Collecion name</div>
          <div class="card__price"></div>
        </div>
        <div class="card__line">
          <div class="card__title">Product Name</div>
          <div class="card__price">$2.45</div>
        </div>

      </div>
    </a>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.card__price{
  border: 0 !important;
  color: black !important;
  box-shadow: none !important;
  font-weight: 800;
}
</style>
