<template>
  <div class="outer">
    <GHeader />
    <div class="outer__inner">
      <Nuxt />
    </div>

    <GFooter />
    <working-modal ref="working_app_modal" />
  </div>
</template>

<script>
import GHeader from "~/components/sections/GHeader";
import GFooter from "~/components/sections/GFooter";
import WorkingModal from "~/components/modals/WorkingModal";
import ConnectMixin from "~/mixins/connect.mixin";

export default {
  name: "default",

  components: { WorkingModal, GHeader, GFooter },

  mixins: [ConnectMixin],

  head() {
    return {
      script: [
        {
          type: "text/javascript",
          src: "/js/head.js",
          defer: true,
          body: true,
        },
        {
          type: "text/javascript",
          src: "/js/body.js",
          defer: true,
          body: true,
        },
        { type: "text/javascript", src: "/js/app.js", defer: true, body: true },
      ],
    };
  },
  computed: {
    isConnected() {
      return !this.$store.getters["wallet/isConnected"];
    },
  },

  watch: {
    getChainId() {
      if (this.isConnected) {
        if (this.getChainId !== "0x1") this.$refs.working_app_modal.show();
        else this.$refs.working_app_modal.hide();
      }
    },
  },

  middleware: ["ifauthenticated"],
};
</script>

<style scoped></style>
