<template>
  <div class="outer">
    <GHeader />
    <div class="outer__inner">
      <Nuxt />
    </div>

    <GFooter />

    <working-modal ref="working_app_modal" />
  </div>
</template>

<script>
import GHeader from "~/components/sections/GHeader";
import GFooter from "~/components/sections/GFooter";
import { UPDATE_ASSETS, UPDATE_BASE_COLLECTION } from "~/store/collections";
import { UPDATE_CATEGORIES } from "~/store/categories";
import { CollectionService } from "~/services/collectionService";
import "~/core/plugins/template";
import apiRoutes from "~/config/apiRoutes";
import { UPDATE_BALANCE, UPDATE_STATUS } from "~/store/wallet";
import WorkingModal from "~/components/modals/WorkingModal";
import ConnectMixin from "~/mixins/connect.mixin";

export default {
  name: "default",

  data() {
    return {
      cService: null,
    };
  },

  middleware: ["requirements"],

  components: { WorkingModal, GHeader, GFooter },

  mixins: [ConnectMixin],

  computed: {
    contracts() {
      return this.$store.getters["collections/base"].map((item) => {
        return item.address;
      });
    },
  },

  watch: {
    getChainId() {
      if (this.isConnected) {
        if (this.getChainId !== "0x1") this.$refs.working_app_modal.show();
        else this.$refs.working_app_modal.hide();
      }
    },
    async isConnected() {
      console.log(
        "%cdefault.vue line:57 isConnected",
        "color: #007acc;",
        isConnected
      );
      if (this.isConnected) {
        await this.initStores().then(() => {
          this.$store.dispatch(`wallet/${UPDATE_STATUS}`, { status: "" });
        });
      }
    },

    async walletAddress() {
      if (this.isConnected) {
        await this.initStores().then(() => {
          this.$store.dispatch(`wallet/${UPDATE_STATUS}`, { status: "" });
        });
      }
    },
  },

  async created() {
    await this.$axios.$get(apiRoutes.CATEGORIES).then((data) => {
      this.$store.dispatch("categories/" + UPDATE_CATEGORIES, data);
    });
    await this.$axios.$get("/setting/collections").then((data) => {
      this.$store.dispatch("collections/" + UPDATE_BASE_COLLECTION, data);
    });
    if (this.isConnected) {
      await this.initStores().then(() => {
        this.$store.dispatch(`wallet/${UPDATE_STATUS}`, { status: "" });
      });
      this.fetchAssets();
    }
  },

  mounted() {
    // let recaptchaScript = document.createElement("script");
    // recaptchaScript.setAttribute(
    //   "src",
    //   "https://sibforms.com/forms/end-form/build/main.js"
    // );
    // document.head.appendChild(recaptchaScript);
  },

  head() {
    return {
      script: [
        { hid: "stripe", src: "/js/head.js", defer: true, body: true },
        { hid: "stripe", src: "/js/body.js", defer: true, body: true },
        { hid: "stripe", src: "/js/app.js", defer: true, body: true },
      ],
    };
  },

  methods: {
    async initStores() {
      await this.$store.dispatch(`wallet/${UPDATE_STATUS}`, {
        status: "working",
      });
      await this.$axios.$get("/setting/collections").then((data) => {
        this.$store.dispatch("collections/" + UPDATE_BASE_COLLECTION, data);
      });
      console.log("init store");
      // const assets = await CollectionService.getWalletAssets(
      //   this.walletAddress,
      //   this.contracts
      // );
      // console.log("%cdefault.vue line:124 assets", "color: #007acc;", assets);
      // await this.$axios
      //   .$put(apiRoutes.GET_BALANCE, {
      //     tokens: assets
      //       ?.filter((asset) => asset.NftCollection.isHidden !== true)
      //       ?.map((item) => {
      //         return item.token_id;
      //       }),
      //   })
      //   .then((data) => {
      //     this.$store.dispatch("wallet/" + UPDATE_BALANCE, data);
      //   });

      // await this.$axios.$get("/setting/collections").then((data) => {
      //   this.$store.dispatch("wallet/" + UPDATE_BALANCE, data);
      // });

      // await this.$store.dispatch("collections/" + UPDATE_ASSETS, assets);
    },
    async fetchAssets() {
      const username = this.$auth.user.name;
      await this.$axios
        .get(`auth/profile?page=0&limit=10000`)
        .then(async (response) => {
          await this.$store.dispatch(
            "collections/" + UPDATE_ASSETS,
            response.data.assets
          );
          this.NftsUpdateStatus = response.data.user.assetsUpdateStatus;
          if (this.NftsUpdateStatus == "updating") {
            setTimeout(() => this.fetchAssets(), 20000);
          }
          await this.$axios
            .$put(apiRoutes.GET_BALANCE, {
              tokens: response.data.assets
                ?.filter((asset) => asset.NftCollection.isHidden !== true)
                ?.map((item) => {
                  return item.token_id;
                }),
            })
            .then((data) => {
              this.$store.dispatch("wallet/" + UPDATE_BALANCE, data);
            });
        });
    },
  },
};
</script>

<style scoped></style>
