<template>
  <div class="outer">
    <GHeader/>
    <div class="outer__inner">
      <Nuxt/>
    </div>

    <GFooter/>
    <working-modal ref="working_app_modal"/>
  </div>
</template>

<script>
import GHeader from "~/components/sections/GHeader";
import GFooter from "~/components/sections/GFooter";
import '~/core/plugins/template'
import WorkingModal from "~/components/modals/WorkingModal";
import ConnectMixin from "~/mixins/connect.mixin";

export default {
  name: "default",

  middleware: [
    "authenticated",
    "requirements"
  ],

  mixins:[ConnectMixin],

  data() {
    return {
      cService: null
    }
  },

  watch:{
    getChainId() {
      if (this.isConnected) {
        if (this.getChainId !== '0x1')
          this.$refs.working_app_modal.show()
        else
          this.$refs.working_app_modal.hide()
      }
    },
  },

  components: {WorkingModal, GHeader, GFooter},

  computed: {
    contracts() {
      return this.$store.getters['collections/base'].map((item) => {
        return item.address
      })
    },
  },

  head() {
    return {
      script: [
        {type: "text/javascript", src: '/js/head.js', defer: true, body: true},
        {type: "text/javascript", src: '/js/body.js', defer: true, body: true},
        {type: "text/javascript", src: '/js/app.js', defer: true, body: true},
      ]
    }
  }
}
</script>

<style scoped>

</style>
