<template>
  <div class="catalog__center center text-center">
    <div class="error-404">
      <br /><br />
      <h1>This page doesn’t exist</h1>
      <p>The store name you entered is incorrect</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "connect",

  layout: "error",

  computed: {},
};
</script>

<style scoped>
.wallet__connect_wrapper {
  margin-top: -30px;
}
</style>
