<template>
  <div>
    <ProfileHeader />
    <!-- <div class="profile__list" v-if="assets.length > 0"> -->

    <div class="catalog" style="display: block">
      <div class="catalog__center center">
        <div class="catalog__sorting"></div>
        <div class="catalog__row">
          <div class="catalog__filters">
            <div class="catalog__group">
              <div class="field">
                <v-select
                  class="v-select-style"
                  :options="filters"
                  v-model="selectedFilter"
                  label="name"
                >
                </v-select>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog__row" v-if="NftsUpdateStatus == ''">
          <div class="catalog__wrapper">
            <div class="catalog__list">
              <i-loading />
              <i-loading />
              <i-loading />
            </div>
          </div>
        </div>
        <div class="catalog__row" v-if="NftsUpdateStatus == 'updated'">
          <div class="catalog__wrapper" v-if="!loading">
            <div class="catalog__list" v-if="assets.length > 0">
              <s-item
                v-for="asset in assets"
                :_id="asset._id"
                :name="asset.name"
                :description="asset.description"
                :image="asset.image"
                :token_id="asset.token_id"
                v-bind:key="asset._id"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <div v-if="loading" class="loader"></div>
  </div>
</template>

<script>
import ProfileHeader from "~/components/sections/Landing/ProfileHeader";
import PItem from "~/components/sections/Profile/ProfileItem.vue";
import SItem from "~/components/sections/Search/SItem.vue";
import ILoading from "~/components/sections/Item/ILoading";

export default {
  layout: "default",

  name: "IndexPage",

  components: {
    ProfileHeader,
    PItem,
    SItem,
    ILoading,
  },
  data() {
    return {
      assets: [],
      loading: false,
      NftsUpdateStatus: "updating",
      page: 0,
      limit: 10,
      filters: [
        {
          name: "All items",
          value: "all",
        },
      ],
      selectedFilter: {
        name: "All items",
        value: "all",
      },
    };
  },
  methods: {
    fetchAssets() {
      const username = this.$route.params.username;
      this.$axios
        .get(`users/profile/${username}?page=0&limit=10000`)
        .then((response) => {
          this.assets = response.data.assets;
          this.NftsUpdateStatus = response.data.user.assetsUpdateStatus;
        })
        .catch((error) => {
          this.$toast.error(error.response.data.message);
          // this.$router.push("/404");
          this.$nuxt.error({ statusCode: 404, message: error.message });
        });
    },
    onClick() {
      this.$router.push("/explore/" + this._id);
    },
  },
  created() {
    this.fetchAssets();
  },
};
</script>
