<template>
  <div>
    <div class="profile">
      <div
        class="profile__head js-profile-head"
        :style="{
          'background-image': 'url(' + coverUri + ')',
        }"
        :class="{
          active: isCoverPhotoActive,
          profileCoverLazyLoading: uploading,
        }"
      >
        <div class="profile__center center">
          <div class="profile__file">
            <input type="file" @change="onChangeFile" />
            <div class="profile__wrap">
              <svg class="icon icon-upload-file">
                <use xlink:href="#icon-upload-file"></use>
              </svg>
              <div class="profile__info">Drag and drop your photo here</div>
              <div class="profile__text">or click to browse</div>
            </div>
            <button
              @click="onSaveCoverClick"
              :disabled="uploading"
              class="button-small profile__button"
            >
              {{ SaveCoverPhotoBtnCaption }}
            </button>
          </div>
          <div class="profile__btns">
            <button
              @click="isCoverPhotoActive = true"
              class="button-stroke button-small profile__button"
            >
              <span>Edit cover photo</span>
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
            </button>
            <button
              class="button-stroke button-small profile__button"
              @click="tab = 2"
            >
              <span>Edit profile</span>
              <svg class="icon icon-image">
                <use xlink:href="#icon-image"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="profile__body">
        <div class="profile__center center">
          <div class="user">
            <div class="user__avatar">
              <img :src="collection_avatar" alt="Avatar" />
            </div>
            <div class="user__name">
              <nuxt-link class="header__link" :to="'/' + displayName">{{
                displayName.length > 0 ? "@" + displayName : "Hi There"
              }}</nuxt-link>
            </div>
            <div class="user__code">
              <div class="user__number">
                {{
                  walletAddress.toString().substring(0, 6) +
                  "..." +
                  walletAddress.toString().substring(35)
                }}
              </div>
              <button class="user__copy">
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.9891 8.67065C11.0041 8.92016 11.2646 9.08846 11.4764 8.95562C12.7918 8.13033 13.6663 6.66713 13.6663 4.99967C13.6663 2.42235 11.577 0.333008 8.99966 0.333008C7.33221 0.333008 5.86901 1.20754 5.04372 2.52297C4.91088 2.7347 5.07918 2.99521 5.32869 3.01021C8.31258 3.1896 10.8097 5.68934 10.9891 8.67065Z"
                    fill="#3772FF"
                  />
                  <path
                    d="M9.66634 8.99967C9.66634 11.577 7.577 13.6663 4.99967 13.6663C2.42235 13.6663 0.333008 11.577 0.333008 8.99967C0.333008 6.42235 2.42235 4.33301 4.99967 4.33301C7.577 4.33301 9.66634 6.42235 9.66634 8.99967Z"
                    fill="#3772FF"
                  />
                </svg>
              </button>
            </div>
            <div class="user__info text-left">
              Overview
              <br />
              <br />
              <div class="">
                <div class="price__span">
                  <strong>Total Sales:</strong> <span>{{ totalSales }}</span>
                </div>
                <div class="price__span">
                  <strong>Balance:</strong>
                  <span>${{ balance.toFixed(5) }}</span>
                </div>
                <div class="price__span">
                  <strong>Total Payouts:</strong>
                  <span>${{ payout.toFixed(5) }}</span>
                </div>
              </div>
            </div>

            <!-- <div class="user__control">
              <div class="user__btns">
                <button disabled
                        class=" disabled
                    button-stroke button-small
                    user__button
                    button-full
                    js-user-follow
                    active
                  "
                >
                  <span>Payout</span><span>Payout</span>
                </button>
              </div>
            </div> -->
            <!--            <div class="user__note">Last Sale:</div>-->
          </div>
          <div class="profile__wrapper js-tabs">
            <div class="profile__nav">
              <button
                class="profile__link"
                :class="{ active: tab === 1 }"
                @click="tab = 1"
              >
                My NFTs
              </button>

              <button
                class="profile__link"
                :class="{ active: tab === 2 }"
                @click="tab = 2"
              >
                Settings
              </button>
              <button
                class="profile__link"
                :class="{ active: tab === 3 }"
                @click="tab = 3"
              >
                Payouts
              </button>
            </div>
            <div class="profile__container">
              <div
                class="profile__item js-tabs-item"
                :class="{ 'js-tabs-item__active': tab === 1 }"
              >
                <my-nfts />
              </div>

              <div
                class="profile__item js-tabs-item"
                :class="{ 'js-tabs-item__active': tab === 2 }"
              >
                <my-profile />
              </div>
              <div
                class="profile__item js-tabs-item"
                :class="{ 'js-tabs-item__active': tab === 3 }"
              >
                <my-payout />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PItem from "~/components/sections/Profile/PItem.vue";
import MyNfts from "~/components/sections/Profile/MyNfts.vue";
import MyProfile from "~/components/sections/Profile/MyProfile.vue";
import MyPayout from "~/components/sections/Profile/MyPayout.vue";
import apiRoutes from "~/config/apiRoutes";

export default {
  components: { MyPayout, MyNfts, PItem, MyProfile },

  layout: "panel",

  name: "profile",

  computed: {
    isConnected() {
      return this.$store.getters["wallet/isConnected"];
    },
    walletAddress() {
      return this.$store.getters["wallet/getWalletAddress"];
    },
    collection_assets() {
      return this.$store.getters["collections/assets"];
    },
    collection_avatar() {
      try {
        if (this.collection_assets.length > 0)
          return (
            this.$auth.user.photo_uri?.replace('https://nftul-storge.nyc3.digitaloceanspaces.com', process.env.CDN_URL) ||
            this.$store.getters["collections/avatar"]
          );
        return "/img/content/def.jpg";
      } catch (e) {
        return this.$store.getters["collections/avatar"];
      }
    },
    balance() {
      return this.$store.getters["wallet/balance"];
    },
    payout() {
      return this.$store.getters["wallet/payout"];
    },
    totalSales() {
      return this.$store.getters["wallet/total_sales"];
    },
    coverUri() {
      try {
        if (this.imagePreview) return this.imagePreview;
        if (this.$auth.user.cover_uri)
          return (
            process.env.BASE_URL + "/users/cover/" + this.$auth.user.cover_uri
          );
        else return "/img/content/bg-profile.jpg";
      } catch (e) {
        return "/img/content/bg-profile.jpg";
      }
      // try {
      //   return (
      //     "${process.env.CDN_URL}/om/" +
      //     this.$auth.user.cover_uri
      //   );
      //   if (this.imagePreview) return this.imagePreview;
      //   if (this.$auth.user.cover_uri)
      //     return process.env.BASE_URL + "/users/cover/" + this.$auth.user.cover_uri;
      //   // return process.env.CDN_URL + "/Cover/" + this.$auth.user.cover_uri;
      //   else return "/img/content/bg-profile.jpg";
      // } catch (e) {
      //   return "/img/content/bg-profile.jpg";
      // }
    },
    displayName() {
      try {
        return this.$auth.user.name.toString();
      } catch (e) {
        return "";
      }
    },
    SaveCoverPhotoBtnCaption() {
      return this.uploading ? "Uploading..." : "Save photo";
    },
  },

  data() {
    return {
      tab: 1,
      uploading: false,
      imagePreview: null,
      isCoverPhotoActive: false,
      uploadFile: null,
    };
  },

  methods: {
    async onSaveCoverClick() {
      if (this.uploadFile) {
        this.uploading = true;
        let fd = new FormData();
        fd.append("file", this.uploadFile);
        fd.append("usage", "Cover");
        await this.$axios
          .$post(apiRoutes.UPDATE_PROFILE_COVER, fd, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((response) => {
            this.$auth.fetchUser();
            setTimeout(() => {
              this.isCoverPhotoActive = false;
              this.imagePreview = null;
            }, 2000);
          })
          .catch((err) => {
            if (err.status === 413) {
              this.$toast.error("The file is too large (Max: 2M)");
            } else {
              this.$toast.error(err.response.data.message);
            }
          })
          .finally(() => {
            setTimeout(() => {
              this.uploading = false;
            }, 2000);
          });
      }
    },

    async onChangeFile(event) {
      const file = event.target.files[0];
      if (!file) return;
      this.uploadFile = file;

      let reader = new FileReader();
      reader.onloadend = () => {
        this.imagePreview = reader.result;
      };
      if (file) {
        reader.readAsDataURL(file);
      }
    },
  },
};
</script>

<style scoped></style>
