<template>
  <div class="section-pt80 wallet">
    <div class="wallet__center center">
      <div class="wallet__head text-center">
        <button class="wallet__back" @click="onConnectClick">
          <svg class="icon icon-arrow-prev">
            <use xlink:href="#icon-arrow-prev"></use>
          </svg>
          <div class="wallet__stage h2">Connect your wallet</div>
        </button>
      </div>

      <div class="wallet__connect_wrapper text-center">
        <div>Please Connect Your MetaMask Wallet.</div>
        <br/>
        <button
          v-if="!isConnected"
          class="button-stroke button-small header__button header__connect"
          @click="onConnectClick"
        >
          Connect Wallet
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {INITIATION_ETHEREUM, WALLET_LOGOUT} from "~/store/wallet";

export default {
  name: "connect",

  layout: "auth",

  computed: {
    isConnected() {
      return this.$store.getters["wallet/isConnected"];
    },
    walletAddress() {
      return this.$store.getters["wallet/getWalletAddress"];
    },
    collection_assets() {
      return this.$store.getters["collections/assets"];
    },
    collection_avatar() {
      try {
        if (this.collection_assets.length > 0)
          return (
            this.$auth.user.photo_uri ||
            this.$store.getters["collections/avatar"]
          );
        return "/img/content/def.jpg";
      } catch (e) {
        return this.$store.getters["collections/avatar"];
      }
    },
  },

  methods: {
    async onConnectClick() {
      const returnUrl = this.$route.query.returnUrl;
      await this.$store
        .dispatch("wallet/" + INITIATION_ETHEREUM)
        .then((wallet) => {
          //
          this.$auth
            .loginWith("local", {
              data: {wallet_address: wallet},
            }).then(() => {
            this.$cookies.set("wallet-connected", true, {
              path: "/",
              maxAge: 60 * 60 * 24 * 7,
            });
          })
            .catch(async () => {
              await this.$store.dispatch("wallet/" + WALLET_LOGOUT);
              await this.$auth.logout();
              await this.$cookies.remove("wallet-connected");
              // await this.$router.push("/connect");
            });
        })
        .catch((err) => {
          console.log(err);
          this.$cookies.remove("wallet-connected");
          alert("Metamask not installed");
        });
    },

    async onLogoutClick() {
      await this.$store.dispatch("wallet/" + WALLET_LOGOUT);
      await this.$auth.logout();
      await this.$cookies.remove("wallet-connected");
      // await this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.wallet__connect_wrapper {
  margin-top: -30px;
}
</style>
