<template>
  <div>
    <div class="section faq">
      <div class="faq__center center">
        <div class="faq__top">
          <div class="faq__stage">learn how to get started</div>
          <h1 class="faq__title h2">Frequently asked questions</h1>
          <div class="faq__info">
            Join Stacks community now to get free updates and also alot of
            freebies are waiting for you or <a href="#">Contact Support</a>
          </div>
          <div class="mobile-show">
            <select class="select js-tabs-select">
              <option>General</option>
              <option>Support</option>
              <option>Hosting</option>
              <option>Product</option>
            </select>
          </div>
        </div>
        <div class="faq__row js-tabs">
          <div class="faq__col">
            <div class="faq__nav">
              <a class="faq__link js-tabs-link active" href="#">
                <svg class="icon icon-home">
                  <use xlink:href="#icon-home"></use></svg
                >General</a
              ><a class="faq__link js-tabs-link" href="#">
                <svg class="icon icon-circle-and-square">
                  <use xlink:href="#icon-circle-and-square"></use></svg
                >Support</a
              ><a class="faq__link js-tabs-link" href="#">
                <svg class="icon icon-lightning">
                  <use xlink:href="#icon-lightning"></use></svg
                >Hosting</a
              ><a class="faq__link js-tabs-link" href="#">
                <svg class="icon icon-pen">
                  <use xlink:href="#icon-pen"></use></svg
                >Product</a
              >
            </div>
          </div>
          <div class="faq__col">
            <div class="faq__box js-tabs-item" style="display: block">
              <div class="faq__item">
                <div class="faq__head">How does it work</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">How to start with Stacks</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">Dose it suppport Dark Mode</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">Does it support Auto-Layout</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">What is Stacks Design System</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
            </div>
            <div class="faq__box js-tabs-item">
              <div class="faq__item">
                <div class="faq__head">How to start with Stacks</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">Dose it suppport Dark Mode</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">Does it support Auto-Layout</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">What is Stacks Design System</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">How does it work</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">How to start with Stacks</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
            </div>
            <div class="faq__box js-tabs-item">
              <div class="faq__item">
                <div class="faq__head">Does it support Auto-Layout</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">What is Stacks Design System</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">How does it work</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">Dose it suppport Dark Mode</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
            </div>
            <div class="faq__box js-tabs-item">
              <div class="faq__item">
                <div class="faq__head">How does it work</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">How to start with Stacks</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">Dose it suppport Dark Mode</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">Does it support Auto-Layout</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
              <div class="faq__item">
                <div class="faq__head">What is Stacks Design System</div>
                <div class="faq__body">
                  <div class="faq__content">
                    The Stacks series of products: Stacks: Landing Page Kit,
                    Stacks: Portfolio Kit, Stacks: eCommerce Kit. "Stacks is a
                    production-ready library of stackable content blocks built
                    in React Native. Mix-and-match dozens of responsive elements
                    to quickly configure your favorite landing page layouts or
                    hit the ground running with 10 pre-built templates, all in
                    light or dark mode."
                  </div>
                  <button class="button-stroke button-small faq__button">
                    Learn more
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-pb hot">
      <div class="hot__center center">
        <div class="hot__wrapper">
          <h3 class="hot__title h3">Hot bid</h3>
          <div class="hot__inner">
            <div class="hot__slider js-slider-hot">
              <div class="hot__slide">
                <div class="card">
                  <div class="card__preview">
                    <img
                      srcSet="/img/content/card-pic-1@2x.jpg 2x"
                      src="/img/content/card-pic-1.jpg"
                      alt="Card preview"
                    />
                    <div class="card__control">
                      <div class="status-green card__category">
                        purchasing !
                      </div>
                      <button class="card__favorite">
                        <svg class="icon icon-heart">
                          <use xlink:href="#icon-heart"></use>
                        </svg></button
                      ><a
                        class="button-small card__button js-popup-open"
                        href="#popup-bid"
                        data-effect="mfp-zoom-in"
                        ><span>Place a bid</span>
                        <svg class="icon icon-scatter-up">
                          <use xlink:href="#icon-scatter-up"></use></svg
                      ></a>
                    </div>
                  </div>
                  <a class="card__link" href="item.html">
                    <div class="card__body">
                      <div class="card__line">
                        <div class="card__title">Amazing digital art</div>
                        <div class="card__price">2.45 ETH</div>
                      </div>
                      <div class="card__line">
                        <div class="card__users">
                          <div class="card__avatar">
                            <img src="/img/content/avatar-1.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-3.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-4.jpg" alt="Avatar" />
                          </div>
                        </div>
                        <div class="card__counter">3 in stock</div>
                      </div>
                    </div>
                    <div class="card__foot">
                      <div class="card__status">
                        <svg class="icon icon-candlesticks-up">
                          <use xlink:href="#icon-candlesticks-up"></use></svg
                        >Highest bid <span>0.001 ETH</span>
                      </div>
                      <div class="card__bid">
                        New bid <span role="/img" aria-label="fire">🔥</span>
                      </div>
                    </div></a
                  >
                </div>
              </div>
              <div class="hot__slide">
                <div class="card">
                  <div class="card__preview">
                    <img
                      srcSet="/img/content/card-pic-2@2x.jpg 2x"
                      src="/img/content/card-pic-2.jpg"
                      alt="Card preview"
                    />
                    <div class="card__control">
                      <div class="status-green card__category">
                        purchasing !
                      </div>
                      <button class="card__favorite">
                        <svg class="icon icon-heart">
                          <use xlink:href="#icon-heart"></use>
                        </svg></button
                      ><a
                        class="button-small card__button js-popup-open"
                        href="#popup-bid"
                        data-effect="mfp-zoom-in"
                        ><span>Place a bid</span>
                        <svg class="icon icon-scatter-up">
                          <use xlink:href="#icon-scatter-up"></use></svg
                      ></a>
                    </div>
                  </div>
                  <a class="card__link" href="item.html">
                    <div class="card__body">
                      <div class="card__line">
                        <div class="card__title">Ribbon Hunter</div>
                        <div class="card__price">2.45 ETH</div>
                      </div>
                      <div class="card__line">
                        <div class="card__users">
                          <div class="card__avatar">
                            <img src="/img/content/avatar-1.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-3.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-4.jpg" alt="Avatar" />
                          </div>
                        </div>
                        <div class="card__counter">3 in stock</div>
                      </div>
                    </div>
                    <div class="card__foot">
                      <div class="card__status">
                        <svg class="icon icon-candlesticks-up">
                          <use xlink:href="#icon-candlesticks-up"></use></svg
                        >Highest bid <span>0.001 ETH</span>
                      </div>
                      <div class="card__bid">
                        New bid <span role="/img" aria-label="fire">🔥</span>
                      </div>
                    </div></a
                  >
                </div>
              </div>
              <div class="hot__slide">
                <div class="card">
                  <div class="card__preview">
                    <img
                      srcSet="/img/content/card-pic-3@2x.jpg 2x"
                      src="/img/content/card-pic-3.jpg"
                      alt="Card preview"
                    />
                    <div class="card__control">
                      <div class="status-green card__category">
                        purchasing !
                      </div>
                      <button class="card__favorite">
                        <svg class="icon icon-heart">
                          <use xlink:href="#icon-heart"></use>
                        </svg></button
                      ><a
                        class="button-small card__button js-popup-open"
                        href="#popup-bid"
                        data-effect="mfp-zoom-in"
                        ><span>Place a bid</span>
                        <svg class="icon icon-scatter-up">
                          <use xlink:href="#icon-scatter-up"></use></svg
                      ></a>
                    </div>
                  </div>
                  <a class="card__link" href="item.html">
                    <div class="card__body">
                      <div class="card__line">
                        <div class="card__title">Amazing digital art</div>
                        <div class="card__price">2.45 ETH</div>
                      </div>
                      <div class="card__line">
                        <div class="card__users">
                          <div class="card__avatar">
                            <img src="/img/content/avatar-1.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-3.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-4.jpg" alt="Avatar" />
                          </div>
                        </div>
                        <div class="card__counter">3 in stock</div>
                      </div>
                    </div>
                    <div class="card__foot">
                      <div class="card__status">
                        <svg class="icon icon-candlesticks-up">
                          <use xlink:href="#icon-candlesticks-up"></use></svg
                        >Highest bid <span>0.001 ETH</span>
                      </div>
                      <div class="card__bid">
                        New bid <span role="/img" aria-label="fire">🔥</span>
                      </div>
                    </div></a
                  >
                </div>
              </div>
              <div class="hot__slide">
                <div class="card">
                  <div class="card__preview">
                    <img
                      srcSet="/img/content/card-pic-4@2x.jpg 2x"
                      src="/img/content/card-pic-4.jpg"
                      alt="Card preview"
                    />
                    <div class="card__control">
                      <div class="status-green card__category">
                        purchasing !
                      </div>
                      <button class="card__favorite">
                        <svg class="icon icon-heart">
                          <use xlink:href="#icon-heart"></use>
                        </svg></button
                      ><a
                        class="button-small card__button js-popup-open"
                        href="#popup-bid"
                        data-effect="mfp-zoom-in"
                        ><span>Place a bid</span>
                        <svg class="icon icon-scatter-up">
                          <use xlink:href="#icon-scatter-up"></use></svg
                      ></a>
                    </div>
                  </div>
                  <a class="card__link" href="item.html">
                    <div class="card__body">
                      <div class="card__line">
                        <div class="card__title">Ribbon Hunter</div>
                        <div class="card__price">2.45 ETH</div>
                      </div>
                      <div class="card__line">
                        <div class="card__users">
                          <div class="card__avatar">
                            <img src="/img/content/avatar-1.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-3.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-4.jpg" alt="Avatar" />
                          </div>
                        </div>
                        <div class="card__counter">3 in stock</div>
                      </div>
                    </div>
                    <div class="card__foot">
                      <div class="card__status">
                        <svg class="icon icon-candlesticks-up">
                          <use xlink:href="#icon-candlesticks-up"></use></svg
                        >Highest bid <span>0.001 ETH</span>
                      </div>
                      <div class="card__bid">
                        New bid <span role="/img" aria-label="fire">🔥</span>
                      </div>
                    </div></a
                  >
                </div>
              </div>
              <div class="hot__slide">
                <div class="card">
                  <div class="card__preview">
                    <img
                      srcSet="/img/content/card-pic-5@2x.jpg 2x"
                      src="/img/content/card-pic-5.jpg"
                      alt="Card preview"
                    />
                    <div class="card__control">
                      <div class="status-green card__category">
                        purchasing !
                      </div>
                      <button class="card__favorite">
                        <svg class="icon icon-heart">
                          <use xlink:href="#icon-heart"></use>
                        </svg></button
                      ><a
                        class="button-small card__button js-popup-open"
                        href="#popup-bid"
                        data-effect="mfp-zoom-in"
                        ><span>Place a bid</span>
                        <svg class="icon icon-scatter-up">
                          <use xlink:href="#icon-scatter-up"></use></svg
                      ></a>
                    </div>
                  </div>
                  <a class="card__link" href="item.html">
                    <div class="card__body">
                      <div class="card__line">
                        <div class="card__title">Amazing digital art</div>
                        <div class="card__price">2.45 ETH</div>
                      </div>
                      <div class="card__line">
                        <div class="card__users">
                          <div class="card__avatar">
                            <img src="/img/content/avatar-1.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-3.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-4.jpg" alt="Avatar" />
                          </div>
                        </div>
                        <div class="card__counter">3 in stock</div>
                      </div>
                    </div>
                    <div class="card__foot">
                      <div class="card__status">
                        <svg class="icon icon-candlesticks-up">
                          <use xlink:href="#icon-candlesticks-up"></use></svg
                        >Highest bid <span>0.001 ETH</span>
                      </div>
                      <div class="card__bid">
                        New bid <span role="/img" aria-label="fire">🔥</span>
                      </div>
                    </div></a
                  >
                </div>
              </div>
              <div class="hot__slide">
                <div class="card">
                  <div class="card__preview">
                    <img
                      srcSet="/img/content/card-pic-6@2x.jpg 2x"
                      src="/img/content/card-pic-6.jpg"
                      alt="Card preview"
                    />
                    <div class="card__control">
                      <div class="status-green card__category">
                        purchasing !
                      </div>
                      <button class="card__favorite">
                        <svg class="icon icon-heart">
                          <use xlink:href="#icon-heart"></use>
                        </svg></button
                      ><a
                        class="button-small card__button js-popup-open"
                        href="#popup-bid"
                        data-effect="mfp-zoom-in"
                        ><span>Place a bid</span>
                        <svg class="icon icon-scatter-up">
                          <use xlink:href="#icon-scatter-up"></use></svg
                      ></a>
                    </div>
                  </div>
                  <a class="card__link" href="item.html">
                    <div class="card__body">
                      <div class="card__line">
                        <div class="card__title">Ribbon Hunter</div>
                        <div class="card__price">2.45 ETH</div>
                      </div>
                      <div class="card__line">
                        <div class="card__users">
                          <div class="card__avatar">
                            <img src="/img/content/avatar-1.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-3.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-4.jpg" alt="Avatar" />
                          </div>
                        </div>
                        <div class="card__counter">3 in stock</div>
                      </div>
                    </div>
                    <div class="card__foot">
                      <div class="card__status">
                        <svg class="icon icon-candlesticks-up">
                          <use xlink:href="#icon-candlesticks-up"></use></svg
                        >Highest bid <span>0.001 ETH</span>
                      </div>
                      <div class="card__bid">
                        New bid <span role="/img" aria-label="fire">🔥</span>
                      </div>
                    </div></a
                  >
                </div>
              </div>
              <div class="hot__slide">
                <div class="card">
                  <div class="card__preview">
                    <img
                      srcSet="/img/content/card-pic-7@2x.jpg 2x"
                      src="/img/content/card-pic-7.jpg"
                      alt="Card preview"
                    />
                    <div class="card__control">
                      <div class="status-green card__category">
                        purchasing !
                      </div>
                      <button class="card__favorite">
                        <svg class="icon icon-heart">
                          <use xlink:href="#icon-heart"></use>
                        </svg></button
                      ><a
                        class="button-small card__button js-popup-open"
                        href="#popup-bid"
                        data-effect="mfp-zoom-in"
                        ><span>Place a bid</span>
                        <svg class="icon icon-scatter-up">
                          <use xlink:href="#icon-scatter-up"></use></svg
                      ></a>
                    </div>
                  </div>
                  <a class="card__link" href="item.html">
                    <div class="card__body">
                      <div class="card__line">
                        <div class="card__title">Amazing digital art</div>
                        <div class="card__price">2.45 ETH</div>
                      </div>
                      <div class="card__line">
                        <div class="card__users">
                          <div class="card__avatar">
                            <img src="/img/content/avatar-1.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-3.jpg" alt="Avatar" />
                          </div>
                          <div class="card__avatar">
                            <img src="/img/content/avatar-4.jpg" alt="Avatar" />
                          </div>
                        </div>
                        <div class="card__counter">3 in stock</div>
                      </div>
                    </div>
                    <div class="card__foot">
                      <div class="card__status">
                        <svg class="icon icon-candlesticks-up">
                          <use xlink:href="#icon-candlesticks-up"></use></svg
                        >Highest bid <span>0.001 ETH</span>
                      </div>
                      <div class="card__bid">
                        New bid <span role="/img" aria-label="fire">🔥</span>
                      </div>
                    </div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "faq",
};
</script>

<style scoped>
</style>
