<template>
  <div>

    <LHero/>

    <LWhyOpenmerch/>


    <LHowToBuyNewCollection/>

    <LHowItWorks/>

    <LTrending/>

    <LHolderGetPaid/>

  </div>
</template>

<script>
import LHero from "~/components/sections/Landing/LHero";
import LHowToBuy from "~/components/sections/Landing/LHowToBuy";
import LWhyOpenmerch from "~/components/sections/Landing/LWhyOpenmerch.vue";
import LHowToBuyNewCollection from "~/components/sections/Landing/LHowToBuyNewCollection.vue";
import LHowItWorks from "~/components/sections/Landing/LHowItWorks.vue";
import LTrending from "~/components/sections/Landing/LTrending.vue";
import LHolderGetPaid from "~/components/sections/Landing/LHolderGetPaid.vue";

export default {

  layout: 'default',

  name: 'IndexPage',

  components: {
    LHero,
    LHowToBuy,
    LWhyOpenmerch,
    LHowToBuyNewCollection,
    LHowItWorks,
    LTrending,
    LHolderGetPaid
},
}
</script>
