<template>
  <div>

    <HHero/>

    <HSubHero/>

    <HDiscover/>

    <HTrending/>

    <HLastSection/>

  </div>
</template>

<script>
import HHero from "~/components/sections/Home/HHero";
import HDiscover from "~/components/sections/Home/HDiscover";
import HTrending from "~/components/sections/Home/HTrending";
import HLastSection from "~/components/sections/Home/HLastSection";
import HSubHero from "~/components/sections/Home/HSubHero";

export default {

  layout: 'default',

  name: 'IndexPage',

  components: {
    HSubHero,
    HLastSection,
    HTrending,
    HDiscover,
    HHero,
  },
}
</script>
