<template>
  <div>

    <LHero/>

    <LHowToBuy/>

    <LForSellers/>

  </div>
</template>

<script>
import LHero from "~/components/sections/Landing/LHero";
import LHowToBuy from "~/components/sections/Landing/LHowToBuy";
import LForSellers from "~/components/sections/Landing/LForSellers";

export default {

  layout: 'default',

  name: 'IndexPage',

  components: {
    LForSellers,
    LHero,
    LHowToBuy,
  },
}
</script>
