<template>
  <div>
    <div class="profile">
      <div
        class="profile__head js-profile-head"
        style="background-image: url('/img/content/bg-profile.jpg')"
      >
        <div class="profile__center center">
          <div class="profile__file">
            <input type="file" />
            <div class="profile__wrap">
              <svg class="icon icon-upload-file">
                <use xlink:href="#icon-upload-file"></use>
              </svg>
              <div class="profile__info">Drag and drop your photo here</div>
              <div class="profile__text">or click to browse</div>
            </div>
            <button class="button-small profile__button js-profile-save">
              Save photo
            </button>
          </div>
          <div class="profile__btns">
            <button
              class="button-stroke button-small profile__button js-profile-load"
            >
              <span>Edit cover photo</span>
              <svg class="icon icon-edit">
                <use xlink:href="#icon-edit"></use>
              </svg>
            </button>
            <a class="button-stroke button-small profile__button" href="#">
              <span>Edit profile</span>
              <svg class="icon icon-image">
                <use xlink:href="#icon-image"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="profile__body">
        <div class="profile__center center orders__center">
          <div>
            <h1 class="orders__title h2">My Orders</h1>
            <div class="orders__info"></div>

            <div>
              <br />
              <br />
              <div class="table-responsive">
                <table class="table table-card">
                  <thead>
                    <tr class="table-r-6">
                      <th>Item</th>
                      <th>Item Price</th>
                      <th>Quantity</th>
                      <!-- <th>Delivery Fexe</th> -->
                      <th>Shipping Address</th>
                      <th>status</th>
                    </tr>
                  </thead>

                  <tbody v-if="orders.length > 0">
                    <tr
                      class="table-r-6"
                      v-for="order in orders"
                      v-bind:key="order._id"
                    >
                      <td>
                        <div
                          class="position-relative"
                          v-if="order.asset !== null"
                        >
                          <div class="order-td-wrapper">
                            <div class="order-td-image-preview">
                              <image-preview
                                width="100"
                                :src="order.asset.image"
                              />
                            </div>
                            <div>
                              <div>
                                <strong>{{ order.asset.name }}</strong>
                              </div>
                              <div>
                                {{ order.merches.name }}
                              </div>
                              <div>
                                <strong>Order Id</strong>
                                {{ order._id }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="order__td">
                          <strong
                            :class="{
                              'fw-bolder total-price_discounted ':
                                order.discountPrice,
                            }"
                            >{{ order.totalPrice }}
                          </strong>
                          <div v-show="order.discountPrice">
                            {{ order.discountPrice }}
                          </div>
                          {{
                            order.payment && order.payment.pay_currency
                              ? order.payment.pay_currency == "usdttrc20"
                                ? "USDT"
                                : "BUSD"
                              : "-"
                          }}
                        </div>
                      </td>
                      <td>
                        <div class="order__td">{{ order.count }}</div>
                      </td>
                      <!-- <td>
                        <div
                          class="order__td"
                          v-if="order.checkoutDetails !== undefined"
                        >
                          Free
                        </div>
                      </td> -->
                      <td>
                        <div
                          class="order__td"
                          v-if="order.checkoutDetails !== undefined"
                        >
                          {{ order.checkoutDetails.address }},
                          {{ order.checkoutDetails.city }},
                          {{ order.checkoutDetails.state }},
                          {{ order.checkoutDetails.selectedCountry.name }}
                        </div>
                      </td>

                      <td>{{ order.shippingStatus }}</td>
                    </tr>
                  </tbody>
                  <tbody v-if="orders.length <= 0">
                    <tr class="table-r-full">
                      <td class="text-center" colspan="2">No orders found!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="discover__btns"
                v-if="showLoadMore && orders.length > 0"
              >
                <button
                  class="button-stroke button-small"
                  :disabled="loadMoreLoading"
                  @click="onLoadMoreClick"
                >
                  Load more
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ImagePreview from "~/components/elements/ImagePreview";

export default {
  name: "orders",
  components: { ImagePreview },
  layout: "panel",
  data() {
    return {
      orders: [],
      limit: 10,
      page: 0,
      loadMoreLoading: false,
      showLoadMore: true,
    };
  },
  computed: {
    isConnected() {
      return this.$store.getters["wallet/isConnected"];
    },
  },
  methods: {
    async fetchUserOrders() {
      if (this.isConnected) {
        console.log("isConnected");
        await this.$axios
          .get(
            `users/orders?user[eq]=${this.$auth.user._id}&status[eq]=finished&sort=_id&ASC=-1&page=${this.page}&limit=${this.limit}`
          )
          .then((response) => {
            this.showLoadMore = response.data.length > 0;
            this.orders.push(...response.data);
          });
      }
    },

    async onLoadMoreClick() {
      this.loadMoreLoading = true;
      this.page++;
      await this.fetchUserOrders();
      this.loadMoreLoading = false;
    },
  },
  async created() {
    await this.fetchUserOrders();
  },
  mounted() {},
};
</script>

<style scoped></style>
