<template>
  <div class="section-pt80 wallet">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="success">
          <div class="success__title h2">
            Yay! <span role="/img" aria-label="firework">🎉</span>
          </div>
          <div class="success__info" v-if="order.asset">
            You purchased <span>{{ order.asset.name }}</span>
          </div>
          <div class="success__table">
            <div class="success__row">
              <div class="success__col">Status</div>
              <div class="success__col">Transaction ID</div>
            </div>
            <div class="success__row">
              <div class="success__col">{{ orderDetails.status }}</div>
              <div class="success__col">{{ order._id }}</div>
            </div>
          </div>
          <div class="text-center">
            <button
              class="button-stroke button-small header__button header__connect"
              @click="myOrders"
            >
              my orders
            </button>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { INITIATION_ETHEREUM, WALLET_LOGOUT } from "~/store/wallet";

export default {
  name: "connect",

  layout: "default",
  data() {
    return {
      orderId: "",
      orderDetails: {},
      order: {},
      status: "",
      loading: false,
    };
  },
  computed: {},

  methods: {
    async verifyOrder() {
      await this.$axios
        .get(`orders/verify/${this.orderId}`)
        .then((response) => {
          this.orderDetails = response.data.data;
          this.order = response.data.order;
        });
    },
    myOrders() {
      this.$router.push("/orders");
    },
  },
  created() {
    this.orderId = this.$route.query?.orderId;
    this.verifyOrder();
  },
};
</script>

<style scoped>
.wallet__connect_wrapper {
  margin-top: -30px;
}
</style>
