<template>
  <div class="modal-overlay">
    <div class="modal">
      <slot name="content"></slot>
    </div>
    <div class="close" @click="$emit('close-modal')">
      <img class="close-img" src="/assets/close-icon.svg" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: "CModal",
};
</script>