<template>

  <div>
    <b-modal
      ref="working_app__modal"
      hide-header-close
      hide-header
      centered
      size="md"
      no-close-on-backdrop
      no-close-on-esc
      hide-footer
    >
      <div class="text-center">
        <br/>
        <img src="~/assets/images/loading.gif" width="100" height="100"/>
        <h2 class="text-white font-weight-bold">Wrong network
        </h2>
        <p class=" fs-1 text-center">
          Looks like you connected to unsupported network. Change network to Mainnet
        </p>

        <button class="btn btn-primary btn-block mt-1" @click="onLogoutClick">
          Disconnect
        </button>

      </div>
    </b-modal>
  </div>
</template>

<script>
import ConnectMixin from "~/mixins/connect.mixin";
import {INITIATION_ETHEREUM, WALLET_LOGOUT} from "~/store/wallet";

export default {
  name: "WorkingModal",

  mixins: [ConnectMixin],

  methods: {
    async onLogoutClick() {
      await this.$store.dispatch('wallet/' + WALLET_LOGOUT).then(() => {
        this.$cookies.remove('wallet-connected')
        this.$router.push('/')
      });
      await this.hide()
    },

    show() {
        this.$refs['working_app__modal'].show()
    },
    hide() {
      this.$refs['working_app__modal'].hide()
    },
  }
}
</script>

<style scoped>
.fs-5 {
  margin-top: 10px;
  font-size: 1.3rem;
}
</style>
