<template>
  <b-modal
    ref="checkout_order_modal"
    centered
    hide-header
    hide-header-close
    title="payment info"
    hide-footer
  >
    <transition>
      <div v-if="loading === false">
        <div class="popup__item" style="display: block">
          <div class="popup__title h4">Payment</div>
          <div class="popup__info">
            OpenMerch currently supports three forms of payments <br />
            USDT (TRC-20), BUSD (BEP-20), and XRP. <br />
            Shipping: Standard (2-3 Weeks)
          </div>
          <div class="popup__table">
            <div class="popup__row">
              <div class="popup__col">Subtotal</div>
              <div class="popup__col">
                {{ itemPrice }} {{ coin.caption.toUpperCase() }}
              </div>
            </div>
            <div class="popup__row" v-show="shipping !== undefined">
              <div class="popup__col">Shipping</div>
              <div class="popup__col">
                {{ shippingFeeETH }} {{ coin.caption.toUpperCase() }}
              </div>
            </div>

            <div class="popup__row" v-show="shipping !== undefined">
              <div class="popup__col"><strong>Total</strong></div>
              <div class="popup__col">
                <strong
                  :class="{
                    'fw-bolder total-price_discounted ': discountPrice > 0,
                  }"
                  >{{ totalPrice }} {{ coin.caption.toUpperCase() }}
                </strong>
                <div v-show="discountPrice > 0">
                  {{ discountPrice }} {{ coin.caption.toUpperCase() }}
                </div>
              </div>
            </div>
          </div>
          <div class="popup__row">
            <div class="popup__col" v-show="!showCouponInput">
              <strong
                class="coupon-text"
                @click="showCouponInput = !showCouponInput"
              >
                I have a coupon!</strong
              >
            </div>
          </div>
          <div class="row" v-show="showCouponInput">
            <div class="col-8">
              <div class="field__wrap">
                <div>
                  <input
                    class="catalog__input"
                    type="text"
                    name="coupon_code"
                    :disabled="disableCouponCodeInput"
                    placeholder="Coupon code"
                    required=""
                    v-model="coupon_code"
                  />
                  {{ couponError }}
                </div>
              </div>
            </div>
            <div class="col-4 popup__btns">
              <button
                class="button popup__button"
                @click="validateCoupon"
                :disabled="loading"
              >
                Apply
              </button>
            </div>
          </div>

          <div>
            <div v-show="shipping === undefined" class="popup__attention">
              <div class="popup__details">
                <div class="popup__category">
                  This item is not available in selected country
                </div>
                <div class="popup__text"></div>
              </div>
            </div>
            <br />
          </div>

          <div>
            <div class="item__container order__checkout row">
              <div class="col">
                <v-select
                  class="v-select-style"
                  :options="paymentOptions"
                  v-model="coin"
                  label="title"
                  :clearable="true"
                >
                  <template #selected-option="option">
                    <div class="payment-currency-option">
                      <span
                        class="payment-currency"
                        :class="option.icon"
                      ></span>
                      {{ option.name }}
                    </div>
                  </template>

                  <template v-slot:option="option">
                    <div class="payment-currency-option">
                      <span
                        class="payment-currency"
                        :class="option.icon"
                      ></span>
                      {{ option.name }}
                    </div>
                  </template>
                </v-select>
              </div>
            </div>
          </div>

          <div class="popup__btns">
            <!-- save order -->
            <button
              v-show="shipping !== undefined"
              class="button popup__button"
              :disabled="loading"
              @click="saveOrder"
            >
              Continue To Payment
            </button>
            <button
              class="button-stroke popup__button js-popup-close"
              @click="hide"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
      <div v-else>
        <img
          src="~/assets/images/loading.gif"
          width="50"
          height="50"
          v-show="loading"
        />
      </div>
    </transition>
  </b-modal>
</template>

<script>
import { CHECKOUT_UPDATE_ORDER } from "~/store/checkout";
import connectMixin from "~/mixins/connect.mixin";

export default {
  name: "CheckoutOrderModal",

  mixins: [connectMixin],

  data() {
    return {
      loading: false,
      showCouponInput: false,
      coupon_code: "",
      couponError: "",
      discountPrice: 0,
      disableCouponCodeInput: false,
      coupon: null,
      coin: {
        title: "usdttrc20",
        name: "USDT (TRC-20)",
        caption: "USDT",
        icon: "usdt",
      },
      paymentOptions: [
        { title: "xrp", name: "XRP", caption: "XRP", icon: "xrp" },
        {
          title: "usdttrc20",
          name: "USDT (TRC-20)",
          caption: "USDT",
          icon: "usdt",
        },
        {
          title: "busdbsc",
          name: "BUSD (BEP-20)",
          caption: "BUSD",
          icon: "busd",
        },
      ],
    };
  },

  computed: {
    ethPrice() {
      return this.$store.getters["order/base"].ETH;
    },

    getSelectedMerch() {
      try {
        return this.$store.state.order.merches;
      } catch (e) {
        return {};
      }
    },
    getOrderCount() {
      try {
        return this.$store.state.order.count;
      } catch (e) {
        return 1;
      }
    },
    itemPrice() {
      try {
        let total = 0;
        for (const item of this.getSelectedMerch) {
          total = total + item.price * this.getOrderCount;
        }
        if (this.coin.title == "xrp")
          return (
            Math.round(+(total / this.$store.state.order.XRP).toFixed()) + 1
          );
        if (total) return total;
        return 0;
      } catch (e) {
        return 0;
      }
    },
    totalETHPrice() {
      try {
        return (this.itemPrice / this.ethPrice).toFixed(3);
      } catch (e) {
        return 0;
      }
    },
    totalPrice() {
      try {
        // if (this.discountPrice > 0) return this.discountPrice;
        return +this.itemPrice + this.shipping;
      } catch (e) {}
    },
    shippingFeeETH() {
      try {
        return this.$store.state.order.shipping;
      } catch (e) {
        return 0;
      }
    },
    shipping() {
      return this.$store.state.order.shipping;
    },
  },

  methods: {
    async saveOrder() {
      // itemPrice
      this.loading = true;
      const route = this.$store.getters["wallet/isConnected"]
        ? "orders"
        : "orders/guest";

      await this.$axios
        .post(route, {
          wallet_address: this.$store.getters["wallet/isConnected"]
            ? this.walletAddress
            : null,
          asset: this.$store.state.order.asset,
          background: this.$store.state.order.background,
          count: this.$store.state.order.count,
          category: this.$store.state.order.category,
          checkoutDetails: this.$store.state.order.checkoutDetails,
          merches: [this.$store.state.order.merches[0]._id],
          coin: this.coin.title,
          coupon: this.coupon || null,
        })
        .then((response) => {
          if (response.data.order.payment.status === false) {
            this.$toast.error(response.data.order.payment.message);
            this.loading = false;
          } else {
            const url =
              "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" +
              response.data.order.payment.pay_address;
            this.$store.dispatch(
              `checkout/${CHECKOUT_UPDATE_ORDER}`,
              response.data.order
            );
            this.$emit("submit", {
              url,
              order: { ...response.data.order },
            });
            this.hide();
          }
        })
        .catch((e) => {
          this.$toast.error(e.response.data.message);
          this.loading = false;
        })
        .finally(() => {});
    },

    show() {
      this.loading = false;
      this.$refs["checkout_order_modal"].show();
    },

    hide() {
      this.$refs["checkout_order_modal"].hide();
    },

    changeCoin(coin) {
      this.coin = coin;
    },
    validateCoupon() {
      this.$axios
        .get(
          `/coupons/validate?price=${this.totalPrice}&code=${this.coupon_code}&merch=${this.$store.state.order.merches[0]._id}&asset=${this.$store.state.order.asset}`
        )
        .then((response) => {
          this.couponError = "";
          this.discountPrice = response.data.discount;
          this.coupon = response.data.coupon._id;
          this.disableCouponCodeInput = true;
        })
        .catch((error) => {
          
          this.couponError = error.response.data.message;
        });
    },
  },
};
</script>

<style scoped>
.popup__row:first-child {
  padding: 0 0 0;
  border-bottom: 0;
}

.popup__row:last-child {
  margin: 15px 0 0;
  border-top: 1px solid #e6e8ec;
}
</style>
