<template>
  <b-modal
    ref="payment_order_modal"
    hide-header
    hide-header-close
    no-close-on-esc
    no-close-on-backdrop
    hide-footer
  >
    <div class="order__payment_head">
      <div class="qr_code_preview" v-if="!loading && statusText !== 'finished'">
        <image-preview :src="paymentUrl" />
      </div>
      <div class="congrats_preview" v-else-if="statusText === 'finished'">
        <h2 class="h2">Yay!</h2>
        <img src="~/assets/images/congrat.png" class="img-fluid" />
      </div>
      <div class="text-center" v-else>
        <img src="~/assets/images/loading.gif" width="100" height="100" />
        <br />
      </div>
    </div>
    <div class="order__payment_body">
      <div class="order_details__row" v-if="statusText === 'partially_paid'">
        <div class="text-center">
          <strong>We received a part of the payment!</strong>
          <br />
          Please contact support@openmerch.io and we will arrange your refund
          within 24h.
        </div>
      </div>
      <div v-else-if="!loading && statusText !== 'finished'">
        Please send the payment and wait for about<br />
        <strong>5 to 10 minutes</strong> to receive the confirmation on this
        page.
      </div>

      <div v-if="loading && statusText !== 'finished'">
        Thanks for your patience; the confirmation process might take up to
        <br />
        10 minutes.
      </div>

      <strong v-if="statusText === 'finished'">Thanks for your order!</strong>

      <div class="order_details__container">
        <div class="order_details__row">
          <div>
            <strong>Amount: </strong> {{ payAmount }}
            {{
              getCaption[0] && getCaption[0].caption
                ? getCaption[0].caption.toUpperCase()
                : ""
            }}
          </div>
          <div>
            <strong>Order Id</strong>
          </div>
        </div>
        <div class="order_details__row">
          <div>
            <strong>Status: </strong>
            <span
              class="status__label"
              :class="{
                status_success: statusText === 'finished',
                status_warning:
                  statusText === 'pending' && statusText === 'waiting',
                status_sending: statusText === 'sending',
              }"
              >{{ statusText === "finished" ? "Success" : statusText }}</span
            >
          </div>
          <div>
            {{ orderId }}
          </div>
        </div>
      </div>
      <div class="field copy_button">
        <div class="field__wrap">
          <label for="paymentAddress" class="field__label d-block text-left"
            >Recipient Address</label
          >
          <div class="position-relative">
            <textarea
              class="textarea__input"
              type="text"
              readonly
              id="paymentAddress"
              required=""
              v-model="paymentAddress"
            />
            <button class="copy-btn" @click="onCopyPaymentAddressClick">
              Copy
            </button>
          </div>
        </div>
      </div>
      <div class="field" v-show="pay_currency == 'xrp'">
        <div class="field__wrap">
          <label for="extra_id" class="field__label d-block text-left"
            >Destination Tag/Memo</label
          >
          <div class="position-relative">
            <input
              class="catalog__input"
              type="text"
              readonly
              id="extra_id"
              required=""
              v-model="extra_id"
            />
            <button class="copy-btn" @click="onCopyPaymentExtraIdClick">
              Copy
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="popup__btns">
      <br />
      <button
        v-if="!loading && statusText === 'pending'"
        class="button-stroke popup__button js-popup-close"
        @click="onPayClick"
      >
        I've now paid
      </button>
      <button
        v-if="statusText === 'finished'"
        class="button-stroke popup__button js-popup-close"
        @click="hide"
      >
        Close
      </button>
    </div>

    <!-- </div> -->
  </b-modal>
</template>

<script>
import ImagePreview from "~/components/elements/ImagePreview";

export default {
  name: "PaymentOrderModal",
  components: { ImagePreview },
  data() {
    return {
      loading: false,
      order: {},
      paymentUrl: "",
      paymentAddress: "",
      payAmount: "",
      pay_currency: "",
      currency: "",
      purchaseId: "",
      orderId: "",
      statusText: "pending",
      extra_id: "",
      paymentOptions: [
        { title: "xrp", name: "XRP", caption: "XRP", icon: "xrp" },
        {
          title: "usdttrc20",
          name: "USDT (TRC-20)",
          caption: "USDT",
          icon: "usdt",
        },
        {
          title: "busdbsc",
          name: "BUSD (BEP-20)",
          caption: "BUSD",
          icon: "busd",
        },
      ],
    };
  },

  computed: {
    assetName() {
      return this.$store.getters["order/base"].name;
    },
    getCaption() {
      return this.paymentOptions.filter(
        (item) => item.title === this.pay_currency
      );
    },
  },

  watch: {
    statusText() {},
  },

  methods: {
    show(data) {
      this.paymentUrl = data.url;
      this.order = data.order;
      this.paymentAddress = data.order.payment.pay_address;
      this.payAmount = data.order.payment.pay_amount;
      this.pay_currency = data.order.payment.pay_currency;
      this.purchaseId = data.order.payment.purchase_id;
      this.orderId = data.order.payment.order_id;
      this.currency = data.order.payment.price_currency;
      this.extra_id = data.order.payment.payin_extra_id;
      this.$refs["payment_order_modal"].show();
    },

    hide() {
      this.$refs["payment_order_modal"].hide();
    },

    onPayClick() {
      this.loading = true;
      this.$sse
        .create(
          process.env.BASE_URL + "/orders/verify?orderId=" + this.order._id
        )
        .on("order-verification", (data) => {
          this.statusText = data.payment_status;
        })
        .on("error", (err) =>
          console.error("Failed to parse or lost connection:", err)
        )
        .connect()
        .catch((err) => console.error("Failed make initial connection:", err));
    },

    onCopyPaymentAddressClick() {
      const copyText = document.getElementById("paymentAddress");
      navigator.clipboard.writeText(copyText.value);
      // document.execCommand("copy");
      // document.body.removeChild(el);
      this.$toast.success("Copied", {
        type: "success",
      });
    },
    onCopyPaymentExtraIdClick() {
      const copyText = document.getElementById("extra_id");
      navigator.clipboard.writeText(copyText.value);
      // document.execCommand("copy");
      // document.body.removeChild(el);
      this.$toast.success("Copied", {
        type: "success",
      });
    },
  },
};
</script>

<style scoped></style>
