<template>
  <b-modal
    ref="submit_order_modal"
    hide-header
    hide-header-close
    hide-footer
    centered
  >
    <div class="popup__item" style="display: block">
      <div class="popup__title h4">Place Order</div>
      <div class="popup__description">
        <div class="details__row">
          <div class="details__col">
            <div class="field">
              <div class="field__wrap">
                <div :class="{ 'form-group--error': $v.first_name.$error }">
                  <input
                    class="catalog__input"
                    type="text"
                    name="first_name"
                    :disabled="loading"
                    placeholder="First name"
                    required=""
                    v-model="first_name"
                    maxlength="34"
                  />
                  <div class="form-group--error_text">
                    <div v-if="$v.first_name.$error">
                      First name is required (more than 3 characters)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="details__col">
            <div class="field">
              <div class="field__wrap">
                <div :class="{ 'form-group--error': $v.last_name.$error }">
                  <input
                    class="catalog__input"
                    type="text"
                    name="last_name"
                    :disabled="loading"
                    placeholder="Last name"
                    required=""
                    v-model="last_name"
                    maxlength="34"
                  />
                  <div class="form-group--error_text">
                    <div v-if="$v.last_name.$error">
                      Last name is required (more than 3 characters)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="field__wrap">
            <div :class="{ 'form-group--error': $v.email_address.$error }">
              <input
                class="catalog__input"
                type="text"
                name="email_address"
                placeholder="email address"
                required=""
                v-model="email_address"
                maxlength="34"
              />
              <div class="form-group--error_text">
                <div v-if="$v.email_address.$error">
                  Email address is required
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="field__wrap">
            <div :class="{ 'form-group--error': $v.selectedCountry.$error }">
              <div class="field">
                <div class="field">
                  <v-select
                    class="v-select-style"
                    placeholder="Select country "
                    :options="getCountries()"
                    label="name"
                    v-model="selectedCountry"
                  >
                  </v-select>
                  <div class="form-group--error_text">
                    <div v-if="$v.selectedCountry.$error">
                      Choosing country is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="field__wrap">
            <div :class="{ 'form-group--error': $v.state.$error }">
              <input
                class="catalog__input"
                type="text"
                name="state"
                placeholder="State/Province"
                required=""
                v-model="state"
              />

              <div class="form-group--error_text">
                <div v-if="$v.state.$error">State is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="field__wrap">
            <div :class="{ 'form-group--error': $v.city.$error }">
              <input
                class="catalog__input"
                type="text"
                name="city"
                placeholder="City"
                required=""
                v-model="city"
              />

              <div class="form-group--error_text">
                <div v-if="$v.city.$error">city</div>
              </div>
            </div>
          </div>
        </div>

        <div class="details__row">
          <div class="details__col">
            <div class="field">
              <div class="field__wrap">
                <div :class="{ 'form-group--error': $v.city.$error }">
                  <input
                    class="catalog__input"
                    type="text"
                    name="address"
                    :disabled="loading"
                    placeholder="Stree address"
                    required=""
                    maxlength="34"
                    v-model="address"
                  />
                  <div class="form-group--error_text">
                    <div v-if="$v.address.$error">Address is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="details__col">
            <div class="field">
              <div class="field__wrap">
                <div :class="{ 'form-group--error': $v.zipCode.$error }">
                  <input
                    class="catalog__input"
                    type="text"
                    name="zip"
                    :disabled="loading"
                    placeholder="Zip / Postal code"
                    required=""
                    maxlength="34"
                    v-model="zipCode"
                  />
                  <div class="form-group--error_text">
                    <div v-if="$v.zipCode.$error">zip code is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup__btns">
        <button class="button popup__button" @click="saveCheckoutDetails">
          Next
        </button>
        <button
          class="button-stroke popup__button js-popup-close"
          @click="hide"
        >
          Cancel
        </button>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { UPDATE_ORDER } from "~/store/order";
import CModal from "~/components/modals/CModal";
import {
  required,
  minLength,
  email,
  maxLength,
} from "vuelidate/lib/validators";

export default {
  name: "SubmitOrderModal",
  components: { CModal },

  data() {
    return {
      loading: false,
      zipCode: "",
      address: "",
      city: "",
      first_name: "",
      last_name: "",
      selectedCountry: null,
      state: "",
      email_address: "",
      paymentUrl: "",
    };
  },

  mounted() {
    this.email_address = this.$auth.user?.email_address ?? "";
    this.first_name = this.$auth.user?.first_name ?? "";
    this.last_name = this.$auth.user?.last_name ?? "";
  },

  watch: {
    profile_email_address() {
      this.email_address = this.$auth.user?.email_address ?? "";
    },
    profile_first_name() {
      this.first_name = this.$auth.user?.first_name ?? "";
    },
    profile_last_name() {
      this.last_name = this.$auth.user?.last_name ?? "";
    },
    first_name() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, first_name: this.first_name },
      });
    },
    last_name() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, last_name: this.last_name },
      });
    },
    email_address() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, email_address: this.email_address },
      });
    },
    zipCode() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, zipCode: this.zipCode },
      });
    },
    state() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, state: this.state },
      });
    },
    address() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, address: this.address },
      });
    },
    city() {
      this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "checkoutDetails",
        value: { ...this.checkoutDetails, city: this.city },
      });
    },
    selectedCountry: {
      handler(value) {
        this.getShippingPrice();
        this.$store.dispatch(`order/${UPDATE_ORDER}`, {
          prop: "checkoutDetails",
          value: {
            ...this.checkoutDetails,
            selectedCountry: value,
          },
        });
      },
      deep: true,
    },
  },

  computed: {
    profile_email_address() {
      if (this.$auth.loggedIn) return this.$auth.user.email_address;
      return "";
    },
    profile_first_name() {
      if (this.$auth.loggedIn) return this.$auth.user.first_name;
      return "";
    },
    profile_last_name() {
      if (this.$auth.loggedIn) return this.$auth.user.last_name;
      return "";
    },
    getSelectedMerch() {
      try {
        return this.$store.state.order.merches;
      } catch (e) {
        return {};
      }
    },
    checkoutDetails() {
      return this.$store.getters["order/base"].checkoutDetails;
    },
  },

  validations: {
    email_address: { required, email },
    state: { required },
    first_name: { required, maxlength: maxLength(34), minlength: minLength(3) },
    last_name: { required, maxlength: maxLength(34), minlength: minLength(3) },
    city: { required },
    selectedCountry: { required },
    zipCode: { required },
    address: { required },
  },

  methods: {
    getCountries() {
      return this.$store.state.order.countries?.map((country) => {
        return { value: country._id, name: country.name };
      });
    },

    async saveCheckoutDetails() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.hide();
        this.$emit("submit", {
          ...this.$data,
        });
      }
    },

    async getShippingPrice() {
      // await this.$axios
      //   .get(
      //     `shippings/price?country[eq]=${this.selectedCountry.value}&merch[eq]=${this.getSelectedMerch[0]?._id}`
      //   )
      //   .then((response) => {
      await this.$store.dispatch(`order/${UPDATE_ORDER}`, {
        prop: "shipping",
        value: 0,
      });
      // });
    },

    show() {
      this.$refs["submit_order_modal"].show();
    },

    hide() {
      this.$refs["submit_order_modal"].hide();
    },
  },
};
</script>

<style scoped></style>
