<template>
  <div class="section description bt-0 ">
    <div class="description__center center">
      <div class="for_sellers__description__title">
        <h3 class=" h3">For Sellers</h3>
      </div>
      <div class="for_sellers__description ">
        <div>
          <div class="description__preview">
            <img class="some-icon" srcset="/img/landing/wb-sec.png" src="/img/landing/wb-sec.png" alt="Cubes">
            <img class="some-icon-dark" srcset="/img/landing/wb-sec.png" src="/img/landing/wb-sec.png"
                 alt="Cubes">
          </div>
        </div>
        <div class="for_sellers__description__content">
          <h4 class="description__title h4">How It Works</h4>
          <p>
            The process is straightforward! All you need to do is connect your wallet, and you will be able to sell
            merchandise based on the NFTs you own. The <strong>OpenMerch</strong> is only available to the <strong>TLR
            holders</strong>, and TLR will
            be
            the first collection this platform serves.
          </p>
          <p>
            Each transaction will give you 80% of the profit, 60% will be yours, and 20% will be shared among the
            collection holders. For example, if you own a TLR, you make money whenever anyone sells any merchandise from
            this collection.
          </p>
          <p>
            The 20% distribution tax will create an unstoppable force from the community to push your products forward.
            So
            thousands of people will back you up to help you sell as much as possible.
            The crypto payments will be sent to you on a weekly basis…and you can consider reinvesting the money into
            another NFT to make even more passive Income through OpenMerch ;)
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LForSellers"
}
</script>

<style scoped>

</style>
