<template>
  <div class="section description l-hero">
    <div class="description__center center">
      <div class="description__wrap">
        <div class="description__stage">
          The bridge between digital assets and the physical world
        </div>
        <h1 class="description__title h1">
          Summon your <br />
          favorite NFT on <br />
          physical products
        </h1>
        <div class="description__text">
          Each purchase supports the NFT owner, the entire collection, and the
          NFT community
        </div>
        <div class="description__btns text-center">
          <nuxt-link class="button-stroke description__button" to="/explore"
            >Trending Products</nuxt-link
          >
        </div>
      </div>
      <div class="description__gallery">
        <div class="description__preview">
          <img
            class="some-icon"
            srcSet="/img/landing/wb-hero-2.png"
            src="/img/landing/wb-hero-2.png"
            alt="Cube"
          />
          <img
            class="some-icon-dark"
            srcSet="/img/landing/wb-hero-2.png"
            src="/img/landing/wb-hero-2.png"
            alt="Cube"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HHero",
};
</script>

<style scoped>
.description__stage {
  font-size: 13px !important;
}

.description__title {
  /*font-size: 50px !important;*/
}
</style>
