<template>
  <div class="section description bt-0 holder-get-paid">
    <div class="description__center center">
      <div class="for_sellers__description">
        <div>
          <div class="description__preview">
            <img
              class="some-icon"
              srcset="/img/landing/holder-get-paid.png"
              src="/img/landing/holder-get-paid.png"
              alt="Cubes"
            />
            <img
              class="some-icon-dark"
              srcset="/img/landing/holder-get-paid.png"
              src="/img/landing/holder-get-paid.png"
              alt="Cubes"
            />
          </div>
        </div>
        <div class="for_sellers__description__content">
          <h4 class="description__title h4">Holders Get Paid</h4>
          <p>
            The process is straightforward! All you need to do is connect your
            wallet, and you will be able to sell merchandise based on the NFTs
            you own. The <strong>OpenMerch</strong> is only available to the
            <strong>TLR holders</strong>, and TLR will be the first collection
            this platform serves.
          </p>
          <p>
            Each transaction will give you 80% of the profit, 60% will be yours,
            and 20% will be shared among the collection holders. For example, if
            you own a TLR, you make money whenever anyone sells any merchandise
            from this collection.
          </p>
        </div>
      </div>

      <div class="under-backgroud__line"></div>
    </div>
  </div>
</template>
<script>
export default {
  name: "LHolderGetPaid",
};
</script>

<style scoped>
.holder-get-paid {
  position: relative;
}
.under-backgroud__line {
  position: absolute;
  width: 100%;
  padding: 50px 0;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 25%;
  background: linear-gradient(
    180deg,
    rgba(221, 227, 230, 0.3) 3.65%,
    rgba(162, 177, 183, 0.3) 86.98%
  );
}
</style>
