<template>

  <div class="section description bt-0">
    <div class="description__center center">
      <div class="how_to_buy">
        <h3 class="how_to_buy__title h3">How to buy</h3>
      </div>

      <div>
        <div class="how_to_buy_card ">
          <div class="card">
            <div class="card__body">
              <h4 class="how_to_buy_card__title h4">
                Pick Your NFT
              </h4>
              <p>
                Choose your desired collection and find the NFT you are looking for. Some NFTs are so beautiful to only
                live on the blockchain. So, you will be able to summon them to the physical world and by your side.

              </p>
            </div>
          </div>
          <div>
            <img src="/img/landing/WB01.png">
          </div>
        </div>
        <div class="how_to_buy_card ">
          <div class="card">
            <div class="card__body">
              <h4 class="how_to_buy_card__title h4">
                Select Your Product
              </h4>
              <p>
                Now that you have your NFT, it’s time to pick the product and apply the customization. Then you can pay
                via cryptocurrency, and OpenMerch will handle the rest.
                Your purchase will support the owner, the community, and the creator of the NFT. So when you buy
                something, you are pushing NFT/Cryptocurrency culture one step forward.

              </p>
            </div>
          </div>
          <div>
            <img src="/img/landing/wb02.png">
          </div>
        </div>
        <div class="how_to_buy_card ">
          <div class="card">
            <div class="card__body">
              <h4 class="how_to_buy_card__title h4">
                Receive & Enjoy
              </h4>
              <p>
                Congratulations 🎉, your unique and maybe 1/1 product will be delivered to your door.
                Enjoy it and be proud of being the pioneer of the merchandise revolution.
              </p>
            </div>
          </div>
          <div>
            <img src="/img/landing/wb03.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HHero"
}
</script>

<style scoped>
</style>
