<template>
  <div>
    <div class="section discover">
      <div class="discover__center center">
        <h6 class="description__title h6">How to buy?</h6>
        <h3 class="discover__title h3 mb-0">How it works?</h3>
        <div class="l__how_it_works">
          <div class="l__how_it_works__buttons">
            <div
              class="l__how_it_works__button"
              :class="{ active: step === 1 }"
              @click="step = 1"
            >
              <span class="step-span"> Step 1 </span>
              <div>
                <h4 class="h4">Buy your favourite products</h4>
                <p>
                  The process is straightforward! All you need to do is connect.
                </p>
              </div>
            </div>

            <div
              class="l__how_it_works__button"
              :class="{ active: step === 2 }"
              @click="step = 2"
            >
              <span class="step-span"> Step 2 </span>
              <div>
                <h4 class="h4">Support your community</h4>
                <p>
                  The process is straightforward! All you need to do is connect.
                </p>
              </div>
            </div>

            <div
              class="l__how_it_works__button"
              :class="{ active: step === 3 }"
              @click="step = 3"
            >
              <span class="step-span"> Step 3 </span>
              <div>
                <h4 class="h4">Get profit as a holder</h4>
                <p>
                  The process is straightforward! All you need to do is connect.
                </p>
              </div>
            </div>
          </div>

          <div class="l__how_it_works__contents">
            <div class="l__how_it_works__content" v-if="step === 1">
              <img src="/img/landing/step1.png" />
            </div>
            <div class="l__how_it_works__content" v-if="step === 2">
              <img src="/img/landing/step1.png" />
            </div>
            <div class="l__how_it_works__content" v-if="step === 3">
              <img src="/img/landing/step1.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "LHowItWorks",

  data() {
    return {
      step: 1,
    };
  },
};
</script>


<style scoped>
.discover .card {
  max-width: 100% !important;
}

.l__how_it_works {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-content: center;
  align-items: center;
}

.l__how_it_works__button.active,
.l__how_it_works__button:hover {
  background: #f0f2f3;
}

.l__how_it_works__button {
  border-radius: 30px;
  padding: 15px 30px;
  line-height: 1.3rem;
  cursor: pointer;
  margin-top: 10px;
}

.l__how_it_works__button p {
  color: #777e90;
}

.step-span {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #3772ff;
}

.l__how_it_works__contents img {
  margin: 10px;
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l__how_it_works {
    display: flex;
    margin-top: 10px;
    grid-template-columns: inherit;
    flex-direction: column-reverse !important;
  }

  .l__how_it_works .l__how_it_works__content {
    margin: 25px 0;
  }
}
</style>
