<template>
  <div class="section discover">
    <div class="discover__center center">
      <h6 class="description__title h6">How to buy?</h6>
      <h3 class="discover__title h3 mb-0">New Collection</h3>
      <div class="how_new_collections_list">
        <ICardHowToBuyNewCollectionItem
            :image="'/TLR.png'"
            :alt="'The Last Raptor'"
            :name="'The Last Raptor'"
            :product-image="'/img/merch/convas.jpeg'"
            :token_id="''"/>
        <ICardHowToBuyNewCollectionItem
            :image="'/TLR.png'"
            :alt="'The Last Raptor'"
            :name="'The Last Raptor'"
            :product-image="'/img/merch/convas.jpeg'"
            :token_id="''"/>
        <ICardHowToBuyNewCollectionItem
            :image="'/TLR.png'"
            :alt="'The Last Raptor'"
            :name="'The Last Raptor'"
            :product-image="'/img/merch/convas.jpeg'"
            :token_id="''"/>
        <ICardHowToBuyNewCollectionItem
            :image="'/TLR.png'"
            :alt="'The Last Raptor'"
            :name="'The Last Raptor'"
            :product-image="'/img/merch/convas.jpeg'"
            :token_id="''"/>
        <ICardHowToBuyNewCollectionItem
            :image="'/TLR.png'"
            :alt="'The Last Raptor'"
            :name="'The Last Raptor'"
            :product-image="'/img/merch/convas.jpeg'"
            :token_id="''"/>
        <ICardHowToBuyNewCollectionItem
            :image="'/TLR.png'"
            :alt="'The Last Raptor'"
            :name="'The Last Raptor'"
            :product-image="'/img/merch/convas.jpeg'"
            :token_id="''"/>
      </div>

    </div>
  </div>
</template>

<script>
import ICardHowToBuyNewCollectionItem from '../Item/ICardHowToBuyNewCollectionItem.vue';
export default {
    name: "LHowToBuyNewCollection",
    components: { ICardHowToBuyNewCollectionItem }
};
</script>

<style scoped>
.discover .card{
max-width: 100% !important;
}

@media only screen and (max-width: 767px){

.how_new_collections_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-top: 15px;
}

}
</style>
