<template>
  <div class="section hot">
    <div class="hot__center center">
      <div class="hot__wrapper">
        <h3 class="hot__title h3">Trending Products</h3>
        <div class="hot__lists">
          <LHotCard />
          <LHotCard />
          <LHotCard />
          <LHotCard />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LHotCard from "../Item/LHotCard.vue";
export default {
  name: "LTrending",
  data() {
    return {
      sort: "",
      ASC: -1,
      page: 1,
      limit: 8,
      assets: [],
    };
  },
  methods: {
    async fetchAssets(event) {
      const { sort, ASC } = JSON.parse(event.target.value);
      this.sort = sort;
      this.ASC = ASC;
      this.page = 1;
      this.limit = 8;
      await this.$axios
        .get(
          `${apiRoutes.ASSETS}?sort=${sort}&ASC=${ASC}&page=${this.page}&limit=${this.limit}`
        )
        .then((response) => {
          this.assets = response.data;
        });
    },
  },
  components: { LHotCard },
};
</script>

<style scoped>
.section.hot .hot__lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px
}

@media only screen and (max-width: 767px){

.section.hot .hot__lists {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px
}

}
</style>
