<template>
  <div class="section description bt-0 why-openmerch-section">
    <div class="description__center center">
      <div class="for_sellers__description">
        <div>
          <div class="description__preview">
            <img
              class="some-icon"
              srcset="/img/landing/why-open-merch.png"
              src="/img/landing/why-open-merch.png"
              alt="Cubes"
            />
            <img
              class="some-icon-dark"
              srcset="/img/landing/why-open-merch.png"
              src="/img/landing/why-open-merch.png"
              alt="Cubes"
            />
          </div>
        </div>
        <div class="for_sellers__description__content">
          <h6 class="description__title h6">How to buy?</h6>
          <div class="for_sellers__description__title text-dark mt-0">
            <h3 class="h3">Why OpenMerch</h3>
          </div>
          <p>
            The process is straightforward! All you need to do is connect your
            wallet, and you will be able to sell merchandise based on the NFTs
            you own.
          </p>





          <div class="why-item">
            <div>
              <img width="25" src="/img/landing/tick.svg"/>
            </div>
            <div>
              The process is straightforward!
            </div>
          </div>

          <div class="why-item">
            <div>
              <img  width="25" src="/img/landing/tick.svg"/>
            </div>
            <div>
              Each transaction will give you 80% of the profit.
            </div>
          </div>

          <div class="why-item">
            <div>
              <img  width="25" src="/img/landing/tick.svg"/>
            </div>
            <div>
              and 20% will be shared among the collection holders.
            </div>
          </div>

          <div class="why-item">
            <div>
              <img width="25" src="/img/landing/tick.svg"/>
            </div>
            <div>
              The 20% distribution tax will create an unstoppable.
            </div>
          </div>

          <div class="why-item">
            <div>
              <img width="25" src="/img/landing/tick.svg"/>
            </div>
            <div>
               Will back you up to help you sell as much as possible.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LWhyOpenmerch",
};
</script>

<style scoped>
</style>
