<template>
   
    <div class="row justify-items-center justify-content-center center_store center" style="">
      <div
        class="col-12 col-md-6 justify-content-center vertical-center"
        style=""
      >
        
        <div class="description__stage_store">
          The bridge between digital assets and the physical world
        </div>
        <h1 class="" >
          Your favourite NFT on quality goods
        </h1>
        

        <div class="description__text">
          Each purchase supports the NFT owner, the entire collection, and the
          NFT community
        </div>
      </div>
      <div class="col-12 col-md-6 header__image_store" style="">
        <img
          src="/img/landing/Hero-store.png"
          alt="Cube"
        />
        <!-- <img
            width="500"
            class="some-icon-dark"
            srcSet="/img/landing/.png"
            src="/img/landing/Hero-store.png"
            alt="Cube"
          /> -->
      </div>
    </div>
    
  
</template>

<script>
export default {
  name: "ProfileHeader",
};
</script>

<style scoped>
.description__stage {
  font-size: 13px !important;
}

.description__title {
  /*font-size: 50px !important;*/
}
</style>
