<template>
  <div class="catalog__center center text-center">
    <div class="error-404">
      <br><br>
      <h1>This page doesn’t exist</h1>
      <p>The link you clicked on may be broken or no longer exist.</p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'error404',
  props: {
    error: {
      type: Object,
      default: () => {},
    },
  },
};
</script>
