<template>
  <div class="section-pt20 catalog">
    <div class="catalog__center center text-center">
        <div class="error-500">
          <br><br>
          <h1>This page doesn’t exist</h1>
          <p>The link you clicked on may be broken or no longer exist.</p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "error500"
}
</script>

<style scoped>

</style>
